/* 小黑屋 */
.what-ban
.comment-wrap .header .title-h2 .head-icon
.fjw-point header h2 .head-icon
  display none !important

.crumbs em
.fjw-point
  background-color var(--c-background) !important

.notice-list::before
.fjw-point .point-wrap .user-point .line
.ban-detail .content-box .link-box .box-left .box-line
  background-color var(--c-border) !important

.select-wrap .select-txt
  background-color transparent !important

.banner-bg-b
  background-image none !important

.publicity .header
.my-info .about .ban-user-info .name
.ban-detail .content-box .punish-title
  color var(--c-title) !important

.notice-list .time
  color var(--c-text) !important

.ban-detail .content-box .punish-title .moral strong
  color var(--c-accent) !important

.pub-list .info dl
.ban-detail .content-box .bk-text-con
.ban-detail .content-box .link-box
.fjw-point header
  border-color var(--c-border) !important

.ban-detail .content-box .info-wrap
.fjw-point
  border 1px solid var(--c-border)

.ban-detail .content-box
  margin-bottom 60px !important

.fjw-entry
  width auto !important

.ban-header
  padding-right 30px !important

  .top-ul
    border-radius 4px
    background-color var(--c-background) !important

.ban-detail .content-box .info-wrap
.comment-wrap
  box-shadow none !important
  background-color var(--c-background) !important

.ban-modal
.ban-modal-h5
  border 1px solid var(--c-border)
  background-color var(--c-background)

.fjw-entry .blackroom
.fjw-entry .blackroom-rule
  transform rotate(0) !important

.fjw-entry .entrance
  top 107px
  bottom auto
  left 30px
  right auto
  width 127px !important
  height 30px
  text-align center
  line-height 30px

  &::before
    content '加入风纪委员会'
    display block
