/* 主体 */
.contri-condition .contri-select.active::after
  display none !important

.ticket-container
.list-info .list-li.even
  background-color var(--c-background) !important

.list-info .list-li.odd
.song-change
  background-color var(--c-hover) !important

#app
  background-color transparent !important

.music-upload-wrapper .upload-music-bar-wrapper .pload-music-bar-btn .pload-music-bar-btn-text
.compila-condition .compila-type
.list-title
.list-theme
.song-change
  color var(--c-title) !important

.music-upload-wrapper .upload-music-bar-wrapper .pload-music-bar-btn .pload-music-bar-btn-tips
.compila-not-find .compila-not-find-tips
.contri-condition .contri-select
.contri-condition .contri-sort
.list-share .font24
.list-info .list-li .song-title .iconfont
  color var(--c-text) !important

.contri-condition .contri-select.active
.list-info .list-li .song-title .song-float:hover
  color var(--c-accent) !important

.share-board .share-btn .share-type.list-border
  border-color var(--c-border) !important

.contri-condition .contri-select.active
  border-color var(--c-accent) !important

.list-info
  border 0 !important

.contri-condition .contri-sort .contri-sort-type
.share-board .share-btn
  border 1px solid var(--c-border) !important

.pager .pages .page-item button
  padding 0 10px
