/* 歌单列表 */
.list-info
.follow-container .follow-right .follow-intro .follow-fold
  background-color var(--c-background) !important

.creation-li .creation-left .creation-shadow
.song-li .song-left .song-img
.song-li .song-left .song-shadow
  background-color var(--c-hover) !important

.song-intro
.album-title
.mycollect-theme
.mycollect-padding .mycollect-title
  color: var(--c-title) !important

.font24
.song-lrc
.hotsong-li .hotsong-upname
.mycollect-padding .mycollect-upname
.mycollect-padding .mycollect-publish
  color var(--c-text) !important

.share-board .list-share:hover .iconfont
.share-board .song-share:hover .iconfont
.follow-container .follow-right .follow-up
.follow-container .follow-right .follow-intro .follow-fold
.song-title .font18
.hotsong-li .font24:hover
  color var(--c-accent) !important

.song-comment
.song-title
.mycollect-info
  border-color var(--c-border) !important

.creation-li .creation-left .creation-shadow
.song-li .song-left .song-shadow
  border-color var(--c-accent) !important

.list-info
  border-radius 4px

.bb-comment
  padding 10px

.bb-comment
.gridview-sidebar
  border-radius 4px
  background-color var(--c-background) !important