/* 主体 */
footer
.footer-public
.bui-sns-info
.g-title .btn .ic-gift
  display none !important

.banner
.listing-ul li
.pagination a.backhome
.pagination select
.bili-comment-container
.pop-nav
  background-color var(--c-background) !important

.nav-notice li
.nav-notice li.hover
.nav-notice li:hover
.game-more
a.listing-btn:hover
.listing-sort a:hover
.pagination a.backhome:hover
.gift-recommend .gift-box
  background-color var(--c-hover) !important

.gift-recommend .gift-box .info .price-box .price-old:before
  background-color var(--c-border) !important

#page .game
#page .game .game-box h4
.gift-recommend .gift-box .info .price-box em
.gift-all .gift-box .info .price-box em
  background-color transparent !important

.listing-sort a.active
.gift-recommend .g-title h4:before
.gift-all .gift-box:hover
  background-color var(--c-accent) !important

.listing-sort a.active
  color var(--c-white) !important

#page .game .game-box dl dt
  color var(--c-accent) !important

.nav-notice li
.banner-p a
.breadcrumb-item
a.listing-btn
.listing-sort a
.pagination a.backhome
.pagination select
.gift-all .gift-box
  border-color var(--c-border)

.nav-notice li.hover
.nav-notice li:hover
.banner-p h3
#page .game .game-box h4 span
a.listing-btn:hover
.listing-sort a.active
.listing-sort a:hover
.pagination a.backhome:hover
.banner-p a:hover
  border-color var(--c-accent)

.banner
#page .game .game-box
#page .game .game-box-1
#page .game .game-box-3
.game-box-others
.breadcrumb h2
.listing-ul li
  border 0

.listing-ul li
.pop-nav
  box-shadow none

#page .game .game-box
  border-radius 4px
  background-color var(--c-background)
  overflow hidden

/* banner */
.banner .slides-pagination
  bottom -1px
  background-image none
  background-color var(--c-bg-header)
  backdrop-filter blur(5px)

.banner .slides-pagination li
  border-radius 50%
  background-color var(--c-scroll)
  background-image none

  &.selected
    background-color var(--c-accent)

/* 底部导航 */
.nav-notice .clearfix
  display flex
  justify-content space-between
  align-items center

  li
    float none
    flex 1
    width auto
    transition all 0.3s ease-in-out

/* 清除按钮样式 */
button
.btn
  background-color transparent !important
  color var(--c-title) !important

  &::after
    content none !important