/* wiki 样式 */
.ref-tooltip-arrow:before
  display none !important

.game-bg
.wiki-header .wiki-nav-celling
.wiki-header .wiki-nav .ul-menu-1 .li-menu-1 .ul-menu-2
.wiki-header .wiki-nav .ul-menu-1 .li-menu-1 .ul-menu-2 .li-menu-2 .ul-menu-3
.vectorMenu .menu
.ref-tooltip-text
.wiki-header .wiki-nav.wiki-nav-celling
  background-color var(--c-background) !important

.wiki-header .wiki-nav .ul-menu-1 .li-menu-1:hover
#simpleSearch1 #mw-searchButton
#searchform
.game-aggregation-wrap .game-card-list .game-card-list-item .game-card-button-lt
.game-card-button-rt
#siteNotice #localNotice
#siteNotice .globalNotice
.page-MediaWiki_Sitenotice .mw-content-ltr
div.thumbinner
.toc
.mw-warning
.toccolours
code
li.gallerybox div.thumb
.loadbox-navbox
.catlinks
.mw-ui-checkbox:not(#noop) [type='checkbox'] + label:before
.vectorMenu li a:hover
  background-color var(--c-hover) !important

.wiki-header
.wiki-header .wiki-nav .nav-search-box
#simpleSearch1
#simpleSearch1 #searchDelete
#simpleSearch1 #searchInput
#simpleSearch1 #searchButton
.sidebar-card
#content .loadbox-navbox > p
.fp-section
.wiki-header .wiki-nav
.home-box-bbc
  background-color transparent !important

.carousel.big-carousel .carousel-indicators li.active
.mw-ui-checkbox:not(#noop) [type='checkbox']:enabled:checked + label:before
  background-color var(--c-accent) !important

h2 span
code
.title-1
.update-log a
  color var(--c-title) !important

.game-aggregation-wrap .other-game-list-item .game-name
.box-zt
  color var(--c-text) !important

h1
h2
h3
h4
h5
h6
table
code
.wiki-header .wiki-nav .ul-menu-1 .li-menu-1
.carousel.big-carousel .carousel-indicators li
.carousel.big-carousel .carousel-indicators li.active
#siteNotice #localNotice
#siteNotice .globalNotice
.page-MediaWiki_Sitenotice .mw-content-ltr
div.thumbinner
li.gallerybox div.thumb
.loadbox-navbox
.toc
.mw-warning
.toccolours
.catlinks
.ref-tooltip-text
.mw-ui-checkbox:not(#noop) [type='checkbox'] + label:before
.fp-section
  border-color var(--c-border) !important

.carousel.big-carousel .carousel-indicators li.active
.mw-ui-checkbox:not(#noop) [type='checkbox']:enabled:checked + label:before
  border-color var(--c-accent) !important

.caret
.ref-tooltip-arrow
.ref-tooltip-arrow:before
.ref-tooltip-arrow:after
  border-top-color var(--c-border) !important

.ref-tooltip-arrow:after
  border-top-color var(--c-background) !important

.home-box-n
.home-box-bbc
.wiki-header .wiki-nav .ul-menu-1 .li-menu-1 .ul-menu-2 .li-menu-2 .ul-menu-3
  border 0 !important

.wiki-header .wiki-nav .ul-menu-1 .li-menu-1
.wiki-header .wiki-nav .nav-search-box
  border-bottom-width 0 !important

.wiki-header .wiki-nav
.wiki-header .wiki-nav .ul-menu-1 .li-menu-1 .ul-menu-2
.wiki-header .wiki-nav .ul-menu-1 .li-menu-1 .ul-menu-2 .li-menu-2 .ul-menu-3
.vectorMenu .menu
  border 1px solid var(--c-border)

.wiki-header .wiki-nav .form-box
  border-left 1px solid var(--c-border)

.wiki-header .wiki-nav .ul-menu-1 .li-menu-1 .ul-menu-2
.wiki-header .wiki-nav .ul-menu-1 .li-menu-1 .ul-menu-2 .li-menu-2 .ul-menu-3
  border-top-width 0

.mw-ui-input
  box-shadow none

.title-1
  background-image none

.game-bg
  margin-bottom 0