// 消息
#v6_pl_content_submessageList
.webim_contacts_mod .webim_contacts_bd
  background-color var(--c-background)

.bubble_l .bubble_cont
.private_list_box .private_body .private_list:hover
.private_dialogue_box .private_dialogue_body .msg_bubble_list .S_bg2
.private_dialogue_box .private_dialogue_body .msg_bubble_list .W_btn_b
  background-color var(--c-hover)

.private_list_box .private_body .private_list
.WB_webim_page .webim_contacts_mod .webim_contacts_list .contacts
  background-color transparent

.private_dialogue_box .private_dialogue_body .cont .W_btn_c:hover em
  color var(--c-accent)

.bubble_l .bubble_cont
.private_dialogue_box .private_dialogue_body .msg_bubble_list .W_btn_b
.private_dialogue_box .private_dialogue_body .msg_bubble_list .S_line1
  border-color var(--c-border)

.bubble_l .bubble_cont .bubble_arrow .W_arrow_bor i
  border-top-color var(--c-border)

.bubble_l .bubble_cont .bubble_arrow .W_arrow_bor em
  border-top-color var(--c-background)
  border-right-color var(--c-background)

.private_dialogue_box .private_dialogue_head
  border 0

#v6_pl_content_submessageList
  border-radius 4px

.WB_webim_page .webim_contacts_mod
.WB_webim_page .webchat_enter
  box-shadow none

.WB_cardwrap
  margin-top 20px

.WB_main_r
  margin-right 0

#v6_pl_rightmod_helpat
#v6_pl_rightmod_feedback
#v6_pl_rightmod_helpcomment
#v6_pl_rightmod_feedback
#v6_pl_rightmod_helplike
#v6_pl_content_messagecontacts
  margin-left 16px

#v6_pl_content_atmeweibo
#v6_pl_content_commentlist
#v6_pl_content_likelist
#v6_pl_content_submessageList
  width auto

.private_dialogue_box .private_dialogue_body .cont .W_btn_c
  border 0
  background-color transparent !important
  color var(--c-title) !important

  &::after
    content none !important