/* 专栏 */
.nav-tab-bar .logo
.nav-tab-bar .tab-item:before
.page-content .left-side .carousel
.page-content .left-side .partitio-name
.page-content .right-side .rank-module
.page-content .right-side .up-list
.page-content .right-side .more .top-bar
.page-content .right-side .more .link .icon
.page-content .right-side .more .help .icon
  display none !important

.page-content .right-side .more a:hover
.page-content .right-side .search-module .search-block .search-word-panel .history-item:hover
.page-content .right-side .search-module .search-block .search-word-panel .suggest-item:hover
.page-content .left-side .article-list .article-list-holder .article-item:hover
.nav-tab-bar .tab-item.on
.nav-tab-bar .tab-item:hover
  background-color var(--c-hover)

.page-content .right-side .more .help .info
.page-content .right-side .more .link .info
.page-content .left-side .article-list .article-list-holder .article-item .item-holder .article-desc
.page-content .left-side .article-list .article-list-holder .article-item .item-holder .article-info-bar
.page-content .left-side .article-list .article-list-holder .article-item .item-holder .article-info-bar .up-content .nick-name
.page-content .left-side .article-list .article-list-holder .article-item .item-holder .article-info-bar .category
.page-content .left-side .article-list .article-list-holder .article-item .item-holder .article-info-bar .reply
  color var(--c-text) !important

.nav-tab-bar .tab-item.on span
  color var(--c-accent) !important

.categories-bar
.page-content .right-side .search-module .search-block .search-word-panel .panel-title .split-line
  border-color var(--c-border)

.nav-tab-bar
  top 145px

.nav-tab-bar .tab-item
  margin-top 0
  margin-right 0
  margin-left -130px
  height 40px
  border-radius 10px
  text-align center
  line-height 40px

.page-content
  display -ms-flexbox
  display flex
  -ms-flex-wrap wrap
  flex-wrap wrap

.page-content .left-side
.page-content .right-side
  margin 0
  width 100%

.page-content .left-side
  order 2

.page-content .right-side
  order 1
  position initial !important

.page-content .right-side.scroll
  position relative

.page-content .right-side .search-module .search-block
  margin 0 auto
  padding 0 30px 0 10px
  width 500px
  border-color var(--c-border)
  background-color var(--c-hover)

.page-content .right-side .search-module .search-block input
  margin 0
  width 100%
  height 100%
  background-color transparent !important

.page-content .right-side .more
  display -ms-flexbox
  display flex
  justify-content center

.page-content .right-side .more a
  margin 0 20px
  padding 10px 30px
  width 100px
  border 1px solid var(--c-border)
  border-radius 4px

.page-content .right-side .more .help
.page-content .right-side .more .link
  position initial
  margin 0
  padding 0
  text-align center

.page-content .right-side .search-module .search-block .search-word-panel
  border-color var(--c-border)
  background-color var(--c-background)

.page-content .right-side .search-module .search-block .search-word-panel .panel-title p span
  background-color var(--c-background)
  color var(--c-text)

.page-content .right-side .search-module .search-block .search-word-panel .history-item a
.page-content .right-side .search-module .search-block .search-word-panel .suggest-item a
  width auto

.article-list
  margin-top 20px

.article-list .article-list-holder
  padding 20px
  border-radius 4px
  background-color var(--c-background)

.page-content .left-side .article-list .article-list-holder .article-item
  border-color var(--c-border)
  background-color transparent

.page-content .left-side .article-list .article-list-holder .article-item.item-tp-3 .item-holder .article-content
.page-content .left-side .article-list .article-list-holder .article-item.item-tp-4 .item-holder .article-content
  display flex
  justify-content space-between

.page-content .left-side .article-list .article-list-holder .article-item.item-tp-3 .item-holder .article-content .article-left-block
.page-content .left-side .article-list .article-list-holder .article-item.item-tp-4 .item-holder .article-content .article-left-block
  flex 1

.to-top
  width 45px !important
  height 45px !important
  background-position -63px 9px !important

.categories-bar .tag-item.on
  border-color var(--c-accent)
  color var(--c-accent)