/* 详情 */
.right-side-bar .to-comment
.up-info-holder .fixed-box .up-article-list-block
.up-info-holder .fixed-box .more
.draft-holder-block
.author-container
.bili-footer
  display none !important

.up-info-holder .fixed-box .up-info-block .up-info-right-block .up-name
.title-container .title
  color var(--c-title)

.up-info-holder .fixed-box .up-info-block .up-info-right-block .row-2
.up-info-holder .fixed-box .up-info-block .up-info-right-block .fans-num
.up-info-holder .fixed-box .up-info-block .up-info-right-block .view-num
.title-container .info span
.article-holder
.authority
.original
.article-action
  color var(--c-text)

.article-action .ops i:hover
  color var(--c-accent)

.article-action
  border-color var(--c-border)

.up-info-holder .fixed-box .follow-btn-holder .follow-btn
.up-info-holder .fixed-box .follow-btn-holder .follow-btn:hover
  border-color var(--c-accent)
  background-color var(--c-accent)
  color var(--c-white)

.page-container
  padding 0
  width auto
  background-color var(--c-background)

.article-holder
.head-container
  max-width none

.article-action .more .more-ops-list
  background-color var(--c-background)
  color var(--c-text)

.up-info-holder
.up-info-holder .fixed-box
  margin 0

.up-info-holder
  margin-bottom 40px

.up-info-holder .fixed-box
.up-info-holder.to-bottom .fixed-box
  position initial