/* 详情 */
.right-side-bar .to-comment
.up-info-holder .fixed-box .up-article-list-block
.up-info-holder .fixed-box .more
.draft-holder-block
.author-container
.bili-footer
.up-info-holder .fixed-box .rightside-article-list-btn .icon-list
  display none !important

.coin-wrap
.bili-dialog-bomb .appeal-box
  background-color var(--c-background)

#article-list-index .index-holder .article-item .point
  background-color var(--c-border)

.up-info-holder .fixed-box .up-info-block .up-info-right-block .up-name
#article-list-index .article-list-title
.article-list-holder-block .article-list-plane .button#article-list-btn .label
.article-list-holder-block .article-list-plane .button#article-list-btn .title
.bili-dialog-bomb .appeal-box .wrap .container .question
  color var(--c-title) !important

.up-info-holder .fixed-box .up-info-block .up-info-right-block .row-2
.title-container .info span
.article-list-holder-block .article-list-name
.article-list-holder-block .article-list-plane .button.off .label
.bili-dialog-bomb .appeal-box .wrap .container .textarea .memo
.article-action .ops i
  color var(--c-text) !important

.coin-wrap .coin-title i
.up-info-holder .fixed-box .up-info-block .up-info-right-block .up-name.b-vip-red
.article-action .ops span:hover>i
.article-action .ops .share-container a:hover i
  color var(--c-accent) !important

.article-action
.tag-container .tag-item .tag-content
.up-info-holder .fixed-box .rightside-article-list-btn .label
.article-list-holder-block .article-list-plane .button#article-list-btn .label
.article-list-holder-block .article-list-plane .button#article-list-btn .title
.bili-dialog-bomb .appeal-box .wrap .container .options .option .checkbox
.slim-border:after
  border-color var(--c-border)

.page-container
  padding 0
  width auto
  background-color var(--c-background)

.article-holder
.head-container
  max-width none

.article-action .more .more-ops-list
  background-color var(--c-background)
  color var(--c-text)

.up-info-holder
.up-info-holder .fixed-box
  margin 0

.up-info-holder
  margin-bottom 40px

.up-info-holder .fixed-box
.up-info-holder.to-bottom .fixed-box
  position initial

.up-info-holder .fixed-box .rightside-article-list-btn
  width 310px
  box-shadow none

#article-list-index
  border-left 1px solid var(--c-border)
  box-shadow none

.article-holder .card
  border-color var(--c-border)
  background-color var(--c-hover)

.article-list-holder-block .article-list-plane
  display flex
  justify-content space-between
  border-color var(--c-border)

.article-list-holder-block .article-list-plane .button
  flex 1
  width auto

.article-list-holder-block .article-list-plane .button:hover
  background-color var(--c-hover)

.bili-dialog-bomb .appeal-box .header
.bili-dialog-bomb .appeal-box .submit
  border-color var(--c-border)
  background-color var(--c-background)

.article-list-holder-block .article-list-plane .button
  background-color transparent !important

  &::after
    content none !important