/* 详情 */
.right-side-bar .to-comment
.up-info-holder .fixed-box .up-article-list-block
.up-info-holder .fixed-box .more
.draft-holder-block
.author-container
.bili-footer
  display none !important

.up-info-holder .fixed-box .up-info-block .up-info-right-block .up-name
  color var(--c-title) !important

.up-info-holder .fixed-box .up-info-block .up-info-right-block .row-2
.title-container .info span
  color var(--c-text) !important

.article-action
.tag-container .tag-item .tag-content
  border-color var(--c-border)

.page-container
  padding 0
  width auto
  background-color var(--c-background)

.article-holder
.head-container
  max-width none

.article-action .more .more-ops-list
  background-color var(--c-background)
  color var(--c-text)

.up-info-holder
.up-info-holder .fixed-box
  margin 0

.up-info-holder
  margin-bottom 40px

.up-info-holder .fixed-box
.up-info-holder.to-bottom .fixed-box
  position initial