/* 创作学院 */
.carousel-wrap .panel .pic li
  background-color var(--c-hover) !important

.list-header .filter-wrp .article-type .line
.list-header .filter-wrp .filter-level .line
.list-header .filter-wrp .video-type .line
  background-color var(--c-border) !important

.academy-left-name
  color var(--c-title) !important

.tabs-nav .tab-item.full span
  color var(--c-white) !important

.academy-right-link:hover
.list-header .filter-wrp .article-type .bili-btn.current
.list-header .filter-wrp .filter-level .bili-btn.current
.list-header .filter-wrp .video-type .bili-btn.current
  color var(--c-accent) !important

.list-header .filter-wrp .article-type
.list-header .filter-wrp .filter-level
.list-header .filter-wrp .video-type
.btn-section .btn-item
.tabs .customize-tab
  border-color var(--c-border) !important

.tag-modal
.steps .step-operate .dropdown .dropdown__content
  border 1px solid var(--c-border)

.pager .jump-pager
  vertical-align middle

.tabs-nav .tab-item.border-bottom
  background-color transparent !important
  color var(--c-accent) !important
  border-color var(--c-accent) !important

.tabs-nav .tab-item.full
  background-color var(--c-accent) !important
  color var(--c-white) !important

  span
    color var(--c-white) !important

.bili-btn
  background-color transparent !important

  &::after
    content none !important
