/* 主体 */
.side-utils .feedback-container
.bili-tab.current:after
.dc-radio-button.is-active::after
.cc-zimu-wrp .zimu-header em
.footer-content .social-menu
  display none !important

.cc-body
.lab-wrap
.setting
.share-wrap
.data-card
.interact-wrap
.academy-wrap
.article-card
.medal
.danmu-container
.new-calendar-wrap .calendar-body .date-desc_wrap
.new-calendar-wrap .calendar-body .date-desc_wrap .item-desc_card
.select-box .option-footer
.dc-section1-body
.comment-manage-wrap .content
.comment-manage-wrap .content .action-bar
#charge-wrapper .main-charge .elec-con .compute-wrap
.toolbox
.rule
.create-protect-wrp
.protect-apply-entry-wrp .protect-entry .error-tips
.upload-v2-container .upload-agreement .reg-1 .reg-2-tip::after
#edit-page
.edit-article-wrap #edit-article-box
#text-contribute .fixed-header
.editor-box .editor-toolbar
  background-color var(--c-background) !important

.message-notice_wrap .tips-item_wrap
.new-calendar-wrap .calendar-body .date-wrap .wrap-content .select-icon
.notice_wrap
.section-item
.cc-article-wrp .article-card .meta-view .option
.select-box .select-item:hover
.select-box .option-footer:hover
.helper .icon
.pie-empty-wrapper
.comment-list-item .ci-parent-reply
#charge-wrapper .main-charge .elec-con
#charge-wrapper .main-charge .shell-con
.upload-v2-step1-container #homeDrop
.video-editor-ol-wrp
.editor-box
.editor-box .editor-toolbar li.preview
.cover-upload-box
.ui-input-textarea
.qa-area-ol-wrp
#edit-page .edit-notice
.cover-upload-box .no-img:hover
.tips-calendar_wrap
  background-color var(--c-hover) !important

.dc-progress-bar
#charge-wrapper .main-charge .elec-con .progress .progress-bar .bar
#charge-wrapper .main-charge .elec-con .progress .progress-bar .bar:after
.apply-page-title:after
.lab-item .lab-item-content .divide-line
  background-color var(--c-border) !important

.carousel-module .panel .title .tag
.comment-list-item .ci-action a:hover
.recent-danmu-wrp .danmu-filter .left .delete .option-wrp .act-btn
.lab-item .lab-item-content
.setting .follow-setting .follow-wrp .follow-modal
.setting .public-setting .follow-wrp .follow-modal
.setting .watermark-setting .watermark-wrp .watermark-modal
.ui-input-textarea textarea
.float-toolbar .toolbar-list
.float-toolbar .back-top
.edui-default .edui-editor
  background-color transparent !important

.tabs .tabs__header .tabs__header-item.is-active:after
.dc-progress-bar_inner
#charge-wrapper .main-charge .elec-con .progress .progress-bar .bar:before
#charge-wrapper .main-charge .elec-con .progress .progress-bar .active-bar
.rookie_content .rookie_division li .div_name span .hot_tip
  background-color var(--c-accent) !important

.calendarEntry_box .calendarEntry_content .today
.calendar-box .calendar-date-header .date-cell
.new-calendar-wrap .calendar-body .date-desc_wrap .item-desc_card .item-desc_body .item-desc__content
.new-calendar-wrap .calendar-body .date-wrap .wrap-content .select-text
.notice_wrap .notice_title .notice-txt
.data-card .tab .data-tab
.interact-wrap .header .tabs .tabs__header .tabs__header-item.is-active span
.comment-item .right-block .like-reply div
.academy-wrap .header .academy-tag
.dc-section-item1_title_custom span
#dc-section_summary .source-rank-list-item .rank
.reg-main-title
.reg-main-title .hightlight
.apply-page-title>p
.lab-item .lab-item-content .content-detail p
.setting .setting-title
.setting .section-title
  color var(--c-title) !important

.notice_wrap .notice_body .hot-item .item-right
.section-item .data-name
.comment-item .right-block .reply-content
.list-item .view
.cc-article-wrp .article-card .meta-footer .view-stat
.comment-list-item .ci-parent-reply .cipr-content
.reg-main-text
.reg-tip
.protect-apply-entry-wrp .content-tips
.protect-item-tips
.protect-apply-entry-wrp .protect-appeal
.lab-item .lab-item-content .content-detail .detail-desc
.lab-item .lab-item-content .content-detail .feedback
.mobile-award-panel .content-container .install-text
  color var(--c-text) !important

.link-top-container .link-top-item.active .red_point
  color var(--c-white) !important

.calendarEntry_box .greetings .greet-num
.new-calendar-wrap .calendar-body .date-wrap .wrap-content .today
.data-card .tab .data-tab.current
.section-item .text-content span
.academy-wrap .content .tabs .tabs__header .tabs__header-item.is-active span
.bili-tab.current
.bili-tab.current span
.select-box .option-footer:hover
.select-box .option-footer:hover span
.dc-radio-button.is-active span
.dc-radio-button:hover span
.info-item-active-num
.info-item-charge-num
.info-item-medal-num
.info-item-total-num
#charge-wrapper .main-charge .elec-con .num
#charge-wrapper .main-charge .shell-con .num
#charge-wrapper .main-charge .elec-con .progress .pro-date.red
.setting .section-edit:hover span
.video-editor-ol-wrp .icon-xic_video_huaban
.editor-box .editor-toolbar .child-list li:hover
i.icon-shape:after
  color var(--c-accent) !important

.bili-share-pc
.calendarEntry_box .greetings
.new-calendar-wrap .calendar-header
.new-calendar-wrap .calendar-box
.new-calendar-wrap .calendar-body .date-desc_wrap .item-desc_card .item-desc_body .item-desc__content
.comment-item .right-block .origin
.academy-wrap .content .tabs .tabs__header
.cc-article-wrp .article-header .search-wrp
.article-card
.cc-article-wrp .article-card .meta-title .typename
.select-box .row
#dc-section_summary .source-rank-list-item
.helper .icon
.rank-active-target
.rank-fans-medal
.rank-vedio-target
.rank-vedio-view
.medal header
.medal-list .part .content
.comment-manage-wrap .content .action-bar .action-btn span
.comment-list-item
.recent-danmu-wrp .danmu-filter .left .delete
.recent-danmu-wrp .danmu-filter .left .danmu-type
.recent-danmu-wrp .danmu-filter .left .protect
.recent-danmu-wrp .danmu-filter .left .refresh
.recent-danmu-wrp .danmu-filter .left .plain
.rookie_wrap .rookie_division li
.announce li
.protect-item
.protect-apply-entry-wrp .protect-entry .error-tips
.lab-item
.setting .clearfix
.original-editor-wrap
.editor-box .editor-toolbar li.cut-off
.color-board .color-group
.editor-box .editor-toolbar .child-list li[class*=cut-off]
.cards-block .cards-list .card-item .card-case
.ui-input-textarea
.modal-wrap .header
.read-list-component .creat-read-list-box .add-btn
.footer-content
#edit-page .edit-notice
.line-divid
.tips-calendar_wrap
  border-color var(--c-border) !important

.recent-danmu-wrp .danmu-filter .left .option-menu .option-arrow-border
  border-bottom-color var(--c-background) !important

.recent-danmu-wrp .danmu-filter .left .option-menu .option-arrow
.upload-v2-container .upload-agreement .reg-1 .reg-2-tip::after
  border-bottom-color var(--c-border) !important

.section-item .diff-wrp .diff-text:before
  border-bottom-color var(--c-accent) !important

.upload-v2-container .upload-agreement .reg-1 .reg-2-tip::after
  border-right-color var(--c-border) !important

.recent-danmu-wrp .danmu-filter .left .option-menu
.editor-box
.editor-box .editor-toolbar .child-list
.classify .sub-list
  border 1px solid var(--c-border) !important

.toolbox
.editor-box #editor-box
  border-top 1px solid var(--c-border) !important

.danmu-container
.comment-list-item .ci-parent-reply
.pager .pages .page-item.prev
.pager .pages .page-item.next
.comment-manage-wrap .no-content
.magnetic .content
#charge-wrapper .main-charge .elec-con
#charge-wrapper .main-charge .shell-con
  border 0 !important

.danmu-container
.editor-box .editor-toolbar .child-list
.cc-btn
  box-shadow none !important

.ui-dropdown .default
  text-align center

.pager .jump-pager
  vertical-align -webkit-baseline-middle

.editor-box .editor-toolbar
.editor-box #editor-box .edui-editor
.edui-default .edui-editor-iframeholder
  width 100% !important

.contet-wrap
  width 940px

.ui-serch .run-serch
  background-color transparent !important

  &::after
    content none !important