/* 主体 */
.side-utils .feedback-container
.bili-tab.current:after
.dc-radio-button.is-active::after
.cc-zimu-wrp .zimu-header em
.footer-content .social-menu
  display none !important

.cc-body
.lab-wrap
.setting
.share-wrap
.data-card
.interact-wrap
.academy-wrap
.article-card
.medal
.danmu-container
.new-calendar-wrap .calendar-body .date-desc_wrap
.new-calendar-wrap .calendar-body .date-desc_wrap .item-desc_card
.select-box .option-footer
.dc-section1-body
.comment-manage-wrap .content
.comment-manage-wrap .content .action-bar
#charge-wrapper .main-charge .elec-con .compute-wrap
.toolbox
.rule
.create-protect-wrp
.protect-apply-entry-wrp .protect-entry .error-tips
.upload-v2-container .upload-agreement .reg-1 .reg-2-tip::after
#edit-page
.edit-article-wrap #edit-article-box
#text-contribute .fixed-header
.editor-box .editor-toolbar
.cover-v2-container .cover-v2-detail-wrp .cover-v2-selector
.cover-v2-container .cover-v2-detail-wrp .cover-v2-selector .cover-v2-selector-deg
.cc-modal .modal
.share-modal .modal-bottom
#bili-data-center
.dc-page
.new-link-top-wrap .new-link-top-container
.pie-empty
.source-rank-open-button
.cc-content-body.home-wrap.not-home
body
.chief-recommend-module .carousel-box
  background-color var(--c-background) !important

.message-notice_wrap .tips-item_wrap
.new-calendar-wrap .calendar-body .date-wrap .wrap-content .select-icon
.notice_wrap
.section-item
.cc-article-wrp .article-card .meta-view .option
.select-box .select-item:hover
.select-box .option-footer:hover
.helper .icon
.pie-empty-wrapper
.comment-list-item .ci-parent-reply
#charge-wrapper .main-charge .elec-con
#charge-wrapper .main-charge .shell-con
.upload-v2-step1-container #homeDrop
.video-editor-ol-wrp
.editor-box
.editor-box .editor-toolbar li.preview
.cover-upload-box
.ui-input-textarea
.qa-area-ol-wrp
#edit-page .edit-notice
.cover-upload-box .no-img:hover
.tips-calendar_wrap
.header .right-block .avatar img
.stat-wrp
.article-data-wrp .video-box
.article-net-charts .content-box
.detail-wrp .detail-empty
.normal-v2-container .normal-title-wrp>.template-op
.normal-v2-container .normal-title-wrp>.template-op-disabled
.cover-v2-container .cover-v2-detail-wrp .cover-v2-selector .cover-v2-selector-items .selector-item
.content-tag-v2-container .content-tag-v2-edit-mod-wrp
.content-tag-v2-container .content-tag-v2-other-tag-error-wrp
.article-danmu-wrp .danmu-box .danmu-table .danmu-item:nth-child(odd)
.article-danmu-wrp .danmu-box .danmu-table .danmu-item:hover
.article-danmu-wrp .danmu-box .danmu-table .danmu-item .item-act .option-wrp .act-btn
.recent-danmu-wrp .danmu-table .danmu-item .item-act .option-wrp .act-btn
.dc-radio-button.is-active
.dc-radio-button:hover
.section-item.actived
.source-rank-open-button:hover
.rank-active-target
.rank-fans-medal
.rank-vedio-target
.rank-vedio-view
  background-color var(--c-hover) !important

#dc-section_preference .list_wrap .list-item
  background-color var(--c-hover)

.dc-progress-bar
#charge-wrapper .main-charge .elec-con .progress .progress-bar .bar
#charge-wrapper .main-charge .elec-con .progress .progress-bar .bar:after
.apply-page-title:after
.lab-item .lab-item-content .divide-line
.line-divid
.normal-v2-container .normal-title-wrp>.template-op>.template-op-divide
.dc-radio-button:hover:before
.rank-active-target-item .item-list li+li .item-wrap:after
.rank-fans-medal-item .item-list li+li .item-wrap:after
.rank-vedio-target-item .item-list li+li .item-wrap:after
.rank-vedio-view-item .item-list li+li .item-wrap:after
  background-color var(--c-border) !important

.echarts
  background-color rgba(255, 255, 255, 0.2)

.carousel-module .panel .title .tag
.comment-list-item .ci-action a:hover
.recent-danmu-wrp .danmu-filter .left .delete .option-wrp .act-btn
.lab-item .lab-item-content
.setting .follow-setting .follow-wrp .follow-modal
.setting .public-setting .follow-wrp .follow-modal
.setting .watermark-setting .watermark-wrp .watermark-modal
.ui-input-textarea textarea
.float-toolbar .toolbar-list
.float-toolbar .back-top
.edui-default .edui-editor
.article-danmu-wrp .danmu-box
.article-danmu-wrp .danmu-filter .left .delete .option-wrp .act-btn
.content-wrap .tag
  background-color transparent !important

.tabs .tabs__header .tabs__header-item.is-active:after
.dc-progress-bar_inner
#charge-wrapper .main-charge .elec-con .progress .progress-bar .bar:before
#charge-wrapper .main-charge .elec-con .progress .progress-bar .active-bar
.rookie_content .rookie_division li .div_name span .hot_tip
  background-color var(--c-accent) !important

.calendarEntry_box .calendarEntry_content .today
.calendar-box .calendar-date-header .date-cell
.new-calendar-wrap .calendar-body .date-desc_wrap .item-desc_card .item-desc_body .item-desc__content
.new-calendar-wrap .calendar-body .date-wrap .wrap-content .select-text
.notice_wrap .notice_title .notice-txt
.data-card .tab .data-tab
.interact-wrap .header .tabs .tabs__header .tabs__header-item span
.comment-item .right-block .like-reply div
.danmu-item .right-block .delete-protect div
.academy-wrap .header .academy-tag
.dc-section-item1_title_custom span
#dc-section_summary .source-rank-list-item .rank
.reg-main-title
.reg-main-title .hightlight
.apply-page-title>p
.lab-item .lab-item-content .content-detail p
.setting .setting-title
.setting .section-title
.ui-popup .popup-wrap .text-box .text
.share-modal .modal .modal-close
.cc-article-wrp .del-wrp .modal-wrap .del-title
.dc-section-item1_title_custom .sectionTitle
.new-link-top-wrap .new-link-top-container .right-tips
  color var(--c-title) !important

.notice_wrap .notice_body .hot-item .item-right
.section-item .data-name
.comment-item .right-block .reply-content
.list-item .view
.cc-article-wrp .article-card .meta-footer .view-stat
.comment-list-item .ci-parent-reply .cipr-content
.reg-main-text
.reg-tip
.protect-apply-entry-wrp .content-tips
.protect-item-tips
.protect-apply-entry-wrp .protect-appeal
.lab-item .lab-item-content .content-detail .detail-desc
.lab-item .lab-item-content .content-detail .feedback
.mobile-award-panel .content-container .install-text
.danmu-item .right-block .danmu-content
.detail-wrp .detail-empty
.ui-popup .popup-wrap .text-box .subtext
.article-danmu-wrp .danmu-filter .left .delete .plain
.article-danmu-wrp .danmu-box .danmu-table .danmu-item .item-content
.cc-article-wrp .del-wrp .modal-wrap .del-tips
.section-item .tips_wrap
#dc-section_retention .legend_wrap .legend-item .legend-label
  color var(--c-text) !important

.link-top-container .link-top-item.active .red_point
.echarts div
  color var(--c-white) !important

.calendarEntry_box .greetings .greet-num
.new-calendar-wrap .calendar-body .date-wrap .wrap-content .today
.data-card .tab .data-tab.current
.data-card .tab .data-tab:hover
.section-item .text-content span
.academy-wrap .content .tabs .tabs__header .tabs__header-item.is-active span
.bili-tab.current
.bili-tab.current span
.bili-tab:hover
.bili-tab:hover span
.select-box .option-footer:hover
.select-box .option-footer:hover span
.dc-radio-button.is-active span
.dc-radio-button:hover span
.info-item-active-num
.info-item-charge-num
.info-item-medal-num
.info-item-total-num
#charge-wrapper .main-charge .elec-con .num
#charge-wrapper .main-charge .shell-con .num
#charge-wrapper .main-charge .elec-con .progress .pro-date.red
.setting .section-edit:hover span
.video-editor-ol-wrp .icon-xic_video_huaban
.editor-box .editor-toolbar .child-list li:hover
i.icon-shape:after
.interact-wrap .header .tabs .tabs__header .tabs__header-item.is-active span
.interact-wrap .header .tabs .tabs__header .tabs__header-item:hover span
.comment-item .right-block .like-reply div:hover
.danmu-item .right-block .delete-protect div:hover
.stat-card .num .text
  color var(--c-accent) !important

.bili-share-pc
.calendarEntry_box .greetings
.new-calendar-wrap .calendar-header
.new-calendar-wrap .calendar-box
.new-calendar-wrap .calendar-body .date-desc_wrap .item-desc_card .item-desc_body .item-desc__content
.comment-item .right-block .origin
.academy-wrap .content .tabs .tabs__header
.cc-article-wrp .article-header .search-wrp
.article-card
.cc-article-wrp .article-card .meta-title .typename
.select-box .row
#dc-section_summary .source-rank-list-item
.helper .icon
.rank-active-target
.rank-fans-medal
.rank-vedio-target
.rank-vedio-view
.medal header
.medal-list .part .content
.comment-manage-wrap .content .action-bar .action-btn span
.comment-list-item
.recent-danmu-wrp .danmu-filter .left .delete
.recent-danmu-wrp .danmu-filter .left .danmu-type
.recent-danmu-wrp .danmu-filter .left .protect
.recent-danmu-wrp .danmu-filter .left .refresh
.recent-danmu-wrp .danmu-filter .left .plain
.rookie_wrap .rookie_division li
.announce li
.protect-item
.protect-apply-entry-wrp .protect-entry .error-tips
.lab-item
.setting .clearfix
.original-editor-wrap
.editor-box .editor-toolbar li.cut-off
.color-board .color-group
.editor-box .editor-toolbar .child-list li[class*=cut-off]
.cards-block .cards-list .card-item .card-case
.ui-input-textarea
.modal-wrap .header
.read-list-component .creat-read-list-box .add-btn
.footer-content
#edit-page .edit-notice
.tips-calendar_wrap
.header .right-block .avatar img
.danmu-item .right-block .origin
.stat-wrp .stat-card
.dividing-line
.normal-v2-container .normal-title-wrp>.template-op
.normal-v2-container .normal-title-wrp>.template-op.template-op-disabled
.cover-v2-container .cover-v2-detail-wrp .cover-v2-selector
.input-box-v2-1-container
.content-tag-v2-container .content-tag-v2-edit-mod-wrp
.content-tag-v2-container .content-tag-v2-other-tag-error-wrp
.text-area-box-v2-container
.share-modal .av-wrp .av-wrp-inner
.share-modal .modal-bottom .share-addr .av-addr-wrp
.article-danmu-wrp .danmu-filter .left .delete .plain
.article-danmu-wrp .danmu-box .danmu-table .danmu-item .item-act .option-wrp .act-btn
.article-danmu-wrp .danmu-filter .left .delete
.article-danmu-wrp .danmu-filter .left .danmu-type
.article-danmu-wrp .danmu-filter .left .protect
.article-danmu-wrp .danmu-filter .left .refresh
.article-danmu-wrp .danmu-filter .left .danmu-type .plain
.article-danmu-wrp .danmu-filter .left .protect .plain
.article-danmu-wrp .danmu-filter .left .refresh .plain
.recent-danmu-wrp .danmu-table .danmu-item .item-act .option-wrp .act-btn
.dc-radio-button
.dc-radio-button:hover
#dc-section_essential .item-in-row
.watch_wrap
.source-rank-open-button
  border-color var(--c-border) !important

.cc-article-wrp .del-wrp .modal-wrap .geetest_holder.geetest_wind .geetest_radar_btn
.cc-article-wrp .del-wrp .modal-wrap .geetest_holder.geetest_wind .geetest_success_btn
.section-item.actived
  border-color var(--c-accent) !important

.recent-danmu-wrp .danmu-filter .left .option-menu .option-arrow-border
  border-bottom-color var(--c-background) !important

.recent-danmu-wrp .danmu-filter .left .option-menu .option-arrow
.upload-v2-container .upload-agreement .reg-1 .reg-2-tip::after
.cover-v2-container .cover-v2-detail-wrp .cover-v2-selector .cover-v2-selector-deg
.article-danmu-wrp .danmu-filter .left .option-menu .option-arrow
.new-link-top-wrap .arrow-tip
.page-tips .arrow-tip
.bcc-popover[x-placement^=bottom] .popper__arrow
  border-bottom-color var(--c-border) !important

.article-danmu-wrp .danmu-filter .left .option-menu .option-arrow-border
.new-link-top-wrap .arrow-tip::after
.page-tips .arrow-tip::after
.bcc-popover[x-placement^=bottom] .popper__arrow:after
  border-bottom-color var(--c-background) !important

.section-item .diff-wrp .diff-text:before
  border-bottom-color var(--c-accent) !important

.upload-v2-container .upload-agreement .reg-1 .reg-2-tip::after
  border-right-color var(--c-border) !important

.cover-v2-container .cover-v2-detail-wrp .cover-v2-selector .cover-v2-selector-deg
  border-left-color var(--c-border) !important

.recent-danmu-wrp .danmu-filter .left .option-menu
.editor-box
.editor-box .editor-toolbar .child-list
.classify .sub-list
  border 1px solid var(--c-border) !important

.toolbox
.editor-box #editor-box
  border-top 1px solid var(--c-border) !important

.danmu-container
.comment-list-item .ci-parent-reply
.pager .pages .page-item.prev
.pager .pages .page-item.next
.comment-manage-wrap .no-content
.magnetic .content
#charge-wrapper .main-charge .elec-con
#charge-wrapper .main-charge .shell-con
.stat-wrp
.article-chart-wrp
#articleChart
.article-net-charts .content-box
.detail-wrp .detail-empty
.article-danmu-wrp .danmu-box
.article-danmu-wrp .danmu-box .danmu-table .danmu-item
.dc-top-link_wrap .tabs .tabs__header
.new-link-top-wrap .new-link-top-container
  border 0 !important

.danmu-container
.editor-box .editor-toolbar .child-list
.cc-btn
.article-data-wrp .video-box
.stat-wrp
.article-net-charts .content-box
.detail-wrp .detail-empty
.article-danmu-wrp .danmu-box
.cc-article-wrp .del-wrp .modal-wrap .geetest_holder.geetest_wind .geetest_radar_btn
.cc-article-wrp .del-wrp .modal-wrap .geetest_holder.geetest_wind .geetest_success_btn
.rank-active-target
.rank-fans-medal
.rank-vedio-target
.rank-vedio-view
  box-shadow none !important

.ui-dropdown .default
  text-align center

.pager .jump-pager
  vertical-align -webkit-baseline-middle

.editor-box .editor-toolbar
.editor-box #editor-box .edui-editor
.edui-default .edui-editor-iframeholder
  width 100% !important

.contet-wrap
  width 940px

.ui-serch .run-serch
.rank-active-target-item.default
.rank-fans-medal-item.default
.rank-vedio-target-item.default
.rank-vedio-view-item.default
  border 0 !important
  background-color transparent !important

  &::after
    content none !important