/* 创作中心 导航 */
.header span.el-popover__reference
.header-popover-avatar .logout .line
  display none !important

.header-popover-avatar .link:hover
  background-color var(--c-hover) !important

.header .left-block .logo
.link-top-container .link-top-item.active span
  color var(--c-accent) !important

.version-switch-section .bottom-border
  border-color var(--c-border) !important

.el-popper .popper__arrow:after
  border-bottom-color var(--c-background) !important

.header .right-block .avatar
  margin 0 !important

.cc-header .header
  border-bottom 1px solid var(--c-border)
  background-color var(--c-background) !important
  box-shadow none !important

.header .left-block .main-site
  font-size 0 !important

  .bcc-iconfont
    font-size 24px

/* 二级导航 */
.link-top-container
.version-switch-section
  border-bottom-color var(--c-border)
  background-color var(--c-background) !important