/* 侧边栏导航 */
.slider-bar .nav-cut-off-line
.border-line
  display none !important

.cc-nav-wrp
.nav-upload-container
  background-color var(--c-background) !important

.nav-upload-container .nav-upload-item:hover
.bcc-nav-slider-sub-menu__wrap .bcc-nav-slider-sub-menu.is-active
.slider-bar .bar-item .bcc-nav-slider-item__wrap:hover
.slider-bar .bar-item .bcc-nav-slider-sub-menu:hover
.slider-bar .bcc-nav-slider-item__wrap.is-active
  background-color var(--c-hover) !important

.cc-nav .simplebar-scrollbar
  background-color var(--c-scroll) !important

.slider-bar .menu-title
.slider-bar .menu-title span
.slider-bar .bar-item i
.left-nav-item i
.advice-btn
.advice-title
.advice-item-title
  color var(--c-title) !important

.advice-info
  color var(--c-text) !important

.back-top-box .item-desc i
  color var(--c-white) !important

.bcc-nav-slider-sub-menu.is-active .menu-title
.router_wrap.active .menu-title span
.slider-bar .bar-item .bcc-nav-slider-item__wrap .router-item.active
.slider-bar .bar-item .bcc-nav-slider-item__wrap .router-item.active i
.slider-bar .bar-item .bcc-nav-slider-item__wrap .router_wrap.active
.slider-bar .bar-item .bcc-nav-slider-item__wrap .router_wrap.active i
.slider-bar .bar-item .bcc-nav-slider-sub-menu .router-item.active
.slider-bar .bar-item .bcc-nav-slider-sub-menu .router-item.active i
.slider-bar .bar-item .bcc-nav-slider-sub-menu .router_wrap.active
.slider-bar .bar-item .bcc-nav-slider-sub-menu .router_wrap.active i
.left-nav-list.active .left-nav-item i
.left-nav-list.active .left-nav-item span
  color var(--c-accent) !important

.cc-nav-wrp
  border-color var(--c-border) !important

.nav-upload-container
  border 1px solid var(--c-border)

.nav-upload-container
  box-shadow none !important

.bcc-nav-slider-item__wrap
.bcc-nav-slider-sub-menu
  transition background-color 0.3s ease-in-out !important