/* 安全中心 */
body:after
  display none !important

.steps-icon
  background-color var(--c-background) !important

.steps-list .steps-line
  background-color var(--c-border) !important

.select-list>li .select-info p
  color var(--c-title) !important

.safe-logo .safe-score
.safe-logo .safe-score-tips
  color var(--c-white) !important

.steps-icon
.steps-line
  border-color var(--c-border) !important

.steps-list>.active .steps-icon
  border-color var(--c-accent) !important

.nav-list li
.select-main
.select-list>li
  border 0 !important

.select-main
  box-shadow none !important

.mini-type .nav-user-center .user-con .item .name
  font-size 14px

.container .nav-container .list-link p a
  padding 5px 10px