/* 注册登陆界面 */
.top-banner
.bili-footer
.bottom-filling:after
.qrcode-login .qrcode-con .tv-icon
.qrcode-login .qrcode-footer
.login-box .line
.qrcode-login .qrcode-con .qrcode-box .qrcode-tips
  display none

.error-message
.safe_window span
.el-select-dropdown__item.selected
.form-login .input-box .text .tips
  color var(--c-accent) !important

#app .input-with-select .el-input-group__prepend
.el-select-dropdown__item.hover
.el-select-dropdown__item:hover
  background-color var(--c-hover) !important

.back-fff
  background-color transparent !important

.title-line
  margin-top 70px
  border 0

.title-line .tit
  margin-top 40px
  background-color var(--c-background) !important
  color var(--c-title) !important

.el-input__inner
.el-input-group__append
.el-input-group__prepend
.form-login .input-box .item input
.form-login .input-box .item input.error
.autocomplete
  border-color var(--c-border)
  background-color var(--c-hover)
  color var(--c-title)

.el-select-dropdown
  border-color var(--c-border)
  background-color var(--c-background)

.login-box .login-left
  float none
  margin 0 auto
  padding-top 60px
  width 490px

.login-box .login-left::before
  content '扫码登陆'
  margin-left 45px
  color var(--c-title)

.login-box .login-left:hover .qrcode-login
  display block

.qrcode-login
  position absolute
  z-index 999
  top 0
  display none

.login-box .login-right
  margin auto
  float none

.autocomplete
.autocomplete li.on
  border-color var(--c-border) !important
  background-color var(--c-background) !important
  color var(--c-text) !important

.autocomplete li:hover
  background-color var(--c-hover) !important

.form-login .input-box .sns .btn
  background-color var(--c-background) !important
  color var(--c-text) !important

  &::after
    content none !important