/* 活动直播 */
.bili-footer
  display none !important

.box-body
#webShare .bili-share-pc
.bili-share-pc .weixin-hover .qr-before
  background-color var(--c-background) !important

.popup-bg-cntr .popup-cntr .left-part
.bingo-list
  background-color var(--c-hover) !important

// body
//   background-color transparent !important

.bili-share-pc .title
.popup-bg-cntr .popup-cntr .right-part .activity-name
.not-bingo
.not-join
  color var(--c-title) !important

#webShare .bili-share-pc
  border-color var(--c-border)

.popup-bg-cntr .popup-cntr .left-part .round-item.active
  background-color var(--c-background) !important
  background-image none !important

.countdown-bar-cntr
  box-shadow none !important
  background-color transparent !important

.box-body
  margin-bottom 30px

.page-bg-wrap
  margin-top 0 !important

.link-navbar
  position absolute
  width 100%

button
.btn
  background-color transparent !important
  color var(--c-title) !important

  &::after
    content none !important