/* 直播导航 */
.user-title-sending-cntr .panel
.user-panel-ctnr .user-panel
.link-panel-ctnr
.calendar-checkin
.area-list-panel
  background-color var(--c-background) !important

.user-panel-ctnr .user-panel .content-ctnr .logout-btn:hover
.link-panel-ctnr .load-more:hover
.calendar-checkin .checkin-btn:hover
.area-list-panel .list-item:hover
.user-level-detail .detail-link:hover
  background-color var(--c-hover) !important

.link-navbar-ctnr
.search-bar-ctnr .search-bar input
.calendar-checkin .title
.calendar-checkin .calendar-wrapper
.calendar-checkin .checkin-rewards
.shortcuts-ctnr .shortcut-item
.link-navbar .nav-item
  background-color transparent !important

.divider
  background-color var(--c-border) !important

.user-panel-ctnr .msg-hinter
.user-panel-ctnr .user-panel .content-ctnr .msg-count
.shortcuts-ctnr .shortcut-item .hinter
.shortcuts-ctnr .shortcut-item .num-hinter
	background-color var(--c-accent) !important

.shortcuts-ctnr .shortcut-item .list-item span
  color var(--c-title) !important

.nav-ctnr .link-navbar .shortcuts-ctnr .shortcut-item .list-item span
.live-room-app .link-navbar .shortcuts-ctnr .shortcut-item .list-item span
.nav-ctnr .link-navbar .nav-item span
.live-room-app .link-navbar .nav-item span
.user-panel-ctnr .user-panel .content-ctnr .msg-count
  color var(--c-white) !important

.nav-ctnr .link-navbar .nav-item:hover span
.shortcuts-ctnr .shortcut-item:hover .list-item span
.nav-ctnr .link-navbar .shortcuts-ctnr .shortcut-item:hover .list-item span
.live-room-app .link-navbar .shortcuts-ctnr .shortcut-item:hover .list-item span
.user-item:hover .username
.activity-item-ctnr:hover .info-ctnr .first-line .username
.calendar-checkin .checkin-btn:hover
  color var(--c-accent) !important

.info-item-ctnr
  border-color var(--c-border) !important

.link-navbar .panel-shadow
  box-shadow none

.user-panel-ctnr .user-panel .content-ctnr .logout-btn
.link-panel-ctnr .load-more
.calendar-checkin .checkin-btn
  border-top 1px solid var(--c-border)
  background-color var(--c-background) !important
  transition all 0.3s ease-in-out !important

.calendar-checkin .calendar-wrapper .calendar .date-ctnr .day-item
  color #bdbdbd !important

.calendar-checkin .calendar-wrapper .calendar .date-ctnr .day-item.checked
  color var(--c-white) !important

.link-navbar
  background-color var(--c-background) !important
  box-shadow none !important

.head-content .link-navbar
.app-ctnr .link-navbar
  border-bottom 1px solid var(--c-border) !important

.nav-ctnr .link-navbar
.live-room-app .link-navbar
  box-shadow none !important
  background-color var(--c-bg-header) !important
  backdrop-filter blur(5px) !important

.area-list-panel .main-ctnr
.link-panel-ctnr .panel-main-ctnr
.calendar-checkin .content-ctnr
  border 1px solid var(--c-border)
  border-top-width 0
  border-radius 0 0 10px 10px
  overflow hidden

.search-bar-ctnr .search-bar
  border 0 !important
  background-color var(--c-hover) !important

.link-navbar .main-ctnr .nav-logo:before
  top 11px !important
  width 30px !important
  height 30px !important
  background-size 30px !important

.link-navbar .left-part>.dp-table-cell
  display block
  width 36px
  white-space nowrap

.link-navbar .left-part>.dp-table-cell .nav-items-ctnr
  transform translateY(-100%)

.link-navbar .left-part>.dp-table-cell .nav-items-ctnr a
  display inline-block
  opacity 0
  transform translateY(-40px)
  transition all 0.3s ease-in-out

  &:first-child
    opacity 1
    transform translateY(0)

  for n in 3 4 5 6 7 8 9 10 11 12
    &:nth-child({n})
      transition-delay 0.05s * (n - 2)

.link-navbar .left-part>.dp-table-cell:hover
  width auto

.link-navbar .left-part>.dp-table-cell:hover .nav-items-ctnr
  transform translateY(0)

.link-navbar .left-part>.dp-table-cell:hover .nav-items-ctnr a
  opacity 1
  transform translateY(0)