/* 直播导航 */
.user-title-sending-cntr .panel
.user-panel-ctnr .user-panel
.link-panel-ctnr
.calendar-checkin
.area-list-panel
  background-color var(--c-background) !important

.user-panel-ctnr .user-panel .content-ctnr .logout-btn:hover
.link-panel-ctnr .load-more:hover
.calendar-checkin .checkin-btn:hover
.area-list-panel .list-item:hover
  background-color var(--c-hover) !important

.link-navbar-ctnr
.search-bar-ctnr .search-bar input
.calendar-checkin .title
.calendar-checkin .calendar-wrapper
.calendar-checkin .checkin-rewards
.shortcuts-ctnr .shortcut-item
.link-navbar .nav-item
  background-color transparent !important

.divider
  background-color var(--c-border) !important

.shortcuts-ctnr .shortcut-item .list-item span
  color var(--c-white) !important

.info-item-ctnr
  border-color var(--c-border) !important

.link-navbar .panel-shadow
  box-shadow none

.user-panel-ctnr .user-panel .content-ctnr .logout-btn
.link-panel-ctnr .load-more
.calendar-checkin .checkin-btn
  border-top 1px solid var(--c-border)
  background-color var(--c-background) !important
  transition all 0.3s ease-in-out !important

.calendar-checkin .calendar-wrapper .calendar .date-ctnr .day-item
  color #bdbdbd !important

.calendar-checkin .calendar-wrapper .calendar .date-ctnr .day-item.checked
  color var(--c-white) !important

.link-navbar
  box-shadow none !important
  background-color var(--c-bg-header) !important
  backdrop-filter blur(5px) !important

.search-bar-ctnr .search-bar
  border 0 !important
  background-color var(--c-hover) !important

.link-navbar .main-ctnr .nav-logo:before
  top 11px !important
  width 30px !important
  height 30px !important
  background-size 30px !important

.link-navbar .left-part>.dp-table-cell
  display block
  width 36px
  white-space nowrap

.link-navbar .left-part>.dp-table-cell .nav-items-ctnr
  transform translateY(-100%)

.link-navbar .left-part>.dp-table-cell .nav-items-ctnr a
  display inline-block
  opacity 0
  transform translateY(-40px)
  transition all 0.3s ease-in-out

  &:first-child
    opacity 1
    transform translateY(0)

  for n in 3 4 5 6 7 8 9 10 11
    &:nth-child({n})
      transition-delay 0.05s * (n - 2)

.link-navbar .left-part>.dp-table-cell:hover
  width auto

.link-navbar .left-part>.dp-table-cell:hover .nav-items-ctnr
  transform translateY(0)

.link-navbar .left-part>.dp-table-cell:hover .nav-items-ctnr a
  opacity 1
  transform translateY(0)