/* 直播主页样式 */
.footer-ctnr
.pendant-ctnr.left-top
.side-bar-popup-cntr:after
.area-detail-ctnr .flip-view
.area-banner
	display none !important

.highlight-area-item
.news-ctnr
.hab-ctnr
.rank-ctnr
.hover-panel-wrapper
.rec-area-item
.link-footer
.live-sidebar-ctnr
	background-color var(--c-background) !important

.gift-item.buy.hover
	background-color var(--c-hover) !important

.text-info-ctnr.body-bg
.hover-panel-wrapper .text-info-ctnr
	background-color transparent !important

.bilibili-live-player[data-player-type='player-home'] .bilibili-live-player-enter-tips:hover
.blp-red-tip:after
.living-icon-col
.notice-item .notice-main .notice-title:before
	background-color var(--c-accent) !important

.notice-item .notice-main .notice-title
.coverNews-item-title
.area-name
	color var(--c-title) !important

.area-desc
.tab-item
.more-ctnr .v-middle
.more-link span
.area-link span
.yzly-link span
.room-anchor span
.notice-item .notice-main .notice-time span
	color var(--c-text) !important

.activated
.bilibili-live-player[data-player-type='player-home'] .bilibili-live-player-enter-tips
	color var(--c-accent) !important

.cover-ctnr .area-name
.aside-item .aside-item-tips
.ysly-room-ctnr .item .info span
.bilibili-live-player[data-player-type='player-home'] .bilibili-live-player-enter-tips:hover
	color var(--c-white) !important

.bilibili-live-player[data-player-type='player-home'] .bilibili-live-player-enter-tips
.item-border
	border-color var(--c-accent) !important

.aside-item:after
	border-right-color var(--c-accent) !important

.highlight-area-item
	box-shadow none !important

.room-ctnr
	margin 16px -10px 0 !important
	padding 20px 10px 0
	border-radius 4px
	background-color var(--c-background)

.bilibili-live-player button
.live-player-ctnr button
.search-bar-ctnr .search-bar .search-btn
.link-panel-ctnr .load-more .load-more-btn
.attention-live .switch-btn
	background-color transparent !important
	color var(--c-text) !important

	&::after
		content none !important

.notice-item .notice-btn
	background-color var(--c-accent) !important
	color var(--c-white) !important

.hover-panel-wrapper
.link-footer
	border-color var(--c-border) !important

.rec-area-item
	border 0 !important

.side-bar-popup-cntr
	border-color var(--c-border) !important
	box-shadow none !important
	background-color var(--c-background) !important

.yzly-content-ctnr .p-absolute
.hover-panel-wrapper .text-info-ctnr .follow-btn.p-absolute
	position absolute