/* 直播主页样式 */
.flip-view
	display none

.text-info-ctnr.body-bg
.highlight-area-item
.news-ctnr
.hab-ctnr
.rank-ctnr
.hover-panel-wrapper
.hover-panel-wrapper .text-info-ctnr
.rec-area-item
.link-footer
.live-sidebar-ctnr
	background-color var(--c-background) !important

.room-title
.notice-item .notice-main .notice-title
.coverNews-item-title
.item-title
.room-anchor
	color var(--c-title) !important

.section-title
.link-footer a
.more-link
.area-title
.title-text
.yzly-title
.coverNews-item-time
.tab-item
.more-ctnr
.popularity-row
.area-name
.item-time
	color var(--c-text) !important

.notice-item .notice-btn
	background-color var(--c-accent) !important
	color var(--c-white) !important

.hover-panel-wrapper
.link-footer
	border-color var(--c-border) !important

.rec-area-item
	border 0 !important