/* 直播主页样式 */
.footer-ctnr
.pendant-ctnr.left-top
.side-bar-popup-cntr:after
	display none !important

.text-info-ctnr.body-bg
.highlight-area-item
.news-ctnr
.hab-ctnr
.rank-ctnr
.hover-panel-wrapper
.hover-panel-wrapper .text-info-ctnr
.rec-area-item
.link-footer
.live-sidebar-ctnr
	background-color var(--c-background) !important

.gift-item.buy.hover
	background-color var(--c-hover) !important

.notice-item .notice-main .notice-title
.coverNews-item-title
.area-name
	color var(--c-title) !important

.area-desc
.tab-item
.more-ctnr .v-middle
.more-link span
.area-link span
.yzly-link span
.room-anchor span
.notice-item .notice-main .notice-time span
	color var(--c-text) !important

.activated
	color var(--c-accent) !important

.cover-ctnr .area-name
.player-ctnr a
.player-ctnr span
.aside-item .aside-item-tips
.ysly-room-ctnr .item .info span
	color var(--c-white) !important

.player-ctnr button
	background-color transparent !important

.notice-item .notice-btn
	background-color var(--c-accent) !important
	color var(--c-white) !important

.hover-panel-wrapper
.link-footer
	border-color var(--c-border) !important

.rec-area-item
	border 0 !important

.side-bar-popup-cntr
	border-color var(--c-border) !important
	box-shadow none !important
	background-color var(--c-background) !important