/* 资讯 */
header figure
.nav-item .svg-icon
.ad
  display none !important

#app-news #list
.news-detail-content
.tab-selector-wrap
.app-body .section-block
.no-data
.user-hd
.favourite-card
.history-card
.section-filter
.title-library-wrap .title-item
.achievement-user
.loading-error-ctnr
.daily-task .task-item
.achievement-card
.invite
.income-info .item
.mce-panel
.mce-btn
.live-haruna .tab-body .item
.sailors-ctnr
  background-color var(--c-background) !important

.progress-bar-ctnr .bar-body
div.mce-edit-area
.mce-btn:hover
.mce-btn:focus
.mce-menu-item:hover
.mce-menu-item.mce-selected
.mce-menu-item:focus
.range.active
  background-color var(--c-hover) !important

.item .title-wrap .notice
.item .title-wrap .regulation
.progress-bar-ctnr .bar-body .progress-bar
.tabnav-tip
  background-color var(--c-accent) !important

.page-title .v-middle
.user-info>.user-name
.history-card .room-info .room-title
.title-name
.daily-task .task-item .task-status
.achievement-card-centent>.header
.mce-ico
  color var(--c-title) !important

.no-data-msg
  color var(--c-text) !important

.tabnav-tip
  color var(--c-white) !important

.icon-edit
.income-info .item .value
.income-info .item .value span
.tab-selector-wrap .tab-wrap .tab span.active
  color var(--c-accent) !important

.news-detail-content .sepatator
.favourite-card
.favourite-card .anchor-info
.favourite-card .other-info-ctnr .anchor-live:before
.title-library-wrap .title-item
.daily-task .task-item
.achievement-card
.income-info .item
.mce-panel
.mce-btn
.mce-tinymce .mce-btn button
.mce-window-head
.live-haruna .tab-body .item
  border-color var(--c-border) !important

.mce-caret
  border-top-color var(--c-title)

.mce-menu-item.mce-selected .mce-caret
.mce-menu-item:focus .mce-caret
.mce-menu-item:hover .mce-caret
  border-left-color var(--c-border) !important

.tab-selector-wrap .tab-wrap
.app-body .section-block
.user
.section-nav
.section-filter
.achievement-user
.user-ctnr .top
.mce-btn-group
.my-room.room-info .room-info-ctnr .top
.sailors-ctnr
  border 0 !important

.tab-selector-wrap .tag-wrap .tag span
  border 1px solid var(--c-border)

.side-bar .nav-item-ctnr.expanded .sub-pages-item-ctnr
  height auto !important

.rhythm-storm .dp-i-block button
.fans-medal .inline button
  vertical-align middle

.link-navbar
  border-bottom 1px solid var(--c-border)
  background-color var(--c-background) !important

.side-bar
  width 160px
  border 0
  background-color transparent

  .nav-item-ctnr.expanded
    .nav-item
      border 0 !important
      color var(--c-title) !important
      text-align left !important

      .link-ctnr span
        color var(--c-title) !important

    .sub-pages-item-ctnr
      border 0 !important

      .sub-pages-item
        padding 0 !important
        border-radius 4px
        text-align center
        transition background-color 0.3s ease-in-out

        &:hover
        &.active
          background-color var(--c-hover) !important

.tabnav
  display flex
  justify-content center
  border 0
  background-color var(--c-background)

  .tabnav-item
    margin 0

    &:hover .tabnav-content
    &.current .tabnav-content
      border-color var(--c-accent)
      color var(--c-accent)

.bl-search
  border 1px solid var(--c-border)
  background-color var(--c-background) !important

  &.focused
    border-color var(--c-accent) !important

    &:hover
      background-color var(--c-hover) !important

  input
    background-color transparent !important

.tab-selector-wrap .tab-wrap ul
  display flex
  justify-content center

.user-box .btn
.mce-tinymce .mce-btn button
.mce-container button
  background-color transparent !important
  color var(--c-text) !important

  span
    color var(--c-text) !important

  &::after
    content none !important

  &:hover
    color var(--c-accent) !important