/* 直播列表 排行榜 */
.banner
.link-footer
.child-nav .nav-remind
.wrap .state-null>.txt>p:before
.wrapper .content .state-null>.txt>p:before
  display none !important

.top3 li div.content-detail
.rank-detail .top50
.rank-detail .my-info
.progress-tv
#comment
  background-color var(--c-background) !important

.rank-detail .top50 li:nth-child(2n)
  background-color var(--c-hover) !important

#app-ctnr .content
.child-nav
.rank-detail dd .score
  background-color transparent !important

.top3 .content-detail>p>span
.rank-detail dd .score span
.rank-detail dd .score span:hover
.tag span
.tag:hover span
  color var(--c-text) !important

.rank-detail dt .rank-number
  color var(--c-white) !important

.list-filter-bar .item-text.active span
.list-filter-bar .item-text:hover span
.child-nav li.active
.child-nav li:hover
  color var(--c-accent) !important

.wrap .state-null>.txt
.wrap .state-null>.txt::before
.wrap .state-null>.txt::after
.wrapper .content .state-null>.txt
.wrapper .content .state-null>.txt::before
.wrapper .content .state-null>.txt::after
  border-color var(--c-border) !important

.wrapper .content .state-null>.txt
  display inline-block

.content-panel .card-items li
  margin 0 13.7px 24px !important

.recommend-list .wrapper
  margin 20px 0

#comment
  margin 100px auto 0 !important

.main-content .main-container
.wrapper .wrapper .content
  padding-top 60px

.main-ctnr .content-ctn .header
  padding-top 80px

.content-panel .card-items
.recommend-list .list
.wrap .list
.wrapper .wrapper .content .list
  margin 16px -10px 0 !important
  padding 20px 10px 0 !important
  border-radius 4px
  background-color var(--c-background)

.main-container>h1.title>span
  border-radius 10px
  background-color var(--c-accent) !important
  color var(--c-white) !important

  &::before
    display none !important

.content-panel>h1.title>span
.recommend-list .recommend-header .refresh
  border 0 !important
  font-size 0 !important

  .icon-font
    font-size 20px !important
    color var(--c-accent)

.list-filter-bar .sort-box .item.active
.list-filter-bar .sort-box .item:hover
.list-filter-bar .pic-type-box .item.active
.list-filter-bar .pic-type-box .item:hover
.list-filter-bar .item-text.active
.list-filter-bar .item-text.expand
.list-filter-bar .item-text:hover
  border-color var(--c-accent) !important
  // background-color var(--c-background) !important
  color var(--c-accent) !important

.container
  top 60px !important

.rank-detail .top50-container
  height auto

.rank-detail .scroll-container
  height 580px

.child-nav
  width 200px !important

  li
    transition background-color 0.3s ease-in-out !important

  li:hover
  li.active
    background-color var(--c-hover) !important