/* 直播播放界面样式 */
.bili-footer
.shortcuts-ctnr .shortcut-item:last-child
.custom-link
.live-room-app .app-content .app-body .section-block .right-container
.left-container .flip-view
.link-footer-ctnr
.count-choice .send-btn-animation
.chat-history-panel .chat-history-list .chat-item.danmaku-item .title-label
.bottom-actions .left-action
.dialog-ctnr .arrow
.user-level-detail:after
.user-level-detail:before
.chat-history-panel .chat-history-list .chat-item.danmaku-item.guard-level-1::before
.chat-history-panel .chat-history-list .chat-item.danmaku-item.guard-level-2::before
.chat-history-panel .chat-history-list .chat-item.danmaku-item.guard-level-1::after
.chat-history-panel .chat-history-list .chat-item.danmaku-item.guard-level-2::after
	display none !important

.link-footer-vm
.rank-list-ctnr
.live-room-app .app-content .app-body .player-and-aside-area .aside-area .rank-list-section
.chat-history-panel
.live-room-app .app-content .app-body .player-and-aside-area .aside-area .chat-control-panel
.content-wrapper
.live-player-ctnr.minimal
.gift-sender-panel
.gift-control-panel .right-part .gift-presets .gift-panel-box
.guard-store-box .cntr
.tab-box .item.active::after
.tab-box .item.active::before
.guard-desc-box
.chat-history-panel .chat-history-list .chat-item.welcome-msg .username.vip
.recharge-stores-ctnr .cntr
.recharge-stores-ctnr .gold-seed-store
.recharge-store-box .cntr .store-content
.gold-seed-store .content
.recharge-store-box .reward-desc
.recharge-store-box .cntr .store-content
.silver-seed-store
.silver-seed-store .content
.draw-full-cntr
#webShare .bili-share-pc
.bili-share-pc .share-weixin-qr
	background-color var(--c-background) !important

.attention-btn-ctnr .right-part
.guard-store-box .tab-box
.fans-medal-item .level
.recharge-stores-ctnr .tab-box
.sub-tab-box .item.active
.draw-full-cntr .function-bar
	background-color var(--c-hover) !important

.bili-share-pc .weixin-hover .qr-before
	background-color: transparent !important

.draw-full-cntr .function-bar.draw
.tab-candidate>span:after
.tabs .item>span:after
	background-color var(--c-accent) !important

.room-bg::after
	background-image linear-gradient(0deg, var(--c-background), transparent 20%) !important

.title-length-limit
.attention-btn-ctnr .right-part
.gift-info-title
.tab-box .item .item-cntr
.fans-medal-item .level
.recharge-store-box dl.recharge-form dt
.chaos-pk-rank .rank .rank-name
	color var(--c-title) !important

.gift-info-desc
.gift-info-expScore
.icon-label
.chaos-pk-rank .rank .season-name
.chaos-pk-rank .rank .time
.guard-rank-cntr .rank-cntr .tip
	color var(--c-text) !important

.hour-rank .hour-rank-content
.attention-btn-ctnr .left-part .follow-text
.fans-medal-item .label
.draw-full-cntr .function-bar.draw span
	color var(--c-white) !important

.gift-info .btn-rule
.striking
.item.club-rank-1 .club-name
.chat-history-panel .chat-history-list .chat-item.welcome-msg .username.vip
.room-introduction-tags .room-introduction-tag:hover .icon-label
.chaos-pk-rank .link-to-history
.guard-rank-cntr .rank-cntr .rank-list-box .online a.live-skin-main-a-text
	color var(--c-accent) !important

.room-introduction-tags
.attention-btn-ctnr .right-part
.rank-list-ctnr
.tabs .tab-list .item
.edit-button
.bili-share-pc
	border-color var(--c-border) !important

.recharge-store-box ul.select-list .item.active
	border-color var(--c-accent) !important

.content-wrapper
.user-protocol
.draw-full-cntr
	border 0 !important

.common-popup-wrap.arrow-top::before
	border-color transparent transparent var(--c-border) !important

.common-popup-wrap.arrow-top::after
	border-color transparent transparent var(--c-background) !important

.common-popup-wrap.arrow-bottom::before
.gift-sender-panel.arrow-bottom::before
.chat-history-panel .chat-history-list .chat-item.danmaku-item .hover-panel::before
	border-color var(--c-border) transparent transparent !important

.common-popup-wrap.arrow-bottom::after
	border-color var(--c-background) transparent transparent !important

.common-popup-wrap.arrow-bottom::after
	left 50%

.link-navbar-ctnr
.bili-share-pc .weixin-hover .qr-before
	box-shadow none

.link-navbar .main-ctnr .nav-logo
	font-size 0 !important

.chat-history-panel .chat-history-list .chat-item.danmaku-item.guard-level-1
.chat-history-panel .chat-history-list .chat-item.danmaku-item.guard-level-2
	margin 0

.live-room-app .app-content .app-body .section-block
	margin-bottom 100px

.user-panel-ctnr .user-panel .content-ctnr .ctrl-btn:nth-child(2n)
	padding-left 40px !important

.captcha-widget .submit-btn
	border-radius 4px

.captcha-widget .submit-btn button
	width 100% !important

.count-choice .send-button
	vertical-align middle

.right-action-ctnr
.live-skin-highlight-text
.awarding-panel .close-btn
.awarding-panel .info-section .slide-btn
.captcha-widget .refresh-captcha
	background-color transparent !important
	color var(--c-text) !important

	&:hover
		color var(--c-text) !important

	span
		color var(--c-text) !important

	&::after
		content none !important

.live-room-app .app-content .app-body .player-and-aside-area .aside-area .chat-control-panel
	border-top 1px solid var(--c-border)
	box-sizing border-box

.live-room-app .app-content .app-body .section-block .left-container
	float none
	width auto

.live-room-app .app-content .app-body .player-and-aside-area .left-container .head-info-section
.live-room-app .app-content .app-body .player-and-aside-area .left-container .gift-control-section
.live-room-app .app-content .app-body .player-and-aside-area .aside-area
.side-bar-cntr
.count-choice
.buy-info-box
	border-color var(--c-border) !important
	background-color var(--c-background) !important

.video-container
.live-container
.count-down
.count-choice .count-input
.chat-history-panel .chat-history-list .chat-item.system-msg
	border-color var(--c-border) !important
	background-color var(--c-hover) !important
	color var(--c-text) !important

.choice-item
	border-color var(--c-border) !important
	background-color var(--c-background) !important
	color var(--c-text) !important
	transition background-color 0.3s ease-in-out !important

.choice-item:hover
	background-color var(--c-hover) !important

.choice-item.active
	border-color var(--c-accent) !important
	background-color var(--c-background) !important
	color var(--c-accent) !important

.box-body
	border-radius 4px !important
	background-color var(--c-background) !important

@media (prefers-color-scheme: dark)
	.live-player-ctnr.minimal
		box-shadow 0 0 30px 1px rgba(84, 94, 101, 0.4)