/* 直播播放界面样式 */
.link-footer-vm
.rank-list-ctnr
.live-room-app .app-content .app-body .player-and-aside-area .aside-area .rank-list-section
.chat-history-panel
.live-room-app .app-content .app-body .player-and-aside-area .aside-area .chat-control-panel
.content-wrapper
.live-player-ctnr.minimal
	background-color var(--c-background) !important

.attention-btn-ctnr .right-part
	background-color var(--c-hover) !important

.right-action-ctnr
	background-color transparent !important

.live-room-app .app-content .app-body .player-and-aside-area .left-container .head-info-section
.live-room-app .app-content .app-body .player-and-aside-area .left-container .gift-control-section
.live-room-app .app-content .app-body .player-and-aside-area .aside-area
	border 0
	background-color var(--c-background)

.room-introduction-tags
	border-color var(--c-border) !important

.link-navbar-ctnr
	box-shadow none

.link-navbar .main-ctnr .nav-items-ctnr
.shortcuts-ctnr .shortcut-item:last-child
.custom-link
.live-room-app .app-content .app-body .section-block .right-container
.left-container .flip-view
	display none !important

.link-navbar .main-ctnr .nav-logo
	font-size 0 !important

.link-navbar .main-ctnr .nav-logo:before
	top 11px !important
	width 30px !important
	height 30px !important
	background-size 30px !important

.chat-input
	border 1px solid var(--c-border) !important
	background-color var(--c-background) !important

.live-room-app .app-content .app-body .player-and-aside-area .aside-area .chat-control-panel
	border-top 1px solid var(--c-border)

.content-wrapper
	border 0 !important

.live-room-app .app-content .app-body .section-block .left-container
	float none
	width auto

.side-bar-cntr
	border 0 !important
	background-color var(--c-background) !important

.video-container
.live-container
	border-color var(--c-border) !important
	background-color var(--c-hover) !important
	color var(--c-text) !important

.bl-button--primary
	background-color var(--c-accent) !important
	color var(--c-white) !important

.bl-button--primary[data-v-8a4e6ac4]:disabled
	background-color #e9eaec !important
	color #b4b4b4 !important

@media (prefers-color-scheme: dark)
	.live-player-ctnr.minimal
		box-shadow 0 0 30px 1px rgba(84, 94, 101, 0.4)