body
.input .byte-input__input
.input .byte-input__textarea
  background-color var(--juejin-background) !important

.byte-dropdown-menu
  background-color var(--juejin-popup) !important

.byte-dropdown-item:focus
.byte-dropdown-item:hover
  background-color var(--juejin-gray-3) !important

html
  background-color transparent !important

body
  color var(--juejin-font-2) !important

input[type=password]
input[type=text]
input[type=url]
textarea
  border-color var(--juejin-border) !important

/* 滚动条 */
::-webkit-scrollbar
  max-width 6px
  max-height 12px

::-webkit-scrollbar-thumb
  border-radius 6px
  background-color var(--juejin-font-3)