@-moz-document url-prefix("https://juejin.cn/creator/")
  .data-card
  .button-group
  .first-line .byte-dropdown .more-icon:hover
  .first-line .byte-dropdown .more-icon.menu-show
  .creator-event-view .content .select-content .select-button
    background-color var(--juejin-background) !important

  .card
  .button-group .group-item.active
  .first-tab
  .content-zone .content
  .follower-container
  .creator-event-view
  .event .event-inner .banner
  .qa
    background-color var(--juejin-font-white) !important

  .link:hover
  .qa-content:hover
    background-color var(--juejin-gray-3) !important

  .byte-tabs--horizontal .byte-tab-nav--line:after
    background-color var(--juejin-border) !important

  .byte-tab-bar
    background-color var(--juejin-brand-1-normal) !important

  .card .title-line
  .data-card .data
  .task-items .item .item-content .rule .rule-text
  .content .title.content .title
  .event .event-inner
    color var(--juejin-font-1) !important

  .data-card .label
  .button-group .group-item
  .message .brief
  .creator-event-view .content .select-content .select-button
  .right-wrap .byte-dropdown-item__text
  .qa
  .qa-content .question-answer-card .answer-card
    color var(--juejin-font-2) !important

  .more
  .data-card .vary-box .text
  .task-items .item .item-content .award .award-text
  .first-line .more-icon
  .infos
  .message .date
  .creator-event-view .content .select-content
  .qa-content .question-answer-card .question-card .icon
    color var(--juejin-font-3) !important

  .button-group .group-item.active
    color var(--juejin-brand-1-normal) !important

  .send-button
    color #fff !important

  .card .title-line
  .task-items .item
  .essay-list
  .infos .split-line
  .button-group-default .group-item.active:before
  .button-group-default .group-item:hover:before
  .filter-wrap .filter-item
  .editable
  .message
  .qa-content:not(:last-child)
  .qa-content .question-answer-card .question-card .dot-question .dot
    border-color var(--juejin-border) !important