/*![[defaultTheme]]*/
.nav-item .tablead
  position absolute !important
  overflow hidden !important
  white-space nowrap !important
  margin 0 !important
  padding 0 !important
  height 1px !important
  width 1px !important
  clip rect(0 0 0 0) !important
  clip-path inset(100%) !important

.search-form .seach-icon-container.active
  background-color var(--juejin-background) !important

.sidebar-block
.xitu-skeleton
.suspension-panel .btn
  background-color var(--juejin-font-white) !important

.view-nav
.view-nav:before
  background-color var(--juejin-navigation) !important

.add-group .more-list
.typehead
.phone-hide
  background-color var(--juejin-popup) !important

.add-group .more-list .item:hover
.typehead .list div:hover
  background-color var(--juejin-gray-3) !important

.meta-container .date:after
.meta-container .date:before
.advertisement .meta-container .dividing
  background-color var(--juejin-border) !important

.nav-list.left .nav-item.active:before
  background-color var(--juejin-brand-1-normal) !important

.entry
.entry-list
.search-form
.main-nav-list
  background-color transparent !important

.advertisement .main .info-box .title
.first-line .title
.sidebar-block.link-block .title
  color var(--juejin-font-1) !important

.advertisement .meta-container .user-message .userbox
.typehead
.typehead .list
.nav-list.left .nav-item a
  color var(--juejin-font-2) !important

.advertisement .main .info-box .description
.advertisement .tag
.action-box .item
.content-box .user-box .author-badge-text
  color var(--juejin-font-3) !important

.typehead .title .clear
.limit-btn
.nav-list.left .nav-item.active a
  color var(--juejin-brand-1-normal) !important

.hot-item-text:hover
  color var(--juejin-brand-2-hover) !important

.add-group .add-btn
.add-group .more
  color #fff !important

.main-header
.search-form
.content-wrapper
.advertisement .main
.suspension-panel .btn
.typehead
.typehead .title
.advertisement .tag
.phone-hide
  border-color var(--juejin-border) !important


.main-header
  .logo-img
    display none !important
  .mobile
    display block !important