@-moz-document url-prefix("https://juejin.cn/post/")
  .tag-list-box .tag-list .item.category-item
  .tag-list-box .tag-list .item.tag-item
    background-color var(--juejin-background) !important

  .main-area .article
  .main-area div
  .article-catalog
  .panel-btn
    background-color var(--juejin-font-white) !important

  .panel-btn.share-btn .share-popup
  .wechat-qrcode
    background-color var(--juejin-popup) !important

  .markdown-body code
  .markdown-body pre
  .markdown-body pre > code
    background-color var(--juejin-code) !important

  .divider
  .main-area.recommended-area .entry-list .entry .content-wrapper:before
    background-color var(--juejin-border) !important

  .article-title
  .sidebar-block:not(.pure) .block-title
  .entry-title
  .main-area.recommended-area .recommended-list-title-wrapper .title .title-content
  .catalog-title
  .comment-form .header .header-title
  .comment-list-wrapper .title
  .content-box .user-box .username .name
    color var(--juejin-font-1) !important

  .markdown-body
  .author-info-block .author-name .username
  .user-item .info-box .username
  .stat-item .content
  .main-area.recommended-area .entry-list .entry .content-wrapper .title-row a.title
  .main-area.recommended-area .entry-list .entry .meta-container .popover-box.user-popover
  .main-area.recommended-area .entry-list .entry .meta-container .date
  .main-area.recommended-area .entry-list .entry .meta-container .tag
  .catalog-list .item.d1
  .extension-banner .banner-title
  .panel-btn.share-btn .share-popup .share-item .share-item-title
  .catalog-list .item
  .comment-list-wrapper .sort .item
  .content
    color var(--juejin-font-2) !important

  .markdown-body pre > code
  .hljs-keyword
  .hljs-selector-tag
  .hljs-subst
  .meta-box
  .user-item .info-box .position
  .entry-meta
  .main-area.recommended-area .entry-list .entry .action-list > .item
  .tag-list-box .tag-list .item.category-item
  .tag-list-box .tag-list .tag-list-title
  .extension-banner .banner-content
  .wechat-qrcode .wechat-qrcode-title
  .content-box .position
  .content-box .time
    color var(--juejin-font-3) !important

  .markdown-body a
  .comment-list-wrapper .sort .active
    color var(--juejin-brand-1-normal) !important

  .markdown-body h2
  .markdown-body a
  .book-card-wrap
  .catalog-title
  .main-area.recommended-area .recommended-list-title-wrapper .title
  .main-area.recommended-area .entry-list .entry .content-wrapper
  .sidebar-block:not(.pure) .block-title
    border-color var(--juejin-border) !important

  .panel-btn.share-btn .share-popup:after
    border-right-color var(--juejin-popup) !important