/* 课堂主页样式 */
.time-line-wrapper .line .point-wrapper
.backTop-item
.backTop-slide
.buyListBar-showContent
.officialAccount-showContent
  background-color var(--c-background) !important

.nav-wrapper
  background-color var(--c-hover) !important

.time-line-wrapper .line
.time-line-wrapper .line .point
  background-color var(--c-border) !important

.backTop-item:hover
  background-color var(--c-accent) !important

.block-title
  color var(--c-title) !important

.block-page-progress
.block-list-item-desc
.block-list-item-price.origin
.time-line-wrapper .time
  color var(--c-text) !important

.backTop-item:hover .buyListBar-desc--txt
.backTop-item:hover .officialAccount-desc--txt
  color var(--c-white) !important

.block-list-item-price .price-pre
.myClassroom:hover
.nav .item:hover p
  color var(--c-accent) !important

.backTop-item
  border-color var(--c-border) !important

.backTop-item:hover
  border-color var(--c-accent) !important

.buyListBar
.officialAccount
  border 1px solid var(--c-border)

.slider-wrapper .slider-content
  margin -10px
  padding 10px
  border-radius 4px
  background-color var(--c-background) !important

.block-list .slider-contro .slider-next
.block-list .slider-contro .slider-prev
  border-radius 50%
  background-color var(--c-hover) !important

.backTop-item .go-top
  border 0
  background-color transparent !important
  color var(--c-title) !important

  &::after
    content none !important