@-moz-document url-prefix("https://www.bilibili.com/cheese") {
	/* 课堂 */
	@import 'home'
	@import 'play'
}
@-moz-document url-prefix("https://www.bilibili.com/v/cheese/") {
  /* 我的课程 */
	@import 'mine'
}