/* 课堂播放界面样式 */
.v-wrap .r-con .notice
  background-color var(--c-background) !important

.v-wrap .r-con .notice .right.canReceive
.season-tabs .tabs a.on
  color var(--c-accent) !important

.season-info
.season-tabs .tabs
.season-detail .content-img
.season-detail .faq.faq
.season-detail .note.faq
  border-color var(--c-border) !important

.season-tabs .tabs a.on
  border-color var(--c-accent) !important

.v-wrap .r-con .notice
  border 1px solid var(--c-border)

.bb-comment
  padding 10px
  border-radius 4px
  background-color var(--c-background) !important