/* 消息界面样式 */
.title
.divided-line
.space-right .space-right-top
.source-img
	display none !important

.system-item .title
	display inline-block !important

.space-left
.space-right
.bp-popup-panel
.is-black
.is-limit
.message-list
.emotion-box
.emotion-box::after
.emoji-box
.emoji-box::after
	background-color var(--c-background) !important

.list
	margin-top 100px !important

.title
.line-1 .name-field
.bp-popup-panel .title-ctnr .popup-title
.list-title
.list-item .name
.action-menu .menu-list a
.textarea
.config
	color var(--c-title) !important

.item
.line-1
.line-2
.time
.action-button
.text-box
.content-text
.bottom
.list-item .last-word
.indicator
.emoji-box .emoji-item
.tip
	color var(--c-text) !important

.item.active a
.item.active::before
.item:hover a
.item:hover::before
.line-1 .name-field a:hover
.link
.is-black
.is-limit
.msg-more
.dynamic-link
	color var(--c-accent) !important

.card
.action-menu .menu-list
	box-shadow none !important
	background-color var(--c-background) !important

.reply-item:not(:last-child)::after
.love-item:not(:last-child)::after
.list
.list-title
.title
	border-color var(--c-border) !important

.text-box
	width auto !important
	max-width 300px

.reply-textarea
.message .message-content
.new-message-tip .text
.send-box
	border-color var(--c-border) !important
	background-color var(--c-hover) !important
	color var(--c-text) !important

.send-button
.bl-button--primary
.bl-button--ghost
.send-btn
	border-color var(--c-accent) !important
	background-color var(--c-accent) !important
	color var(--c-white) !important

.system-item
.list-item
	border-bottom 1px solid var(--c-border)
	border-radius 0 !important

.notify
	background-color var(--c-accent) !important

.active
.new-message-tip::after
	background-color var(--c-hover) !important