/* 消息界面样式 */
.side-bar .title
.divided-line
.space-right .space-right-top
.source-img
.config .config-item:not(:first-child)::before
	display none !important

.system-item .title
	display inline-block !important

.space-left
.space-right
.bp-popup-panel
.is-black
.is-limit
.message-list
.emotion-box
.emotion-box::after
.emoji-box
.emoji-box::after
	background-color var(--c-background) !important

.list
	margin-top 100px !important

.list-item .last-word
	color var(--c-text) !important

.card
.action-menu .menu-list
	box-shadow none !important
	background-color var(--c-background) !important

.reply-item:not(:last-child)::after
.love-item:not(:last-child)::after
.list
.list-title
.title
	border-color var(--c-border) !important

.text-box
	width auto !important
	max-width 300px

.reply-textarea
.message .message-content
.new-message-tip .text
.send-box
	border-color var(--c-border) !important
	background-color var(--c-hover) !important
	color var(--c-text) !important

.send-button
.bl-button--primary
.bl-button--ghost
.send-btn
	border-color var(--c-accent) !important
	background-color var(--c-accent) !important
	color var(--c-white) !important

.system-item
.list-item
	border-bottom 1px solid var(--c-border) !important
	border-radius 0 !important

.notify
	background-color var(--c-accent) !important

.active
.new-message-tip::after
.emoji-box .emoji-item:hover
.emotion-item:hover .img
	background-color var(--c-hover) !important

.config
	box-shadow none !important
	background-color transparent !important

.action-button
	background-color transparent !important
	color var(--c-text) !important

	&::after
		content none

.input-box .textarea
	border 0 !important
	background-color transparent !important

.love-card .header::after
	background-color var(--c-border) !important