/* 账户信息 */
.sidebar .nav-item-indicator
.sidebar .nav-item .nav-item-icon
.sidebar .nav-line
  display none !important

.app-layout .page-content .router-view
.recharge-panel-container .recharge-panel
.recharge-panel-container .recharge-panel .charge-title .tab-name.is-active
  background-color var(--c-background) !important

.sidebar .nav-item.router-link-active
.sidebar .nav-item:hover
.user-info-component .user-avatar
.coupon-label.whole-coupon
.recharge-panel-container .recharge-panel .charge-title
.recharge-option-container .recharge-hinter
.recharge-option-container .recharge-config-list .is-not-first-charge
.recharge-option-container .recharge-config-list .recharge-list-container .list-item .first-award-hinter
.recharge-option-container .recharge-config-list .recharge-list-container .list-item.selected
.recharge-option-container .recharge-config-list .recharge-list-container .list-item:hover
  background-color var(--c-hover) !important

.app-layout .page-content
.sidebar
.user-info-component .user-info .uid
  background-color transparent !important

.recharge-option-container .recharge-config-list .is-not-first-charge:hover
.recharge-option-container .recharge-config-list .recharge-list-container .list-item .first-charge-icon
  background-color var(--c-accent) !important

.coupon-label .container-left .coupon-type
.purchase-history .list-item .text-info .display-text
.purchase-history .list-item .coin-info .recharge-count
  color var(--c-title) !important

.auto-purchase .page-sub-title
.auto-purchase .page-sub-title .question-icon .hover-tab .tab-text
.recharge-option-container .first-charge-hinter
.recharge-option-container .recharge-config-list .recharge-list-container .list-item .first-award-hinter
.purchase-history .list-item .text-info .recharge-date
  color var(--c-text) !important

.recharge-option-container .recharge-config-list .recharge-list-container .list-item .first-charge-icon .charge-text
  color var(--c-white) !important

.sidebar .nav-item.router-link-active .nav-item-label
.user-info-component .coin-info .coin-remain-count
.pivot-component .pivot-headers .pivot-header-item.selected
.pivot-component .pivot-headers .pivot-header-item:active
.coupon-label .container-right .total-amount
.my-favourite-page .page-header .page-pivot .pivot-button.enabled
.my-favourite-page .page-header .page-pivot .pivot-button:hover
.recharge-option-container .panel-hinter .reset-number
.recharge-option-container .recharge-summary .recharge-amount
.recharge-option-container .recharge-config-list .recharge-list-container .list-item .recharge-info .recharge-amount
  color var(--c-accent) !important

.user-info-component .user-avatar
.pivot-component .pivot-headers
  border-color var(--c-border) !important

.recharge-option-container .recharge-config-list .recharge-list-container .list-item.selected
.recharge-option-container .recharge-config-list .recharge-list-container .list-item:hover
  border-color var(--c-accent) !important

.user-info-component .unuseable .user-help .unuseable-hinter:before
.question-icon .hover-tab:before
  border-bottom-color var(--c-border) !important

.user-info-component .unuseable .user-help .unuseable-hinter
.auto-purchase .page-sub-title .question-icon .hover-tab
.question-icon .hover-tab
  border 1px solid var(--c-border)

.app-layout .page-content .router-view
  border-radius: 4px

.shadow-is-the-light
  box-shadow none !important

.app-layout .page-content
  padding-top 40px

.sidebar .nav-item .nav-item-label
  min-width auto !important

.user-info-component .coin-info .b-coin
.user-info-component .unuseable .text-content
  opacity 1

.coupon-label.whole-coupon
  background-image none !important

.app-layout .page-content .app-sidebar
  padding 60px 0 0 35px
  width 180px !important

.sidebar .nav-item
  height 50px !important
  line-height 50px !important

.sidebar .nav-item
  border-radius 10px
  transition all 0.3s ease-in-out !important

.my-favourite-page .page-header .page-pivot .pivot-button
.list-editor-toolbar .edit-button
.recharge-panel-container .close-button
.recharge-option-container .recharge-config-list .is-not-first-charge .p-relative
  border 0 !important
  background-color transparent !important
  color var(--c-title) !important

  &::after
    content none !important

  span
    color var(--c-title) !important