/* 漫画详情页 */
.title-tooltip
.manga-detail .section .right-side
.header-info .manga-info .supporting-text .label-icon
.container .pocket-tv
  display none !important

.purchase-panel
.container .back-to-content
  background-color: var(--c-background) !important

.list-data .list-item.last-read
.list-data .list-item:hover
.discount-hinter
.purchase-panel .action-buttons button.action-button.selected
.episode-list-component .episode-list .list-header .header-item.selected
  background-color var(--c-hover) !important

.container .back-to-content .line
  background-color var(--c-border) !important

.header-info .manga-info .season-introduction .size-ruler
.manga-detail .layout
  background-color transparent !important

.list-item .short-title
.purchase-panel .panel-title
  color var(--c-title) !important

.purchase-panel .summary .price .orig
.purchase-panel .summary .price .final .rmb-price
  color: var(--c-text) !important

.list-data .list-item.last-read div
.list-data .list-item:hover div
.manga-detail .episode-list-component .episode-list .list-header button.header-item.selected
.manga-detail .episode-list-component .episode-list .list-header button.header-item:hover
.purchase-panel .summary .price .final div
  color var(--c-accent) !important

.discount-hinter
.purchase-panel
  border-color var(--c-border) !important

.list-data .list-item.last-read
.list-data .list-item:hover
  border-color var(--c-accent) !important

.manga-detail .layout
.manga-detail .section .section-list
.container .back-to-content
  box-shadow: none !important

.episode-list .list-data .list-item:nth-child(4n)
  margin-right: 16px

.episode-list .list-data .list-item:nth-child(5n)
  margin-right: 0

.manga-detail .section .section-list
  width: 100% !important

.purchase-panel .action-buttons .action-button .tag.discount
  border-radius: 0 0 6px 0
  background-image: none !important
  background-color: var(--c-accent) !important
  color: var(--c-white) !important

.list-item
.episode-list-component .episode-list .list-header .header-item
.purchase-panel .action-buttons .action-button
.purchase-panel .close-button
  border-color var(--c-border) !important
  background-color transparent !important

  &::after
    content none !important

.app-layout .size-ruler.p-relative
  border-radius 4px
  box-shadow none !important
  background-color var(--c-background) !important