/* 导航 */
.manga-footer
.manga-logo
.user-info-panel a .tooltip
.nav-list a:last-child
  display none !important

.manga-navbar .manga-navbar
.search-bar .search-suggestion
.user-panel .drop-list
.manga-navbar-history-list .drop-list
.manga-navbar-favourite-manga .drop-list
  background-color var(--c-background) !important

.search-bar .search-bar-bg
.drop-list .more-btn-container:hover
.user-panel .drop-list .logout-btn-container .logout-button:hover
  background-color var(--c-hover) !important

nav.manga-navbar .right-part .drop-list .size-ruler a button
  color var(--c-title) !important

.search-bar .search-input
  background-color transparent !important

nav.manga-navbar.p-fixed.p-zero a button
nav.manga-navbar.p-fixed.p-zero a button span
  color var(--c-white) !important

.nav-list a:hover .nav-item span
.manga-navbar-history-list:hover .action-button
.manga-navbar-favourite-manga:hover .action-button
nav.manga-navbar.p-fixed.p-zero a:hover button
nav.manga-navbar.p-fixed.p-zero a:hover button span
  color var(--c-accent) !important

.manga-navbar .manga-navbar
  border-bottom 1px solid var(--c-border)

body
  min-height 100vh

.right-part .drop-list .size-ruler
  border 1px solid var(--c-border)
  border-top-width 0
  border-radius 0 0 10px 10px
  overflow hidden

nav.manga-navbar
  box-shadow none !important
  background-color var(--c-bg-header) !important
  backdrop-filter blur(5px) !important

.app-layout
  padding-top 0 !important

.search-bar
  padding 0 8px !important

.search-bar .placeholder-list
  height 32px !important

.search-bar .placeholder-list .placeholder-item
  line-height 32px !important

.search-bar .confirm-btn
  padding 8px !important

.search-bar .search-suggestion
  margin-top 8px
  transition all 0.3s ease-in-out !important

.search-bar .search-suggestion .suggestion-item.selected
.search-bar .search-suggestion .suggestion-item:hover
  background-color var(--c-hover) !important
  color var(--c-text) !important

.user-panel .drop-list .logout-btn-container
.user-panel-ctnr .user-panel .content-ctnr .logout-btn
.drop-list .more-btn-container
  border-top 1px solid var(--c-border)
  background-color var(--c-background) !important
  transition all 0.3s ease-in-out !important

.nav-list
  width 36px

.nav-list a
  display inline-block
  opacity 0
  transform translateY(-40px)
  transition all 0.3s ease-in-out

  &:first-child
    opacity 1
    transform translateY(0)

    .item-icon
      width 30px !important
      height 30px !important

    .item-label
      font-size 0

  for n in 2 3 4
    &:nth-child({n})
      transition-delay 0.05s * (n - 1)

.nav-list:hover
  width auto

.nav-list:hover a
  opacity 1
  transform translateY(0)

.nav-list .nav-item
  background-color transparent !important

  span
    color var(--c-title) !important

  &::after
    content none !important