/* 导航 */
.nav-list
.manga-footer
.manga-navbar-manga-logo span.dp-i-block
  display none !important

.manga-navbar
  background-color var(--c-background) !important

.manga-navbar
  box-shadow none !important
  background-color var(--c-bg-header) !important
  backdrop-filter blur(5px) !important

.app-layout
  padding-top 0 !important

.search-bar
  padding: 0 8px !important

.search-bar .search-bar-bg
  background-color: var(--c-hover) !important

.search-bar .search-input
  background-color transparent !important

.search-bar .placeholder-list
  height 32px !important

.search-bar .placeholder-list .placeholder-item
  line-height: 32px !important

.search-bar .confirm-btn
  padding: 8px !important