/* 漫画主页 */
.multi-line-text::before
.multi-line-text::after
  display none !important

.vertical-block-card
.newbie-awarder .award-dialog .award-dialog-container
  background-color var(--c-background) !important

.section-title
.item-title
.manga-title
.standby-panel .content-container .panel-title
  color var(--c-title) !important

.manga-card-vertical .text-info-section .supporting-text
.schedule-item .text-section .status-text
.meta-info p
.standby-panel .content-container .support-text
  color var(--c-text) !important

.section-navigator
  border-color var(--c-border) !important

.section-navigator .section-item
  transition all 0.5s ease-in-out !important

.section-navigator .section-item.current
.section-navigator .section-item:hover
  background-color var(--c-accent) !important
  color var(--c-white) !important

.manga-navbar-history-list .action-button
.manga-navbar-favourite-manga .action-button
.search-bar .confirm-btn
.section-navigator .section-item
.back-to-top-button
.schedule-list .list-header .date-selector .date-item
.tab-item
.newbie-awarder .close-button
  background-color transparent !important

  &::after
    content none !important

.recommendation-section .manga-list
  width 100% !important