/* 漫画页 */
.episode-comment
  background-color var(--c-background) !important

.read-nav .episode
.episode-comment .header-section div
  color var(--c-title) !important

.action-bar-container .app-button
.hover-toast .app-button
.floating-button
.episode-comment .header-section .close-button
  background-color transparent !important

  &::after
    content none !important

.info-layer .floating-button
  border 1px solid var(--c-border) !important
  background-color var(--c-hover) !important