/* 排行榜 */
.arrow
  display none !important

.sidebar-item
  text-align center

.sidebar-container
  width 100px !important

.rank-item-wrapper
  background-image none !important

.app-layout .main-container
  margin-top 70px !important

.sidebar-ctnr
  margin-top 100px !important
  border 0 !important

.ninnki-rank-ctnr
.ouenn-rank-ctnr
  padding: 20px
  border-radius: 4px
  background-color: var(--c-background) !important

  .rank-item
    margin-right: 15px !important

.sidebar-item.activated
.sidebar-item:hover
  border-radius 10px
  background-color var(--c-hover) !important
  transition background-color 0.3s ease-in-out

  span
    color var(--c-accent) !important
    transition color 0.3s ease-in-out