/* 主体 */
.video-page-special-card
	display none

.bili-header-m .nav-menu .up-load .u-link
	line-height 50px

.collection-m
.coin-operated-m
.open-dialog-masker .open-dialog-content
.main-container .media-info .media-right .media-tool-bar .btn-rating:hover
.short-review-masker .short-review-content
.main-container .pay-bar .vip .btn-pay
.bilibili-player-video-sendbar .bilibili-player-video-inputbar
.members-info__header
	background-color var(--c-background) !important

.multi-page .cur-list .list-box li.on
.multi-page .cur-list .list-box li:hover
.main-container .review-module .review-list .review-item .review-body
.ep-list-wrapper .ep-item:hover
.section-ep-wrapper .ep-item:hover
.ep-list-wrapper .ep-item.cursor
.section-ep-wrapper .ep-item.cursor
.bilibili-player-video-sendbar .bilibili-player-video-inputbar .bilibili-player-video-hint
	background-color var(--c-hover)

.main-container .media-info .media-right .pub-wrapper .up-info-wrapper .split-line
	background-color var(--c-border)

.bui-slider .bui-track .bui-bar-wrap .bui-bar
	background-color var(--c-accent)

.bilibili-player-video-wrap a
.bilibili-player-video-wrap div
.bilibili-player-video-wrap li
.bilibili-player-video-wrap span
.bilibili-player-video-wrap span:hover
.player-tooltips div
	color var(--c-white) !important

.video-info .video-title .tit
.collection-m .title
.coin-operated-m .coin-title
.video-desc .btn span
.ep-section-module .section-title
.recommend-list .rec-title
	color var(--c-title) !important

.bilibili-player-video-sendbar .bilibili-player-video-inputbar .bilibili-player-video-hint a span
.main-container .review-module .review-list .review-item .review-content
.main-container .review-module .review-list .review-item .pub-time
ul.rate-star li i
.video-toolbar .ops>span i
.video-desc .info
.video-toolbar .appeal-text
.player-auxiliary-area .player-auxiliary-filter .player-auxiliary-setting-menu-wrap .player-auxiliary-setting-menu-list
	color var(--c-text) !important

.coin-operated-m .coin-title span
.coin-operated-m .mc-box.on .c-num
.main-container .review-module .review-list .review-item .review-header .review-star li i.icon-star-full
ul.rate-star li i.icon-star-full
.video-info .video-data .argue i
.video-info .video-data .copyright i
	color var(--c-accent) !important

.bilibili-player
	box-shadow none

.bilibili-player-ending-panel-box-functions .bilibili-player-upinfo-spans .display>div.active .bp-svgicon
.bilibili-player-ending-panel-box-functions .bilibili-player-upinfo-spans .display>div.active:hover .bp-svgicon
	fill var(--c-accent)

.bilibili-player-video-sendbar
.tag-info-pane
.tag-del-popup
.tag-report-popup
.multi-page
.multi-page .cur-list .module-box li
.main-container .media-info .media-right .media-tool-bar .bangumi-options .opt-list
.main-container .ep-list-wrapper
.ep-section-module
	border 1px solid var(--c-border)
	background-color var(--c-background)

.collection-m .title
.collection-m .content .group-list .add-group .add-btn
.collection-m .bottom
.video-toolbar
.v-wrap .s_tag
.tag-info-pane .btn-right-box
.user-card-m
.main-container .media-info
.main-container .review-module
.main-container .plp-l .comment-wrapper
.open-dialog-masker .open-dialog-content .__dialog-header
.video-toolbar .ops .share .share-pos .box-b
.bilibili-player-video-sendbar .bilibili-player-video-inputbar .bilibili-player-video-inputbar-wrap
	border-color var(--c-border)

.video-toolbar .ops .share .share-pos
.video-toolbar .ops .share .share-pos .share-address ul li input
.more-ops-list
.s_tag .ipt
.main-container .media-info .media-right .media-desc i
.main-container .pay-bar .vip .btn-pay.active
	border-color var(--c-border)
	background-color var(--c-background) !important
	color var(--c-text)

.coin-operated-m .mc-box
	border 0
	background-color var(--c-white)

.members-info
	margin-bottom 20px
	border 1px solid var(--c-border)

.members-info .up-card
	padding 0 10px

.main-container .media-info .media-right .media-tool-bar .btn-rating
	border 0
	background-color var(--c-background)
	color var(--c-text)

.open-dialog-masker .open-dialog-content .open-body ul li i.icon-complete
	border-color var(--c-accent)
	color var(--c-accent)

.short-review-masker .short-review-content .review-body-wrap
	height auto
	border 0

.short-review-masker .short-review-content .review-body-wrap textarea
	padding 10px
	height 120px
	background-color var(--c-hover)
	color var(--c-title)

.short-review-masker .short-review-content .review-body-wrap span.tip
	bottom 10px
	right 20px
	color var(--c-text) !important

.video-desc .btn
.members-info__header .btn
.bilibili-player-iconfont
.bilibili-player-video-btn
	background-color transparent !important
	color var(--c-title) !important

	&::after
		content none !important