/* 弹幕列表 */
.player-auxiliary-area .player-auxiliary-filter-title
	color var(--c-title) !important

.bui-collapse .bui-collapse-wrap
	border 1px solid var(--c-border)
	border-radius 2px

.player-auxiliary-area
.bui-collapse .bui-collapse-header
.player-auxiliary-area .player-auxiliary-filter
.danmaku-wrap .player-auxiliary-area .player-auxiliary-danmaku-wrap
.danmaku-wrap .player-auxiliary-area .player-auxiliary-danmaku-wrap .player-auxiliary-danmaku-load-status
.danmaku-wrap .player-auxiliary-area .player-auxiliary-danmaku-btn-footer
	background-color var(--c-background)

.player-auxiliary-area .player-auxiliary-danmaku .player-auxiliary-danmaku-function
.player-auxiliary-area .player-auxiliary-danmaku .player-auxiliary-danmaku-function div
	background-color var(--c-hover) !important