/* 影视详情 */
.bili-footer
.bili-header-m .nav-menu .nav-mask
.btn-pay-wrapper .pic-wrapper
.media-tab-module-wrp .media-tab-module-content .sl-ep-nav .sl-ep-nav-list .sl-ep-nav-item.on::after
  display none !important

.media-tab-content
.media-tab-detail-wrp .media-tab-detail
.media-tab-detail-wrp .media-tab-detail-l
.media-info-card
.sort-type-wrp ul
.spread-module .num
.review-feed-wrapper
  background-color var(--c-background) !important

.share-module
.misl-ep-item
.bangumi-review-item
.sort-type-wrp ul li:hover
.btn-pay-wrapper.is-vip a
.section-item
.media-tab-module-wrp .media-tab-module-content .sl-ep-nav .slider-contro span
.media-tab-module-wrp .media-tab-module-content .sl-ep-nav .slider-contro span.disabled:hover
  background-color var(--c-hover) !important

.media-info-count .media-info-count-item em
.media-tab-wrp
.media-tab-nav
.international-header .mini-type
  background-color transparent !important

.media-tab-module-wrp .media-tab-module-content .sl-ep-nav .slider-contro span:hover
  background-color var(--c-accent) !important

.misl-ep-item .misl-ep-text .misl-ep-index
.media-tab-detail-wrp .media-tab-detail-l .media-tab-module-wrp .media-tab-module-title
.media-tab-detail-wrp .media-tab-detail .media-tab-module-wrp .media-tab-module-title
.media-info-card .mic-title
.review-title span
.media-tab-module-wrp .media-tab-module-content .sl-ep-nav-title
.section-item .section-text .section-index
.section-item .section-text .section-title
  color var(--c-title) !important

.icon-star:before
.bangumi-media .bangumi-media-header .btn-more-review
.media-tab-detail-wrp .media-tab-detail-l .media-tab-module-wrp .media-tab-module-more
.media-tab-detail-wrp .media-tab-detail .media-tab-module-wrp .media-tab-module-more
.review-list-wrp li div
.icon-zan:before
.review-feed-item .feed-left .review-about
.review-feed-item .feed-right .likes
.section-item .section-text .section-title
.media-info-card .mic-expand
.misl-ep-item .misl-ep-text .misl-ep-title
.media-info-card .mic-evaluate-nodata
  color var(--c-text) !important

.media-info-r span
.media-tab-nav ul li
.to-review-btn
.mini-type .nav-user-center .user-con .item .name
.mini-type .nav-link .nav-link-ul .nav-link-item .link
.mini-type .nav-user-center .mini-upload
  color var(--c-white) !important

.media-info-score .media-info-score-content
.icon-star-light:before
.media-tab-nav ul li.on
.media-tab-nav ul li:hover
.bangumi-media .bangumi-media-header .btn-more-review:hover
.media-tab-detail-wrp .media-tab-detail-l .media-tab-module-wrp .media-tab-module-more:hover
.media-tab-detail-wrp .media-tab-detail .media-tab-module-wrp .media-tab-module-more:hover
.bangumi-review-item .item-header .author-name.is-vip
.bangumi-review-item .item-header .media-name.is-vip
.section-item:hover .section-text div
.media-info-card .mic-expand:hover
  color var(--c-accent) !important

.misl-ep-item
.bangumi-media
.media-tab-detail-wrp .media-tab-detail-l .media-tab-module-wrp
.media-tab-detail-wrp .media-tab-detail .media-tab-module-wrp
.media-tab-detail-wrp .media-tab-detail-l .media-tab-module-wrp .media-tab-module-more
.media-tab-detail-wrp .media-tab-detail .media-tab-module-wrp .media-tab-module-more
.bangumi-media .bangumi-media-header .btn-more-review
.sort-type-wrp ul
.review-list-wrp li
.review-feed-item
.media-tab-module-wrp .media-tab-module-content .sl-ep-nav .mode-select
  border-color var(--c-border) !important

.media-info-wrp .media-info-content .media-info-inner .media-info-r .media-info-title .media-tag
  border-color var(--c-white) !important

.bangumi-media .bangumi-media-header .btn-more-review:hover
.media-tab-detail-wrp .media-tab-detail-l .media-tab-module-wrp .media-tab-module-more:hover
.media-tab-detail-wrp .media-tab-detail .media-tab-module-wrp .media-tab-module-more:hover
.media-tab-module-wrp .media-tab-module-content .sl-ep-nav .sl-ep-nav-list .sl-ep-nav-item.on
  border-color var(--c-accent) !important

.media-info-wrp .media-info-content .media-info-inner .media-preview
.media-tab-nav ul li
.section-item
.international-header .mini-type
  border 0 !important

.media-info-card
  box-shadow none

.btn-pay-wrapper.is-vip a
  text-indent 0

.season-slider-wrapper .slider-wrapper .season-slider-list
.season-slider-wrapper .slider-wrapper .season-slider-list li
.season-slider-wrapper .slider-wrapper .season-slider-list li a
.season-slider-wrapper .slider-wrapper .season-slider-list li div
  height 50px
  line-height 50px

.season-slider-wrapper .slider-wrapper .season-slider-list li
  margin 0
  padding 0 10px
  border-color var(--c-border) !important
  background-color transparent
  transition all 0.3s ease-in-out

  &::before
  &::after
    content none

  &:first-child
    border-left 1px solid var(--c-border)

  &.cur
  &:hover
    background-color var(--c-hover)

    a
    div
      color var(--c-accent) !important

.bangumi-media .bangumi-media-header .rate-wrapper .btn-go-write
  background-color transparent !important

  &::after
    content none !important