/* 影视详情 */
.bili-footer
.bili-header-m .nav-menu .nav-mask
.btn-pay-wrapper .pic-wrapper
  display none !important

.media-tab-content
.media-tab-detail-wrp .media-tab-detail
.media-tab-detail-wrp .media-tab-detail-l
.media-info-card
.sort-type-wrp ul
.spread-module .num
.review-feed-wrapper
  background-color var(--c-background) !important

.share-module
.misl-ep-item
.bangumi-review-item
.sort-type-wrp ul li:hover
.btn-pay-wrapper.is-vip a
.section-item
  background-color var(--c-hover) !important

.media-info-count .media-info-count-item em
.media-tab-wrp
.media-tab-nav
  background-color transparent !important

.misl-ep-item .misl-ep-text .misl-ep-index
.media-tab-detail-wrp .media-tab-detail-l .media-tab-module-wrp .media-tab-module-title
.media-tab-detail-wrp .media-tab-detail .media-tab-module-wrp .media-tab-module-title
.media-info-card .mic-title
.review-title span
.media-tab-module-wrp .media-tab-module-content .sl-ep-nav-title
.section-item .section-text .section-index
.section-item .section-text .section-title
  color var(--c-title) !important

.icon-star:before
.bangumi-media .bangumi-media-header .btn-more-review
.media-tab-detail-wrp .media-tab-detail-l .media-tab-module-wrp .media-tab-module-more
.media-tab-detail-wrp .media-tab-detail .media-tab-module-wrp .media-tab-module-more
.review-list-wrp li div
.icon-zan:before
.review-feed-item .feed-left .review-about
.review-feed-item .feed-right .likes
.section-item .section-text .section-title
.media-info-card .mic-expand
  color var(--c-text) !important

.media-info-r span
.media-tab-nav ul li
.to-review-btn
  color var(--c-white) !important

.media-info-score .media-info-score-content
.icon-star-light:before
.media-tab-nav ul li.on
.media-tab-nav ul li:hover
.bangumi-media .bangumi-media-header .btn-more-review:hover
.media-tab-detail-wrp .media-tab-detail-l .media-tab-module-wrp .media-tab-module-more:hover
.media-tab-detail-wrp .media-tab-detail .media-tab-module-wrp .media-tab-module-more:hover
.bangumi-review-item .item-header .author-name.is-vip
.bangumi-review-item .item-header .media-name.is-vip
.section-item:hover .section-text div
.media-info-card .mic-expand:hover
  color var(--c-accent) !important

.misl-ep-item
.bangumi-media
.media-tab-detail-wrp .media-tab-detail-l .media-tab-module-wrp
.media-tab-detail-wrp .media-tab-detail .media-tab-module-wrp
.media-tab-detail-wrp .media-tab-detail-l .media-tab-module-wrp .media-tab-module-more
.media-tab-detail-wrp .media-tab-detail .media-tab-module-wrp .media-tab-module-more
.bangumi-media .bangumi-media-header .btn-more-review
.sort-type-wrp ul
.review-list-wrp li
.review-feed-item
  border-color var(--c-border) !important

.media-info-wrp .media-info-content .media-info-inner .media-info-r .media-info-title .media-tag
  border-color var(--c-white) !important

.bangumi-media .bangumi-media-header .btn-more-review:hover
.media-tab-detail-wrp .media-tab-detail-l .media-tab-module-wrp .media-tab-module-more:hover
.media-tab-detail-wrp .media-tab-detail .media-tab-module-wrp .media-tab-module-more:hover
  border-color var(--c-accent) !important

.media-info-wrp .media-info-content .media-info-inner .media-preview
.media-tab-nav ul li
.section-item
  border 0 !important

.media-info-card
  box-shadow none

.btn-pay-wrapper.is-vip a
  text-indent 0

.bangumi-media .bangumi-media-header .rate-wrapper .btn-go-write
  background-color transparent !important

  &::after
    content none !important

/* 导航 */
.bili-header-m
  background-color var(--c-bg-header) !important
  backdrop-filter blur(5px)

.bili-header-m .nav-menu .up-load
  margin 0
  padding 0

  .u-link
    line-height 42px