/* 记笔记 */
.resizable-component
.resize-box .note-drag-bar
.video-editor
.ql-snow .ql-picker-options
  background-color var(--c-background)

.ql-toolbar
.ql-container.ql-snow
.resize-box .ql-tag
.resize-box .space-btn
.resize-box .question-btn
.resize-box .close-btn
.resize-box .space-btn:hover
.resize-box .question-btn:hover
.resize-box .close-btn:hover
.resize-box .space-btn:after
  background-color transparent

.resize-box .close-btn
  color var(--c-title) !important

.ql-snow .ql-toolbar .ql-picker-item:hover
.resize-box .close-btn:hover
  color var(--c-accent) !important

.ql-container.ql-snow
  border 0

.resizable-component
  border 1px solid var(--c-border)

.ql-snow.ql-toolbar button
  border 0
  background-color transparent !important
  color var(--c-title) !important

  &:hover
    color var(--c-accent) !important

  &::after
    content none !important
