/* 主体 */
.footer
.nav-header-wrapper .nav-header .nav-header-logo
.toolbar-wrapper .service-wrapper
.nav-header-wrapper .nav-header .nav-header-mainsite
.nav-header-wrapper .nav-header .order-icon
.toolbar-wrapper .toolbar-title
.tabs-wrapper .tabs .tabs-item.active:before
.project-info table .project-content .content-right .ticket-type span
.header .right li.order .icons
.header .right li.order:after
.nav-header-wrapper .nav-header .nav-header-logo-sub
  display none !important

.nav-header-wrapper
.ticket-tips-wrapper .ticket-tips
.ticket-tips-wrapper .merchant-section
.selector-wrapper
.buyticket
.tabs-wrapper
.activity-info
.confirmorder-container
.selectable-option
.announcement-wrapper
.guest-wrapper
.order-list-wrapper
  background-color var(--c-background) !important

.project-list .project-list-item
.confirmorder-container .discounts .discounts-list p
.total-container
  background-color var(--c-hover) !important

.nav-header-wrapper .nav-header
.selector-wrapper .wrapper
.toolbar-wrapper
.bread-wrapper
.whole-detail-info-wrapper
.modal-wrapper .modal-container
.info-header
.ticket-tips-wrapper .merchant-section .baseinfo-wrapper .content-item .title
  background-color transparent !important

.selector-wrapper .more-city-letter-list .more-city-letter-item .letter-item.active:after
  background-color var(--c-accent) !important

.nav-header-wrapper .nav-header .order-center
.project-list-item-title
.whole-detail-info-wrapper .detail-info-wrapper .product-info-name
.whole-detail-info-wrapper .product-info-time-wrapper div.product-info-time-title
.modal-wrapper .modal-container .modal-header div
.ticket-tips-wrapper .ticket-tips-header
.activity-info .activity-info-header div
.info-header span
.announcement-title
.info-content p strong
.ticket-tips-wrapper .merchant-section .merchant-header
  color var(--c-title) !important

.detail-info-wrapper .vuene-info-content div
.detail-info-wrapper .product-info-time-wrapper div
.selectable-option
.announcement-item.active .announcement-item-time
.order-list-wrapper .order-list .no-order .err-tips
.ticket-tips-wrapper .merchant-section .baseinfo-wrapper .content-item .content
  color var(--c-text) !important

.buyticket .product-buy div
  color var(--c-white) !important

.selector-wrapper .city-list .city-item.active
.selector-wrapper .city-list .city-item:hover
.selector-wrapper .order-list .city-item.active
.selector-wrapper .order-list .city-item:hover
.selector-wrapper .li-more .active
.selector-wrapper .more-city-list .more-city-item:hover
.selector-wrapper .type-list .current-type span.active
.selector-wrapper .type-list li:hover span
.nav-header-wrapper .order-and-icon-wrapper:hover .order-center
.project-list-item-price .price
.pagination-wrapper .pagination .pageNum.active
.pagination-wrapper .pagination .pageNum:hover
.selectable-option.active
.whole-detail-info-wrapper .detail-info-wrapper .vuene-wrapper .vuene-info-content .check-map:hover
.tabs-wrapper .tabs .tabs-item.active
.tabs-wrapper .tabs .tabs-item:hover
.total-container div span
.project-info table .project-content .content-right .ticket-type
  color var(--c-accent) !important

.selector-wrapper .city-selector-wrapper
.selector-wrapper .type-selector-wrapper
.selector-wrapper .more-city-letter-list
.selectable-option.active:before
.whole-detail-info-wrapper .detail-info-wrapper .vuene-wrapper
.replies-comment-input-wrapper .replies-upload .replies-uploading-container .replies-uploading-btn
.confirmorder-container .discounts .discounts-list p
.project-info
.confirmorder-container .discounts
.selectable-option
  border-color var(--c-border) !important

.selectable-option.active
  border-color var(--c-accent) !important

.replies-comment-input-wrapper .replies-upload .replies-uploading-container
  border 1px solid var(--c-border)

.selector-wrapper
.nav-header-wrapper
.header
  border-bottom 1px solid var(--c-border)

.selectable-option.active:after
  border-color transparent transparent var(--c-accent) !important

.activity-info
.ticket-tips-wrapper .ticket-tips
.announcement-wrapper
.guest-wrapper
  border 0 !important

.toolbar-wrapper
.selector-wrapper
.project-list .project-list-item
.project-list .project-list-item .project-list-item-img
.selectable-option.active
.buyticket .product-buy
.product-buy-wrapper .promo-btn
.tabs-wrapper
.confirmorder-container
.confirmorder-container .confirm-bottom .confirm-paybtn.active
.ticket-tips-wrapper .rec-item:hover
.nav-header-wrapper
  box-shadow none !important

.buyticket .product-buy
.product-buy-wrapper .promo-btn
.confirmorder-container .confirm-bottom .confirm-paybtn.active
  background-image none !important

.project-list .project-list-item .promo-item
  padding 2px 4px

.replies-comment-input-wrapper.top-input-form .comment-input-form
  flex 1

.selector-wrapper .toggle path
  stroke var(--c-accent) !important

.nav-header-wrapper .nav-header .nav-header-search-bar
  float right

.nav-header-wrapper .nav-header .nav-header-tv-icon
  margin-left 0 !important
  width 30px !important
  height 30px !important

.pagination-wrapper
  margin-bottom 0
  padding-bottom 30px

.detail-content-wrapper
  flex-wrap wrap

  .detail-content
    order 2
    width 100%

    .activity-info
    .announcement-wrapper
    .guest-wrapper
    .comment-wrapper .comment
      width 100%

  .recommend-wrapper
    order 1
    margin 0
    width 100%

.ticket-tips-wrapper .rec-list
  display flex
  flex-wrap wrap

  .rec-item
    flex 1
    padding 18px 10px 13px
    border 0
    background-color transparent !important

    div
      color var(--c-text) !important

    .rec-item-banner
      width 100%
      height 125px

.info-content img
  display block
  margin 20px auto

.nav-header-wrapper .nav-header .user-panel
.header .right li.user-wrapper .avatar .detail
  border 1px solid var(--c-border)
  border-top-width 0
  background-color var(--c-background) !important

.nav-header-wrapper .nav-header .user-panel
  right -15px !important

  .user-uname
  .panel-list
    color var(--c-title) !important
    box-shadow none !important

  .user-center-item:hover a
    color var(--c-accent) !important

  .login-out
    border-top 1px solid var(--c-border)

    &:hover
      background-color var(--c-hover) !important

    a
      display block

.header .right li.user-wrapper .avatar .detail
  .level
    .total
      background-color var(--c-border) !important

      &:before
        background-color var(--c-accent) !important

    .exp
      background-color var(--c-accent) !important

  .logout
    height 42px !important
    border-top 1px solid var(--c-border)
    background-color var(--c-hover) !important
    text-align center !important
    line-height 42px !important

.header .right li.user-wrapper .avatar:hover .detail
  height 161px !important