// 动态样式
.WB_starcover
.W_tips.tips_warn
.WB_vipcover a
.WB_starcover a
.WB_feed .WB_cardwrap[feedtype='ad']
.WB_feed .WB_cardwrap[action-type='fl_loadmore_middle']
.WB_feed_v3 .WB_cardtitle_b
.WB_func .WB_handle .W_arrow_bor
  display none

#v6_pl_content_publishertop
.WB_feed .WB_cardwrap
.W_layer .scroller .info_box
.WB_feed_repeat
  background-color var(--c-background) !important

.WB_feed_v3 .WB_expand.S_bg1
.SW_fun_bg:hover
.SW_fun_bg_active
.S_bg1
.W_btn_alpha
  background-color var(--c-hover)

.S_bg3
  background-color transparent

.tab_feed_a .tab .W_ficon
  color var(--c-title) !important

.W_btn_b .ficon_add
.artwork_box .tag_showpicL .inner .txt
.layer_view_morepic .box_li .W_autocut
  color var(--c-white) !important

.WB_text a[render='ext']
.WB_text .WB_text_opt
.S_spetxt
a.S_ficon:hover
a:hover .S_ficon
a.current .S_ficon
a:hover em
.tab_feed_a li .curr
  color var(--c-accent) !important

.S_line1
  border-color var(--c-border)

.S_bg1_br
  border-color var(--c-hover)

.WB_card_vote .vote_con1 .item:hover
  border-color var(--c-accent)

.WB_feed_handle .WB_row_line
.WB_row_line .line
.WB_func .WB_handle li .line
.layer_add_collect .tip-box
.W_layer .content
  border 0

.WB_feed .WB_cardwrap
.WB_feed_v3 .WB_expand
  border-radius 4px

.WB_cardwrap
  box-shadow none

.WB_feed_v3 .WB_expand .WB_func .WB_from
.WB_feed_v3 .WB_from
  font-size 0

.S_txt2[date]
  font-size 12px

.WB_feed_like .WB_feed_detail
  background-image none !important

.WB_feed_v3 .WB_expand
.WB_feed_v3 .WB_expand_media_box
  margin 0

.WB_feed_v3 .WB_expand
  padding 8px 12px

.WB_feed_v3 .WB_face .opt
  right -720px

a em
  transition color 0.3s ease-in-out !important

// 更新提示
.WB_notes
  margin 0 0 10px
  padding 0
  background-color var(--c-hover)

// 图片列表
.WB_media_wrap .media_box
  float none
  margin 10px 0
  width 70%

  .WB_media_a
    display flex
    flex-wrap wrap
    justify-content space-between
    align-items center
    margin 0 0 0 10px
    width 100%

    li
      flex 1 1 32%
      display flex
      justify-content center
      align-items center
      margin 0 2% 0 0
      height 160px

      &:nth-child(3n)
        margin-right 0

      &:nth-child(n + 4)
        margin-top 10px

      img
        position initial !important
        width 100% !important
        height auto !important
        transform none !important

.WB_feed_v3 .WB_media_a_m1 .li_n_mix_w
.WB_feed_v3 .WB_media_a_m1 .li_n_mix_h
.WB_feed_v3 .WB_media_a_m1 .WB_pic
  max-width 300px

.WB_feed_v3 .WB_media_a_m1 .WB_video
.WB_feed_v3 .WB_media_a_m1 .WB_video_a
  display block !important
  height 282px !important