// 动态样式
.WB_starcover
.W_tips.tips_warn
.WB_vipcover a
.WB_starcover a
.WB_feed .WB_cardwrap[feedtype='ad']
.WB_feed .WB_cardwrap[action-type='fl_loadmore_middle']
.WB_feed_v3 .WB_cardtitle_b
.WB_func .WB_handle .W_arrow_bor
.card-wrap .card-top
.card-together .header
  display none

#v6_pl_content_publishertop
.WB_feed .WB_cardwrap
.W_layer .scroller .info_box
.WB_feed_repeat
.card-wrap
.card-together
  background-color var(--c-background) !important

.WB_feed_v3 .WB_expand.S_bg1
.SW_fun_bg:hover
.SW_fun_bg_active
.S_bg1
.W_btn_alpha
.media-item-a
.card-comment .con
.media-info
.W_tips.tips_rederror
  background-color var(--c-hover)

.WB_h5video_v2 .wbv-load-progress
.WB_h5video_v2 .wbv-volume-bar
  background-color var(--c-border)

.S_bg3
.WB_feed_v3 .WB_feed_repeat .repeat_list .list_box_in .between_line
.WB_h5video_v2 .wbv-progress-holder:before
  background-color transparent

.WB_h5video_v2 .wbv-play-progress
.WB_h5video_v2 .wbv-speed-button:hover:before
.WB_h5video_v2 .wbv-quality-button:hover:before
.WB_h5video_v2 .wbv-volume-handle
  background-color var(--c-accent)

.tab_feed_a .tab .W_ficon
  color var(--c-title) !important

.W_btn_b .ficon_add
.artwork_box .tag_showpicL .inner .txt
.layer_view_morepic .box_li .W_autocut
.WB_h5video_v2 .wbv-time-control div
.WB_h5video_v2 .wbv-pop-layer h4 span
.WB_h5video_v2 .wbv-control.wbv-speed-button:hover:before
.WB_h5video_v2 .wbv-control.wbv-quality-button:hover:before
  color var(--c-white) !important

.WB_text a[render='ext']
.WB_text .WB_text_opt
.S_spetxt
a.S_ficon:hover
a:hover .S_ficon
a.current .S_ficon
a:hover em
.tab_feed_a li .curr
.WB_text a[title]
.WB_h5video_v2 .wbv-big-play-button:hover
.WB_h5video_v2 .wbv-control:hover:before
  color var(--c-accent) !important

.S_line1
.card-review
  border-color var(--c-border)

.S_bg1_br
  border-color var(--c-hover)

.WB_card_vote .vote_con1 .item:hover
.WB_media_view .pic_choose_box li a:hover
.WB_media_view .pic_choose_box li a.current
.layer_multipic_preview .pic_choose_box li a:hover
.layer_multipic_preview .pic_choose_box li.current a
  border-color var(--c-accent)

.s-arrow-t
  border-bottom-color var(--c-hover)

.WB_feed_handle .WB_row_line
.WB_row_line .line
.WB_func .WB_handle li .line
.layer_add_collect .tip-box
.W_layer .content
.card-wrap
.card-wrap .card-act
.card-wrap .card-act li a
.card-comment .act li
.card-together
.W_tips.tips_rederror
  border 0

.WB_feed .WB_cardwrap
.WB_feed_v3 .WB_expand
.card-wrap
  border-radius 4px

.WB_cardwrap
  box-shadow none

.WB_feed_v3 .WB_expand .WB_func .WB_from
.WB_feed_v3 .WB_from
  font-size 0

.S_txt2[date]
  font-size 12px

.WB_feed_like .WB_feed_detail
  background-image none !important

.WB_feed_v3 .WB_expand
.WB_feed_v3 .WB_expand_media_box
  margin 0

.WB_feed_v3 .WB_expand
  margin-top 8px

.WB_feed_v3 .WB_expand
  padding 8px 12px

.WB_feed_v3 .WB_face .opt
  right -780px

a em
  transition color 0.3s ease-in-out !important

// 更新提示
.WB_notes
  margin 0 0 10px
  padding 0
  background-color var(--c-hover)

// 图片列表
.WB_media_wrap .media_box
  float none
  margin 10px 0
  width 70%

  .WB_media_a
    display flex !important
    flex-wrap wrap
    align-items center
    margin 0 0 0 10px
    width 100%

    li
      display flex
      justify-content center
      align-items center
      margin 0 2% 0 0
      width 32%
      height 160px

      &:nth-child(3n)
        margin-right 0

      &:nth-child(n + 4)
        margin-top 10px

      img
        position initial !important
        width 100% !important
        height auto !important
        transform none !important

.WB_feed_v3 .WB_media_a_m1 .li_n_mix_w
.WB_feed_v3 .WB_media_a_m1 .li_n_mix_h
.WB_feed_v3 .WB_media_a_m1 .WB_pic
  max-width 300px

.WB_feed_v3 .WB_media_a_m1 li.WB_video
.WB_feed_v3 .WB_media_a_m1 li.WB_video_a
  width 500px

.WB_feed_v3 .WB_media_a_m1 .WB_video
  display block !important
  height 282px !important