// 顶部导航
.WB_global_nav .gn_nav_list li:nth-child(2)
.WB_global_nav .gn_nav_list li:nth-child(4)
.WB_global_nav .gn_header::after
	display none !important

.WB_global_nav .gn_topmenulist ul li:hover
.WB_global_nav .gn_topmenulist ul li.cur a
.WB_global_nav .gn_topmenulist ul li a:hover
.WB_global_nav .gn_topmenulist ul li.gn_func a
.W_layer .W_input
.W_layer .send_weibo .input
	background-color var(--c-hover)

.icon_num_gray
	background-color var(--c-border)

.WB_global_nav .ficon_send
.WB_global_nav .ficon_send:hover
	background-color transparent

.W_new
	background-color var(--c-accent)

.WB_global_nav .ficon_send
.WB_global_nav .ficon_send:hover
	background-image none

.WB_global_nav .ficon_send
	color var(--c-title) !important

.WB_global_nav .gn_set_list .W_new_count
.WB_global_nav .gn_topmenulist ul li .W_new_count
	color var(--c-white) !important

.FRAME_main .WB_global_nav .gn_nav_list li .home em
	color var(--c-accent) !important

.gn_topmenulist_search .gn_topmenulist .selectbox
.W_layer .W_layer_title
.W_layer .S_line3
.W_layer .W_input
.W_layer .send_weibo .input
.W_layer .W_btn_b:hover
	border-color var(--c-border)

.WB_global_nav .gn_set
.WB_global_nav .S_line1
.WB_global_nav .S_line2
.W_layer .content[node-type]
.layer_menu_list ul li.line
	border 0 !important

.WB_global_nav .gn_nav_list li a .S_txt1
	font-size 0

.WB_global_nav .W_ficon
	font-size 24px

.WB_global_nav .ficon_search
	font-size 16px

.WB_global_nav .gn_nav
	margin-right 0

.WB_global_nav_v2 .gn_nav_list li
.WB_global_nav .gn_set_list
	margin-left 16px

.WB_global_nav .gn_topmenulist ul li a
	transition all 0.3s ease-in-out

// 导航条
.WB_global_nav
	border 0
	border-bottom 1px solid var(--c-border)
	background-color var(--c-background) !important
	transition background-color 0.3s ease-in-out !important

.WB_global_nav .gn_header
	display flex
	justify-content space-between

// logo
.WB_global_nav .gn_logo
	width 65px
	overflow hidden

// search
.WB_global_nav .gn_search_v2
	border-color var(--c-border)
	border-radius 4px
	background-color var(--c-hover)