/* 主体 */
.top-bp
.bili-footer
.bp-user-box-bottom
#bp_menu_box .bp_box_top
.b-info .dividing-line
.b-info .line
.b-info .balance-top:after
.bb-icon-des
  display none !important

.des-content
.el-table
.el-table__expanded-cell
  background-color var(--c-background) !important

.el-table--border:after
.el-table--group:after
.el-table:before
  background-color var(--c-border) !important

.loading
  background-color transparent !important

.bp-user-box .bp-user-box-bb
.bp-user-box .bp-user-box-bk
.b-info .info-tip
.num-tip
.instructions
.spend-recode .title-group .recode-title
.spend-recode .part-common .part-title
.el-table .el-table__header-wrapper .el-table__header .cell
.b-info .balance-top .balance-row .balance-title
.b-info .balance-top .balance-row .balance-right .shell-channel .shell-item .channel-name
  color var(--c-title) !important

.el-table .el-table__row .cell
.b-info .warning-group .warning-title
  color var(--c-text) !important

.bp-user-box i
.b-info .balance-price
.b-info .balance-footer .balance-part .part-balance-price
.qrpay-group .qrpay-content .price span
.qrpay-group .qrpay-content .price p
.spend-recode .title-group .selected-title
.b-info .balance-footer .part-balance-name .part-balance-price
.el-form-item.is-required .el-form-item__label:before
  color var(--c-accent) !important

.b-info .warning-group
.bind-info .dividing-line
.bind-info .note-content .bank-form .avatar-uploader .el-upload
  border-color var(--c-border) !important

.bp-user-box-bb
.bp-user-box-top
  border 0

.bp-center-box
  margin-top 60px

.b-info
.b-info .balance-footer
.trade-list
.spend-recode
.bind-info
  margin-top 30px

.b-info .bb-icon-yellow
  margin-right 30px

.bp-user-box-top
  padding 0

.spend-recode .title-group .selected-title
  background-image none !important

#bp_user_box
.bb-intro-top
.b-info
.trade-list
.spend-recode
.shell-intro-top
.bind-info
  border 0
  background-color var(--c-background) !important

.bb_box
.bp_box
  margin 0
  height auto
  border 0
  background-color var(--c-background) !important

.bp-user-box-top
  span
    float none
    display block
    margin 0 auto
    width 100px
    height 100px

  p
    margin-top 20px
    width auto
    font-size 16px
    color var(--c-title) !important
    text-align center

  .bp-user-box
    display flex
    justify-content space-around
    align-items center
    float none

    .bp-user-box-bb
    .bp-user-box-bk
      float none
      width auto

.bp_box_bot a
  padding 0
  border-radius 10px
  text-align center
  transition all 0.3s ease-in-out

  &:hover
  &.bp_box_bot_click
    border 0
    background-color var(--c-hover) !important
    color var(--c-accent) !important

.trade-wrapper
.b-info .balance-top .balance-row .balance-right .shell-channel .shell-item
  border-color var(--c-border) !important
  background-color var(--c-background) !important

  &.shell-item-active
  &.is-selected
    border-color var(--c-accent) !important
    background-color var(--c-hover) !important

    span
      color var(--c-accent) !important