/* tag */
.vip
span.big-vip-red
em:not(.icon)
.m-header .num
.bili-header-m .num
.badge
.badge.pink
.primary-menu .nav-menu>li .num-wrap span
.elevator .list-box .item.on
.elevator .list-box .item:hover
.tag-list li.tag-item.on
.video-info .video-title .activity
.bilibili-player-bigvip
.h .h-vipType
.video-container .types
.item .live-status.on
  background-color var(--c-accent) !important
  color var(--c-white) !important

.gg-icon
.tag-list li.tag-item
.tag-area .tag
.tag-area .btn-add
.timeline-box .timeline-item .item-right p.num a
.timeline-box .timeline-item .item-right p.num span
.page-content .left-side .article-list .article-list-holder .article-item .item-holder .article-title-holder .list-mark
  border-color var(--c-border) !important
  background-color var(--c-background) !important
  color var(--c-text) !important

.tag-list li.tag-item:hover
.tag-area .tag:hover
  background-color var(--c-hover) !important

.primary-menu .nav-menu .channel.on:after
.timeline-box .timeline-item.new p.num a
  border 1px solid var(--c-border) !important
  background-color var(--c-accent) !important
  color var(--c-white) !important

/* 热门标签 */
.tag-list li.tag-item.on .tag-a
  color var(--c-white) !important

.tag-list li.tag-item.on:hover .tag-a
  color var(--c-accent) !important

.tag-list li.tag-item:hover
.tag-area .tag:hover
  border-color var(--c-accent) !important

/* input */
input
textarea
#nav_searchform
  border-color var(--c-border) !important
  background-color var(--c-hover) !important

/* 弹窗 */
.van-popover
.more-ops-list
.be-dropdown-menu
.video-toolbar .ops .share .share-pos
.player-auxiliary-area .player-auxiliary-filter .player-auxiliary-setting-menu-wrap
.hover-panel-wrap
  border-color var(--c-border) !important
  background-color var(--c-background) !important
  color var(--c-text) !important

.player-auxiliary-area .player-auxiliary-filter .player-auxiliary-setting-menu-wrap .player-auxiliary-setting-menu-list
.main-container .media-info .media-right .media-tool-bar .bangumi-options .opt-list li:hover
  background-color var(--c-background) !important

.more-ops-list li:hover
.be-dropdown-item:hover
.player-auxiliary-area .player-auxiliary-filter .player-auxiliary-setting-menu-wrap .player-auxiliary-setting-menu-list:hover
  background-color var(--c-hover) !important

.van-popper .popper__arrow
  border-width 0

.van-popper .popper__arrow::after
  border-left 6px solid transparent
  border-right 6px solid transparent
  border-bottom 6px solid var(--c-background) !important
