/* tag */
.vp-container .vip
span.big-vip-red
em:not(.icon)
.m-header .num
.bili-header-m .num
.badge
.ss-badge
.primary-menu .nav-menu>li .num-wrap span
.elevator .list-box .item.on
.elevator .list-box .item:hover
.tag-list li.tag-item.on
.video-info .video-title .activity
.bilibili-player-bigvip
.h .h-vipType
.video-container .types
.item .live-status.on
.bangumi-item .right-info .headline .bangumi-label
.filter-wrap .filter-item.active
.im-notify
.video-item.list .type
.bangumi-item .left-img .bangumi-tag
.bb-comment .stick
.comment-bilibili-fold .stick
.up-info .u-info .name .live-status
.h .h-fans-icon .h-fans-text
.home-user-spec
.big-label
.member-list-exclusive-icon
.security_content .pendant-nav li div.active
.security_content .face-g-tab li.current
.hour-rank
.attention-btn-ctnr .left-part
.gift-item .corner-mark
.container .name-info .live
.count-num
.user-info>.uid
.user-info>.tag-flag
.page-title .count
.history-card .up-info .room-status>span.on-live
.achievement-card-centent>.header>.state-normal.-success
#app-news #list .item .title-wrap .activity
.tab-selector-wrap .tag-wrap .tag span.selected
.nav-upload-container .nav-upload-item .red_point
.tips-item_wrap .tips-item_left .label
.calendarEntry_box .calendarEntry_content .luck_wrap .luck_title
.carousel-module .panel .title .tag-label.doing
.comment-list-item .ci-title .relation-label
.announce li>div span
.video-jam-state
.red_point
.video-editor-ol-wrp .video-editor-ol-new
.qa-area-ol-new
  border 0 !important
  background-color var(--c-accent) !important
  color var(--c-white) !important

  &:hover
    color var(--c-white) !important

.gg-icon
.tag
.tag-list li.tag-item
.tag-area .tag
.link-tag
.tag-area .btn-add
.timeline-box .timeline-item .item-right p.num a
.timeline-box .timeline-item .item-right p.num span
.page-content .left-side .article-list .article-list-holder .article-item .item-holder .article-title-holder .list-mark
.home-userstatus
.live-status-label
.up-level-icon
.user-level-icon
.history-card .up-info .room-status>span
.achievement-card-centent>.header>.state-normal
.tab-selector-wrap .tag-wrap .tag span
.category
  border-color var(--c-border) !important
  background-color var(--c-background) !important
  color var(--c-text) !important

.tag:hover
.tag-list li.tag-item:hover
.tag-area .tag:hover
.link-tag:hover
.category:hover
  background-color var(--c-hover) !important

.primary-menu .nav-menu .channel.on:after
.timeline-box .timeline-item.new p.num a
  border 1px solid var(--c-border) !important
  background-color var(--c-accent) !important
  color var(--c-white) !important

/* 热门标签 */
.tag-list li.tag-item.on .tag-a
  color var(--c-white) !important

.tag-list li.tag-item.on:hover .tag-a
  color var(--c-accent) !important

.tag:hover
.tag-list li.tag-item:hover
.tag-area .tag:hover
.link-tag:hover
.tab-selector-wrap .tag-wrap .tag span:hover
.category:hover
  border-color var(--c-accent) !important

/* input */
input
textarea
#nav_searchform
  border-color var(--c-border) !important
  background-color var(--c-hover) !important

/* 弹窗 */
.van-popover
.more-ops-list
.be-dropdown-menu
.video-toolbar .ops .share .share-pos
.player-auxiliary-area .player-auxiliary-filter .player-auxiliary-setting-menu-wrap
.hover-panel-wrap
.suggest-wrap
#article-list-index
.big-more-item-list
.common-popup-wrap
.awarding-panel
.link-popup-panel
.chat-history-panel .chat-history-list .chat-item.danmaku-item .hover-panel
.tool-bar .share-more
.tool-bar .mobile-more
.user-level-detail
.select-option
.popup-bg-cntr .popup-cntr
.bili-header-m .profile-m
.bili-header-m .mini-wnd-nav
.bili-header-m .nav-menu .nav-con .nav-item .i-frame
.popup-bind-tip
.set-copyright .copyright-select-box
.el-popover
.new-calendar-wrap
.dropdown__content
.select-box
.bui-tooltip .bui-tooltip-bubble .bui-tooltip-content .bui-tooltip-inner
.bui-tooltip .bui-tooltip-bubble .bui-tooltip-content:before
.bui-tooltip .bui-tooltip-arrow:before
.option-menu
.upload-v2-step1-container #homeDrop .video-jam .video-jam-comment
.upload-v2-container .upload-agreement .reg-1 .reg-2-tip
.editor-box .editor-toolbar .child-list
.classify .sub-list
.modal-wrap
.load-marks
.contri-condition .contri-sort .contri-sort-type
.advice-dialog-wrapper
.tag-modal
.share-board .share-btn
.static-popup
.hash-popup.bg-white
.create-vote
  border-color var(--c-border) !important
  background-color var(--c-background) !important
  color var(--c-text) !important

.player-auxiliary-area .player-auxiliary-filter .player-auxiliary-setting-menu-wrap .player-auxiliary-setting-menu-list
.main-container .media-info .media-right .media-tool-bar .bangumi-options .opt-list li:hover
  background-color var(--c-background) !important

.more-ops-list li:hover
.be-dropdown-item:hover
.player-auxiliary-area .player-auxiliary-filter .player-auxiliary-setting-menu-wrap .player-auxiliary-setting-menu-list:hover
.select-wrap .select-option p:hover
.dropdown__content .dropdown__active
.dropdown__content .dropdown__item:hover
.dropdown .dropdown-menu .selected
.option-menu .menu-item:hover
.classify .sub-list .sub-item.active
.classify .sub-list .sub-item:hover
.contri-condition .contri-sort .contri-sort-type li:hover
.hash-popup .topic-container .item.is-selected
.hash-popup .topic-container .item:hover
  background-color var(--c-hover) !important

.van-popper .popper__arrow
  border-width 0

/* 弹窗箭头 */
.van-popper .popper__arrow::after
  border-left 6px solid transparent
  border-right 6px solid transparent
  border-bottom 6px solid var(--c-background) !important

.el-popper[x-placement^=bottom] .popper__arrow
  border-bottom-color var(--c-border) !important

.el-popper[x-placement^=bottom] .popper__arrow:after
  border-bottom-color var(--c-background) !important