/* 单独适配与主页相同样式的banner界面 */
.nav-link-item .link
.mini-upload
.nav-user-center .user-con .item .name
  color var(--c-white) !important

.nav-link-item .link:hover
.mini-upload:hover
.nav-user-center .user-con .item .name:hover
  color var(--c-accent) !important

/* 导航搜索 */
.bili-header-m .nav-search-box
.international-header .nav-search-box
  position absolute
  top 100px
  left 50%
  transform translateX(-50%)

.bili-header-m .nav-search
.international-header .nav-search
  margin 0 auto
  width 520px

.bili-header-m .nav-search #nav_searchform
.international-header .nav-search #nav_searchform
  padding 0 60px 0 20px
  border 0
  border-radius 25px
  background-color rgba(0, 0, 0, 0.4) !important
  overflow hidden

.bili-header-m .nav-search .nav-search-keyword
.international-header .nav-search .nav-search-keyword
  height 50px
  font-size 16px
  color var(--c-white)

.bili-header-m .nav-search .nav-search-submit
.international-header .nav-search .nav-search-submit
  top 0
  right 20px
  font-size 24px
  color var(--c-white) !important
  line-height 50px

.bili-header-m .nav-search .nav-search-btn
.international-header .nav-search .nav-search-btn
  width 60px
  height 50px
  border-radius 0 25px 25px 0
  background-color rgba(0, 0, 0, 0.6) !important