/* 全局样式 */
html
	background-color var(--c-background)

body
	background-color var(--c-background)
	background-image none
	overflow-x hidden

a
a div
a p
a span
h1
h2
h3
h4
h5
h6
input
textarea
.nickname
.title
.link-title
	color var(--c-title) !important

body
p
span
li
label
.count
	color var(--c-text) !important

div:not(.bilibili-danmaku)
	color var(--c-text)

a:hover
a div:hover
a p:hover
a span:hover
.is-vip
.is-vip:hover
.nickname--red
.vip-red-name
.bili-header-m .profile-m .big-vip-red
.review-author.is-vip
.username.is-vip
	color var(--c-accent) !important

hr
	border-color var(--c-border) !important

table tr
	border-color var(--c-border) !important
	background-color transparent !important

table tbody tr:nth-child(odd) td
	background-color var(--c-hover) !important

table tr th
table tr td
	border-color var(--c-border) !important
	background-color var(--c-background) !important
	color var(--c-text) !important

::-webkit-input-placeholder
	color #d2d2d2

:-moz-placeholder
	color #d2d2d2

::-moz-placeholder
	color #d2d2d2

:-ms-input-placeholder
	color #d2d2d2

/* 滚动条 */
::-webkit-scrollbar
	max-width 6px
	max-height 12px

::-webkit-scrollbar-thumb
	border-radius 6px
	background-color var(--c-scroll)