/* 全局样式 */
html
	background var(--c-background)

body
	background var(--c-background)
	overflow-x hidden
	color var(--c-text)

a
.international-header a
.van-popover a
.storey-title .no-link
.manga-panel .manga-list-box .manga-card .manga-title
.international-footer a
.international-footer .link-box .link-item.link-c p
.channel-menu-mini .box a
.mini-type .nav-user-center .user-con .item .name
.bili-header-m .nav-search .nav-search-keyword
.international-header .nav-search .nav-search-keyword
	color var(--c-title)

a:hover
.manga-panel .manga-list-box .manga-card:hover .manga-title
.international-footer a:hover
.international-footer a:hover
.international-footer .link-box .link-item.link-c a.weixin:hover p
.international-header a:hover
.van-popover a:hover
.bili-header-m .nav-search .nav-search-btn:hover .nav-search-submit
.international-header .nav-search .nav-search-btn:hover .nav-search-submit
	color var(--c-accent)

.video-card-common .ex-up
.storey-title .text-info a
.storey-title .text-info
.live-card .up .txt .desc
.live-card .up .txt .tag
.article-card .r-con .up
.article-card .r-con .count
.manga-panel .manga-list-box .manga-card .manga-tag
.international-footer .partner
.international-footer .partner a
.channel-menu .box .count
.channel-menu-mini .box .count
	color var(--c-text)

/* 滚动条 */
::-webkit-scrollbar
	max-width 6px
	max-height 12px

::-webkit-scrollbar-thumb
	border-radius 6px
	background-color var(--c-scroll)