/* button */
button
.btn
.default-btn
.bili-btn
.go-top
.to-top
.backup
.paging-box-big .current
.pager .pages .page-item.active button
.page-wrap .page-list-box .page-item.active
.bui-button-blue
.bilibili-player-ending-panel-box-functions .bilibili-player-upinfo-electric
.default-btn
.bi-btn
.main-container .ep-list-wrapper .list-wrapper.simple ul .ep-item.cursor
.main-container .media-info .media-right .media-tool-bar .btn-follow
.textarea-container .comm-tool .comm-submit
.be-pager-item-active
#page-channel-index .channel-option.no-channel .create-channel
.favInfo-box .favInfo-details .fav-options .fav-play
.bangumi-pagelistbox .p.active
.be-pager .be-pager-item.be-pager-item-active
.notice-item .notice-btn
.follow-btn
.btn-sub
.btn-close
.btn-report
.search-button
.coin-wrap .coin-sure
.bili-dialog-bomb .appeal-box .submit .confirm
.security_content .h-safe-btn
.security_content .big-member-btn
.security_content .big-continuity-card-btn
.security_content .close-btn
.security_content .pay-left-btn-alone
.security_content .points-btn
.security_content .go-movie
.security_content .user-my-btn .el-button--primary
.security_content .tool-change-face
.security_content .invitation-btn
.security_content .mp-mine-takedown
.d-outer .d-state-highlight
.d-outer .medal-uninstall-js
.module-box .btn-dufault
.upLoad .btn-mk2.primary
.upLoad .upButton
.select-btn
.btn-box .like
.gift-package
.multi-page .cur-list .module-box li.on
.rollback-btn
.change-img-btn
.pagelist .flip-left .active
.active-main .back-top
.topic-main .back-top
.bilibili-player-feedback-submit
.sidebar-canvas
.cntr .check-all
.album-popup-ensure
.info-line .attend
.link-panigation .panigation.selected
.submit-btn
.btn-go-write
.pagination-container .pagination.active
#nav_upload_btn
.back-top-box .totop-container.utils-box
.upload-v2-step1-container #homeDrop .upload-btn
.video-editor-ol-wrp .video-editor-ol-btn
.cc-btn
.music-upload-wrapper .upload-music-bar-wrapper
.create-compilations-btn
.compila-condition .compila-right .compila-add
.compila-not-find .compila-not-find-ime
.contri-not-find .contri-not-find-ime
.list-playbtn
.send-button
.card .focus-btn .unfocus
.card .focus-btn .focus
.top-header .focus-btn
  position relative
  border-color var(--c-accent) !important
  background-color var(--c-accent) !important
  color var(--c-white) !important
  overflow hidden !important
  vertical-align top

  span
    color var(--c-white) !important

  &::after
    content ''
    display block
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    background-image linear-gradient(70deg, transparent 20%, rgba(255, 255, 255, 0.3), transparent 80%)
    transform translateX(-100%)
    transition transform 0.3s ease-in-out !important

  &:hover
    color var(--c-white) !important

    span
      color var(--c-white) !important

    &::after
      transform translateX(100%)

.default
.more-btn
.forward
.prev
.next
.btn-pre
.btn-next
.van-popper-history .view-all
.van-popper-favorite .play-all
.bili-header-m .mini-wnd-nav .read-more
.paging-box-big .tcd-number
.paging-box-big .next
.paging-box-big .prev
.pager .pages .page-item button
.page-wrap .page-list-box .page-item
.following
.bui-button.bui-button-gray2
.danmaku-wrap .player-auxiliary-danmaku-list .danmaku-info-row .player-tooltips-trigger
.recommend-list .rec-footer
.expand-more
.main-container .media-info .media-right .media-tool-bar .btn-follow.active
.bangumi-pagelistbox .p
.be-pager .be-pager-item
.more-btn-cntr
.main-container .ep-list-wrapper .list-wrapper.simple ul .ep-item
#pgc-navigate-wrap .ep-box .ep-sub .ep-item
.rightside-article-list-btn
.bili-dialog-bomb .appeal-box .submit .cancel
.security_content .home-to-space
.security_content .home-to-update
.security_content .h-mp-space
.security_content .go-secuirty
.security_content .h-safe-nobtn
.security_content .big-gift-btn-home
.security_content .right-more-btn
.security_content .tool-uninstall-pendant
.security_content .black-btn
.security_content .get-coin-more
.security_content .m-help
.security_content .face-g-list#my-g-list .face-g-block .my-mp-block .mp-info .btn-white
.d-outer .d-button
.module-box .btn-primary
.module-box .btn-disabled
.upLoad .upload-btn
.container .nav-container .list-link p a
.btn-box .liked
.btn-box .message
.tag-info-pane .tag-footer .btn-left-box>a
.gift-panel-switch
.multi-page .cur-list .module-box li
.recharge-store-box ul.select-list .item
.pagelist .flip-left span
.web-notice .more
.bilibili-player-feedback-submit.disable
.album-popup-cancel
.author-info .favourite-btn-ctnr .communicate-btn
.link-panigation .panigation
.submit-btn.disabled
.pagination-container .pagination
.source-rank-stretch-button
.classify .classify-list .list-item .class-block
.btn-group .ui-btn.white
.publish-launcher .publish-btn.disabled
.button-bar .bp-button
  border 1px solid var(--c-border) !important
  background-color var(--c-background) !important
  color var(--c-title) !important
  transition all 0.3s ease-in-out

  span
    color var(--c-text) !important

  &::after
    content none !important

  &:hover
    border-color var(--c-accent) !important
    background-color var(--c-hover) !important

    span
      color var(--c-text) !important

.paging-box-big .dian
.paging-box-big .dian:hover
.pagelist .flip-left .ellipsis
.paging-box .next
.paging-box .prev
  border-color transparent !important
  background-color transparent !important