/* button */
button
.btn
.default-btn
.go-top
.to-top
.backup
.paging-box-big .current
.pager .pages .page-item.active button
.bui-button-blue
.default-btn
.bi-btn
.tag-info-pane .tag-footer .btn-left-box>a
.main-container .ep-list-wrapper .list-wrapper.simple ul .ep-item.cursor
.main-container .media-info .media-right .media-tool-bar .btn-follow
.textarea-container .comm-tool .comm-submit
.be-pager-item-active
#page-channel-index .channel-option.no-channel .create-channel
.favInfo-box .favInfo-details .fav-options .fav-play
.bangumi-pagelistbox .p.active
.be-pager .be-pager-item.be-pager-item-active
.notice-item .notice-btn
.follow-btn
.btn-sub
.btn-close
.btn-report
  border-color var(--c-accent) !important
  background-color var(--c-accent) !important
  color var(--c-white) !important
  span
    color var(--c-white) !important

.default
.more-btn
.van-popper-history .view-all
.van-popper-favorite .play-all
.bili-header-m .mini-wnd-nav .read-more
.paging-box-big .tcd-number
.paging-box-big .next
.paging-box-big .prev
.pager .pages .page-item button
.following
.bui-button.bui-button-gray2
.danmaku-wrap .player-auxiliary-danmaku-list .danmaku-info-row .player-tooltips-trigger
.recommend-list .rec-footer
.expand-more
.main-container .media-info .media-right .media-tool-bar .btn-follow.active
.bangumi-pagelistbox .p
.be-pager .be-pager-item
.be-pager .be-pager-next
.be-pager .be-pager-prev
.more-btn-cntr
	border 1px solid var(--c-border) !important
	background-color var(--c-background) !important
	color var(--c-title) !important

.paging-box-big .dian
.paging-box-big .dian:hover
  border-color transparent !important
  background-color: transparent !important