/* 评论 */
.bb-comment
.comment-bilibili-fold
.emoji-box .emoji-tabs
	background-color var(--c-background)

.comment-m .b-head
.bb-comment .comment-header .tabs-order li
.comment-bilibili-fold .comment-header .tabs-order li
.bb-comment .comment-list .list-item .user .name
.comment-bilibili-fold .comment-list .list-item .user .name
	color var(--c-title)

.bb-comment .reply-notice .notice-item a
.comment-bilibili-fold .reply-notice .notice-item a
.paging-box .current
.paging-box .dian
.paging-box .next
.paging-box .prev
.paging-box .tcd-number
.emoji-box .emoji-title
.emoji-box .emoji-text
.bb-comment .comment-list .list-item .info
.comment-bilibili-fold .comment-list .list-item .info
.paging-box-big .page-jump
	color var(--c-text)

.bb-comment .comment-header .tabs-order li.on
.comment-bilibili-fold .comment-header .tabs-order li.on
.paging-box .current
	color var(--c-accent)

.bb-comment .comment-header
.comment-bilibili-fold .comment-header
.bb-comment .comment-list .list-item .con
.comment-bilibili-fold .comment-list .list-item .con
.bb-comment .comment-list .list-item:last-child .con
.comment-bilibili-fold .comment-list .list-item:last-child .con
.paging-box-big .page-jump input:focus
	border-color var(--c-border)

.bb-comment .reply-notice .notice-item
.comment-bilibili-fold .reply-notice .notice-item
.bb-comment .comment-send .textarea-container textarea
.comment-bilibili-fold .comment-send .textarea-container textarea
.bb-comment .comment-send .textarea-container.focus textarea
.bb-comment .comment-send .textarea-container:hover textarea
.comment-bilibili-fold .comment-send .textarea-container.focus textarea
.comment-bilibili-fold .comment-send .textarea-container:hover textarea
.bb-comment .comment-send .comment-emoji
.comment-bilibili-fold .comment-send .comment-emoji
.emoji-box .emoji-notice
.paging-box-big .current
.paging-box-big .dian
.paging-box-big .next
.paging-box-big .prev
.paging-box-big .tcd-number
.paging-box-big .page-jump input
	border-color var(--c-border)
	background-color var(--c-hover)
	color var(--c-text)

.bb-comment .comment-send .comment-submit
.comment-bilibili-fold .comment-send .comment-submit
.bb-comment .comment-send .comment-submit:hover
.comment-bilibili-fold .comment-send .comment-submit:hover
.paging-box-big .current
.paging-box-big .current:hover
.paging-box-big .dian:hover
.paging-box-big .next:hover
.paging-box-big .prev:hover
.paging-box-big .tcd-number:hover
	border-color var(--c-accent)
	background-color var(--c-accent)
	color var(--c-white)

.emoji-box
	border-color var(--c-border)
	box-shadow none
	background-color var(--c-background)
	overflow hidden

.emoji-box .emoji-tabs .tab-link.on
	background-color var(--c-hover)

.bb-comment .comment-list .list-item .info .operation .opera-list
.comment-bilibili-fold .comment-list .list-item .info .operation .opera-list
	border 1px solid var(--c-border)
	background-color var(--c-background)
	color var(--c-title)

.bb-comment .comment-list .list-item .info .operation .opera-list li:hover
.comment-bilibili-fold .comment-list .list-item .info .operation .opera-list li:hover
	background-color var(--c-hover)
	color var(--c-title)
