/* 动态 */
.feed-card .content .bottom img
.card-decorator
  display none !important

.feed-card .card
.feed .card
.feed-tag .publish-panel-container
.feed-tag .publish-panel
.feed-tag .card
.backdrop iframe
.result.is-web
.dynamic-link-hover-bg:hover
  background-color var(--c-background) !important

.imagesbox .boost-control
  background-color var(--c-hover) !important

.video-container .text-area .title
.feed-tag .separater-line
.title-text
  color var(--c-title) !important

.video-container .text-area .view-danmaku span
.imagesbox .boost-control li i
  color var(--c-text) !important

.card .focus-btn .unfocus .unfocus-text
.card .focus-btn .focus .focus-text
  color var(--c-white) !important

.dynamic-link-hover-bg
.shop-desc .desc-box .price-desc
.userinfo-wrapper .info .user .vip
.imagesbox .boost-control li:hover span
.imagesbox .boost-control li:hover i
.clock-time
.user-name.big-vip a
.expand-btn
  color var(--c-accent) !important

.clock-time::after
.result-list .row::after
.prize-item .prize-img
.backdrop .title-box
.card .fold-box
  border-color var(--c-border) !important

.feed-card .card
.feed .card
.dynamic-link-hover-bg:hover
  border 0 !important

.text-area
  box-shadow none !important

.feed-card .card .main-content
.feed-card .card .card-content
.card .main-content
  width auto !important

.feed-card .content .bottom
  height auto !important

.card-content .repost
  margin-right 20px

.video-container
.article-container
.card .more-panel
.card-content .repost
.card-content .not-support
.card-content .deleted
.bg-white
.shop-panel .shop-list
.bangumi-container
.live-container
  border-color var(--c-border) !important
  background-color var(--c-hover) !important

.card .more-panel:after
  background-color var(--c-hover) !important
  border-top-color var(--c-border) !important
  border-left-color var(--c-border) !important

.card .more-panel
  border-color var(--c-border) !important
  box-shadow none !important
  background-color var(--c-background) !important
  color var(--c-title) !important

.card .more-panel .child-button:hover
.feed-title
  background-color var(--c-hover) !important
  color var(--c-title) !important

.card .more-panel:after
  border-color var(--c-border) !important
  background-color var(--c-background) !important

.userinfo-wrapper
.userinfo-content
  border-color var(--c-border) !important
  box-shadow none !important
  background-color var(--c-background) !important

.userinfo-wrapper .btn-box a
  vertical-align top

.blp-ui-button
.photo-imager-container .control-buttons .close-button
.imagesbox .boost-img div
.photo-imager-container .control-buttons .control-button
  border 0 !important
  background-color transparent !important
  color var(--c-text) !important

  span
    color var(--c-text) !important

  &::after
    content none !important
