/* 动态 */
.feed-card .content .bottom img
  display none !important

.feed-tag .publish-panel-container
.feed-tag .publish-panel
.feed-tag .card
  background-color var(--c-background) !important

.video-container .text-area .title
.feed-tag .separater-line
  color var(--c-title) !important

.video-container .text-area .view-danmaku span
  color var(--c-text) !important

.dynamic-link-hover-bg
.shop-desc .desc-box .price-desc
  color var(--c-accent) !important

.article-container:hover .text-area
  box-shadow none !important

.feed-card .card .main-content
.feed-card .card .card-content
  width auto

.feed-card .content .bottom
  height auto !important

.feed-card .card
.dynamic-link-hover-bg:hover
  border 0 !important
  background-color var(--c-background)

.video-container
.article-container
.card .more-panel
.card-content .repost
.card-content .not-support
.card-content .deleted
.bg-white
.shop-panel .shop-list
  border-color var(--c-border) !important
  background-color var(--c-hover) !important

.card .more-panel:after
  background-color var(--c-hover) !important
  border-top-color var(--c-border) !important
  border-left-color var(--c-border) !important

.card .more-panel
  border-color var(--c-border) !important
  box-shadow none !important
  background-color var(--c-background) !important
  color var(--c-title) !important

.card .more-panel .child-button:hover
.feed-title
  background-color var(--c-hover) !important
  color var(--c-title) !important

.card .more-panel:after
  border-color var(--c-border) !important
  background-color var(--c-background) !important

.blp-ui-button
  background-color transparent !important
  color var(--c-text) !important

  span
    color var(--c-text) !important

  &::after
    content none !important
