/* 选择框 */
.selector
  border-color var(--c-border) !important
  background-color var(--c-background) !important

  .current
  .triangle .icon-font
    color var(--c-title) !important

  .data-list
    border-color var(--c-border) !important
    background-color var(--c-background) !important

    li
      transition background-color 0.3s ease-in-out !important

      &:hover
        background-color var(--c-hover) !important

.area-selector
.area-panel
.ui-dropdown .ul-dropdown-list
.dropdown .dropdown-btn
.dropdown .dropdown-menu
  border 1px solid var(--c-border) !important
  background-color var(--c-background) !important

.ui-dropdown .ul-dropdown-list .dropdown-item:hover
.head .dropdown-menu li.ellipsis:hover
  background-color var(--c-hover) !important

.head .dropdown-menu .article-list
  border-color var(--c-border) !important

.check-box
  border-color var(--c-border) !important

  &.checked
    border-color var(--c-accent) !important
    background-color var(--c-accent) !important

    &::after
      color var(--c-white) !important

/* switch 开关 */
.bili-switcher
.bl-switch
  border 1px solid var(--c-border) !important
  background-color var(--c-background) !important
  transition all 0.3s ease-in-out

  &::after
    background-color var(--c-white) !important

  &.bl-switch-checked
  &.checked
    border-color var(--c-accent) !important
    background-color var(--c-accent) !important

/* 日历选择器 */
.pika-single
  border 1px solid var(--c-border) !important
  background-color var(--c-background) !important

  .pika-label
    background-color var(--c-hover) !important

  .pika-table
    thead
    tbody
      border-color var(--c-background) !important

  button
    background-color transparent !important
    color var(--c-title) !important

    &::after
      content none !important

  .is-selected button
    background-color var(--c-accent) !important
    color var(--c-white) !important

.ui-calendar .main-wrap
  border 1px solid var(--c-border) !important
  background-color var(--c-background) !important

  .shortmenus
    border-color var(--c-border) !important
    background-color var(--c-hover) !important

  .flatpickr-calendar
    background-color var(--c-background) !important

    .flatpickr-months .flatpickr-next-month svg
    .flatpickr-months .flatpickr-prev-month svg
      fill var(--c-title) !important

    span.flatpickr-weekday
      color var(--c-title) !important

    .startRange
      border-color var(--c-accent) !important
      background-color var(--c-accent) !important
      color var(--c-white) !important

    .inRange
      border-color var(--c-border) !important
      background-color var(--c-hover) !important
