/* 表格 */
table
  background-color var(--c-background) !important

  thead
  tbody
    tr
      border-color var(--c-border) !important
      background-color transparent !important

      &:nth-child(odd) td
        background-color var(--c-hover) !important

      th
      td
        border-color var(--c-border) !important
        background-color var(--c-background) !important
        color var(--c-text) !important

/* 选择框 */
.selector
  border-color var(--c-border) !important
  background-color var(--c-background) !important

  .current
  .triangle .icon-font
    color var(--c-title) !important

  .data-list
    border-color var(--c-border) !important
    background-color var(--c-background) !important

    li
      transition background-color 0.3s ease-in-out !important

      &:hover
        background-color var(--c-hover) !important

.area-selector
.area-panel
.ui-dropdown .ul-dropdown-list
.dropdown .dropdown-btn
.dropdown .dropdown-menu
.ui-radio .ui-radio-icon
.ui-checkbox .ui-checkbox-icon
.ui-select .ui-select-show-box
.ui-select .ul-select-list
.date-picker-date
.date-picker-timer
.list-header .filter-wrp .category-wrp
.list-header .filter-wrp .order-wrp
.ui-dropdown .ui-dropdown-text
.date-input
  border 1px solid var(--c-border) !important
  background-color var(--c-background) !important

.ui-dropdown .ul-dropdown-list .dropdown-item:hover
.head .dropdown-menu li.ellipsis:hover
.ui-select .ul-select-list .select-item:hover
  background-color var(--c-hover) !important

.ui-select .ul-select-list .select-item.active
.ui-select .ul-select-list .select-item:hover
.date-panel .day.active
  color var(--c-accent) !important

.head .dropdown-menu .article-list
  border-color var(--c-border) !important

.ui-radio.active .ui-radio-icon
.ui-checkbox input[type=checkbox]:checked+.ui-checkbox-icon
.date-panel .day.active
  border-color var(--c-accent) !important

.ui-radio input[type=radio]:checked+.ui-radio-icon:after
.ui-checkbox input[type=checkbox]:checked+.ui-checkbox-icon
  background-color var(--c-accent) !important

.check-box
  border-color var(--c-border) !important

  &.checked
    border-color var(--c-accent) !important
    background-color var(--c-accent) !important

    &::after
      color var(--c-white) !important

/* switch 开关 */
.bili-switcher
.bl-switch
.check-radio-v2-2-container
  border 1px solid var(--c-border) !important
  background-color var(--c-background) !important
  transition all 0.3s ease-in-out

  &::after
    background-color var(--c-white) !important

  &.bl-switch-checked
  &.checked
  &.check-radio-v2-2-container-active
    border-color var(--c-accent) !important
    background-color var(--c-accent) !important

/* 日历选择器 */
.pika-single
.date-picker-v2-container
.time-picker-v2-container
.s-panel
.date-panel
  border 1px solid var(--c-border) !important
  background-color var(--c-background) !important

  .pika-label
    background-color var(--c-hover) !important

  .pika-table
    thead
    tbody
      border-color var(--c-background) !important

  button
    background-color transparent !important
    color var(--c-title) !important

    &::after
      content none !important

  .is-selected button
    background-color var(--c-accent) !important
    color var(--c-white) !important

.ui-calendar .main-wrap
  border 1px solid var(--c-border) !important
  background-color var(--c-background) !important

  .shortmenus
    border-color var(--c-border) !important
    background-color var(--c-hover) !important

  .flatpickr-calendar
    background-color var(--c-background) !important

    .flatpickr-months .flatpickr-next-month svg
    .flatpickr-months .flatpickr-prev-month svg
      fill var(--c-title) !important

    span.flatpickr-weekday
      color var(--c-title) !important

    .startRange
      border-color var(--c-accent) !important
      background-color var(--c-accent) !important
      color var(--c-white) !important

    .inRange
      border-color var(--c-border) !important
      background-color var(--c-hover) !important

.time-picker-v2-container .time-picker-body-wrp .time-picker-panel-select-wrp .time-picker-panel-select-item:hover
.s-item.active
.s-item:hover
  background-color var(--c-hover) !important

.date-picker-v2-container div
  color var(--c-title) !important

.date-picker-v2-container i
select
  color var(--c-text) !important

.s-item.active
.s-item:hover
  color var(--c-title) !important

.time-picker-v2-container .time-picker-head-wrp
.time-picker-v2-container .time-picker-body-wrp .time-picker-panel-select-wrp
.date-panel .ym
  border-color var(--c-border) !important

.radio-icon
.bp-selector::before
  border-color var(--c-border) !important

.el-date-table td.disabled div
.el-year-table td.disabled .cell
.el-month-table td.disabled .cell
  background-color transparent !important

.radio-icon.checked::before
  background-color var(--c-accent) !important

.el-picker-panel
.el-picker-panel__footer
.el-select-dropdown
  border-color var(--c-border) !important
  background-color var(--c-background) !important
  color var(--c-text) !important

.el-select-dropdown__item.hover
.el-select-dropdown__item:hover
  background-color var(--c-hover) !important

.el-date-table td.current:not(.disabled) span
  background-color var(--c-accent) !important
  color var(--c-white) !important

.el-picker-panel .el-date-picker__header button
.el-picker-panel .el-button--text
  border 0 !important
  background-color transparent !important

  &::after
    content none !important