/* 顶部导航 */
.channel-menu-mini
	background-color var(--c-background)

.channel-menu-mini .box a:hover
	background-color var(--c-hover)

.channel-menu-mini .r-box
	border-color var(--c-border)

.international-header .mini-type
.van-popover .mini-type
	border-bottom 1px solid var(--c-border)
	background-color var(--c-background)

.nav-link .nav-link-ul .nav-link-item:first-child
	display block

.nav-link .nav-link-ul .nav-link-item:first-child .link
	font-size 0

.nav-link .bili-icon_dingdao_zhuzhan
	font-size 30px

.mini-upload
	margin-left 12px !important
	width auto !important
	background transparent !important
	color var(--c-white) !important

.international-header .mini-type .nav-search #nav_searchform
.bili-header-m .nav-search #nav_searchform
.van-popover .mini-type .nav-search #nav_searchform
	border-color var(--c-border)
	background-color var(--c-hover)

.bili-header-m .nav-search .nav-search-btn
.international-header .nav-search .nav-search-btn
	background-color transparent

/* 弹窗 */
.van-popover
	border-color var(--c-border)
	background var(--c-background)

.van-popper .popper__arrow
	border-width 0

.van-popper .popper__arrow::after
	border-left 6px solid transparent
	border-right 6px solid transparent
	border-bottom 6px solid var(--c-background) !important

/* 个人弹窗 */
.van-popper-avatar .coins
.van-popper-avatar .counts
.van-popper-avatar .links
.van-popper-avatar .lang-change
.van-popper-avatar .coins .contact .contact-tips
	border-color var(--c-border) !important

.van-popper-avatar .level-info .grade
.van-popper-avatar .count-item .item-value
.van-popper-avatar .links .link-title
.lang-change .lang-title
.name-line
	color var(--c-title) !important

.van-popper-avatar .coins .contact .email-icon
.van-popper-history .tab-item
	color var(--c-text) !important

.van-popper-avatar .level-intro
.lang-change .lang-intro
	background-color var(--c-background) !important
	color var(--c-text) !important

.van-popper-avatar .level-intro__link
.van-popper-avatar .coins .contact .email-icon--bind
.van-popper-avatar .coins .contact .phone-icon--bind
	color var(--c-accent) !important

.van-popper-avatar .links .link-item:hover
.lang-change .lang-item:hover
.lang-change .lang-intro-item:hover
	background-color var(--c-hover) !important

.lang-change .lang-intro-item.on
	color var(--c-accent)

.van-popper-avatar .logout a:hover
.van-popper-avatar .coins .contact .contact-tips
	background-color var(--c-hover) !important
	color var(--c-title) !important

/* 消息弹窗 */
.i-frame iframe
.i-frame::before
	background-color var(--c-background) !important

.im-list-box
	background var(--c-background)

.im-root a
.im-root a:hover
.im-root a:active
.im-root a:link
.im-root a:visited
	color var(--c-title)

.im-list:hover
	background-color var(--c-hover) !important
	color var(--c-title) !important

/* 动态弹窗 */
.out-container
	background-color var(--c-background) !important

.tab-bar
	border-color var(--c-border) !important
	color var(--c-text) !important

.tab-item.active
.van-popper-history .tab-item--active
	background-color var(--c-accent) !important
	color var(--c-white) !important

.tip-box
.split-line
	color var(--c-text) !important

.split-line::before
	border-color var(--c-border) !important

.split-line .history-tip
	background-color var(--c-background) !important

.content
	color var(--c-title) !important

.list-item:hover
	background-color var(--c-hover) !important

.more-btn
.van-popper-history .view-all
	border 1px solid var(--c-border)
	background-color var(--c-background) !important
	color var(--c-text) !important

.more-btn:hover
.van-popper-history .view-all:hover
	background-color var(--c-hover) !important

/* 收藏弹窗 */
.van-popper-favorite .tabs-panel
.van-popper-history .tab-header
	border-color var(--c-border) !important

.van-popper-favorite .tab-item--normal
	color var(--c-title) !important

.van-popper-favorite .tab-item--active
	background-color var(--c-accent) !important
	color var(--c-white) !important

.van-popper-favorite .tab-item--normal:hover
.video-card:hover
	background-color var(--c-hover) !important

.video-info .line-2
	color var(--c-title) !important

.video-info .info
	color var(--c-text) !important

.van-popper-favorite .play-all
	border-color var(--c-border) !important
	background-color var(--c-hover) !important
	color var(--c-title) !important

.van-popper-favorite .play-all .bilifont
	color var(--c-accent) !important

/* 投稿弹窗 */
.van-popper-upload .upload-item:hover
	background-color var(--c-hover) !important
	color var(--c-title) !important

/* 顶部导航--分区 */
.bili-header-m
.bili-header-m .nav-menu .nav-mask
.channel-menu
.bili-header-m .nav-menu .up-load .up-nav li
.bili-header-m .profile-m .member-bottom
.dynamic-m .dyn_list_wrapper
.dynamic-m .dyn_list_wrapper .dyn_list
	background-color var(--c-background)

.bili-header-m .nav-menu .nav-con.nav-wrapper-left .nav-item:first-child
.stardust-video .nav-menu .nav-con.nav-wrapper-left .nav-item:first-child
	display block

.bili-header-m .nav-menu .nav-con .nav-item.home .t
	font-size 0

.bili-header-m .nav-menu .nav-con .nav-item.home .header-icon-bilibili-tv
	font-size 30px

.bili-header-m .nav-menu .nav-con .nav-item:hover
.stardust-video .nav-menu .nav-con .nav-item:hover
.channel-menu .box a:hover
.bili-header-m .nav-menu .up-load:hover .u-link
	background-color var(--c-hover)

.bili-header-m .nav-menu
.bili-header-m .nav-menu .nav-con .nav-item .t
.bili-header-m .nav-search .nav-search-keyword
.bili-header-m .nav-search .nav-search-keyword:focus
.bili-header-m .bilibili-suggest .suggest-item
.bili-header-m .bilibili-suggest .suggest-item a
.bili-header-m .nav-menu .up-load .up-nav li a
.bili-header-m .profile-m .header-u-info a
.bili-header-m .profile-m .grade .desc-tips .lv-row strong
.bili-header-m .profile-m .member-menu li a
.dynamic-m a
.bili-header-m .mini-wnd-nav .read-more
.bili-header-m .mini-wnd-nav a
	color var(--c-title)

.bili-header-m .nav-search .nav-search-submit
.dynamic-m .dyn_menu li
.dynamic-m .dyn_list_wrapper .dyn_list li .r .title span
.dynamic-m .dyn_list_wrapper .dyn_list li .r .info a
.dynamic-m .dyn_list_wrapper .dyn_list li.live .r .info
.bili-header-m .mini-wnd-nav.history-wnd .state
	color var(--c-text)

.bili-header-m .nav-menu .nav-mask
	box-shadow none
	border-bottom 1px solid var(--c-border)

.channel-menu .r-box
	border-color var(--c-border)

.float-nav .nav-menu .backup
.float-nav .nav-menu .item:hover
	border 0
	background-color var(--c-accent)
	color var(--c-white)

.bili-header-m .nav-menu .up-load
	margin 0 7px 0 0
	padding 0 7px
	width auto

.bili-header-m .nav-menu .up-load .u-link
	padding 0 7px
	width auto
	height auto
	border-radius 0
	background-color transparent
	font-size 12px
	color var(--c-title)

.bili-header-m .nav-menu .up-load .up-nav
	border 1px solid var(--c-border)
	background-color var(--c-background)

.bili-header-m .nav-menu .up-load .up-nav li:hover
	background-color var(--c-hover)

/* 顶部搜索框 */
.bili-header-m .bilibili-suggest
.dynamic-m .wnd_bottom a
.bili-header-m .mini-wnd-nav .read-more
	border-color var(--c-border)
	background-color var(--c-background)

.bili-header-m .bilibili-suggest .b-line
	border-color var(--c-border)

.bili-header-m .bilibili-suggest .b-line span
	background-color var(--c-background)
	color var(--c-text)

.bili-header-m .bilibili-suggest .suggest-item:hover
.bili-header-m .bilibili-suggest .suggest-item.focus
.dynamic-m .wnd_bottom a:hover
.dynamic-m .dyn_list_wrapper .dyn_list li.d-data:hover
.bili-header-m .mini-wnd-nav .list li:hover
.bili-header-m .mini-wnd-nav .read-more:hover
	background-color var(--c-hover)

/* 顶部导航弹窗 */
.bili-header-m .profile-m
.bili-header-m .mini-wnd-nav
.bili-header-m .nav-menu .nav-con .nav-item .i-frame
	border 1px solid var(--c-border)
	background-color var(--c-background)

.bili-header-m .profile-m .big-vip-red
.dynamic-m .dyn_list_wrapper .dyn_list a:hover
.dynamic-m .dyn_list_wrapper .dyn_list li .r .title span.live
.bili-header-m .mini-wnd-nav .list li a:hover
	color var(--c-accent) !important

.bili-header-m .profile-m .header-uname .vip-type span
	background-color var(--c-accent)
	color var(--c-white)

.bili-header-m .profile-m .grade .desc-tips
	background-color var(--c-background)
	color var(--c-text)

.bili-header-m .profile-m .grade .desc-tips .help-link
.bili-header-m .profile-m .member-bottom .logout
.dynamic-m .dyn_menu li.on
	color var(--c-accent)

.dynamic-m
	border 0
	background-color var(--c-background)

.dynamic-m .dyn_menu .line
	background-color var(--c-accent)

.dynamic-m .dyn_list_wrapper .dyn_list li .r .title span.sp
	background-color transparent
	color var(--c-accent)

.dynamic-m .dyn_list_wrapper .dyn_list li.history
.bili-header-m .mini-wnd-nav .list.history li.timeline
.bili-header-m .profile-m .member-menu
	border-color var(--c-border)

.dynamic-m .dyn_list_wrapper .dyn_list li .history-tag
.bili-header-m .mini-wnd-nav .list.history li.timeline .date
	background-color var(--c-background)
	color var(--c-text)