@-moz-document domain("bilibili.com"),
domain("biligame.com") {
  /* 公共样式  注意：下面一定要为 /*![[defaultTheme]]*/
  /*![[defaultTheme]]*/
  @import 'base'
  @import 'none'
  @import 'form'
  @import 'button'
  @import 'background'
  @import 'header'
  @import 'comment'
  @import 'feed'
  @import 'error'
}
@-moz-document regexp("^.*www.bilibili.com/?((index\\.html)|(\\?.*))?"),
url-prefix("https://www.bilibili.com/v/"),
url-prefix("https://www.bilibili.com/anime/"),
url-prefix("https://www.bilibili.com/guochuang/"),
url-prefix("https://www.bilibili.com/cinema/"),
url-prefix("https://www.bilibili.com/documentary/"),
url-prefix("https://www.bilibili.com/movie/"),
url-prefix("https://www.bilibili.com/tv/"),
url-prefix("https://www.bilibili.com/account/history"),
url-prefix("https://www.bilibili.com/watchlater"),
url-prefix("https://www.bilibili.com/ranking/") {
  /* 与主页相同的 banner */
  @import 'bannerHeader'
}
/* 嵌套 iframe */
@import 'iframe'