/* 个人空间 */
#page-index .col-1 .section .more
#page-index .channel .section-right-options
#page-index .col-2 .shop
#page-index .col-2 .i-ann
#page-index .col-2 .user
#page-index .col-2 .game
#page-index .col-2 .section .user-auth.no-auth .icon-auth
#page-index .col-2 .section .user-auth.no-auth .no-auth-title span
#page-index .col-2 .i-m .i-m-r2
#page-index .col-2 .elec .elec-map
.elec #elec-hover-bg-preloader
#page-index .col-2 .i-live .section-title
.i-live .i-live-text
.i-live .i-live-hover
.i-live .i-live-cover
.i-live .i-live-host-text
.i-live .i-live-icon
.i-live .i-live-arrow
.icon-m-ra
.elec .elec-list
.i-live .i-live-fo
.i-live .i-live-off-guest p
.elec .elec-monthly-count
.i-m-title .icon-i-title
#page-index .col-2 .section.elec .elec-trigger-icon
#page-dynamic .col-2
#page-fav .fav-main .filter-item.search
.be-tab-cursor:after
#page-index .col-2 .section .auth-detail
.follow-dialog-wrap .follow-dialog-window .layout
  display none

#pin-wrapper .pin-layer-header .pin-layer-header-text
#pin-wrapper .pin-layer-vlist .small-item .title
  color var(--c-title) !important

.n .n-data .n-data-k
.n .n-data .n-data-v
#page-index .col-1 .section.empty:after
.follow-dialog-wrap .follow-dialog-window .content .group-list .add-group .add-btn
.follow-dialog-wrap .follow-dialog-window .content .group-list .empty-tip
  color var(--c-text) !important

.be-tab-item.is-active span
.list-create:hover .text
  color var(--c-accent) !important

.h #h-name
.h #h-sign
.h .h-sign
.h .h-v-btn
.h .h-f-btn
.h .h-v-btn .h-version-state
.small-item .length
.btn.btn-large .btn-content
  color var(--c-white) !important

.n .n-tab-links .icon-ic_home
  color #00c091 !important

.n .n-tab-links .icon-ic_following
  color #fb7299 !important

.n .n-tab-links .icon-ic_video
  color #02b5da !important

.n .n-tab-links .icon-ic_channel
  color #23c9ed !important

.n .n-tab-links .icon-ic_collect
  color #f3a034 !important

.n .n-tab-links .icon-ic_sub
  color #ff5d47 !important

.n .n-tab-links .icon-ic_setting
  color #23c9ed !important

#pin-wrapper #pin-layer
.modal-wrapper
.fans-action-follow
.follow-dialog-wrap .follow-dialog-window
  background-color var(--c-background)

#pin-wrapper .pin-layer-vlist .small-item:hover
  background-color var(--c-hover)

.n .n-cursor
  background-color var(--c-accent)

.section
.i-pin-v .be-tab
#pin-wrapper .pin-layer-header
.modal-wrapper .modal-title
.be-input_inner:focus
.be-textarea_inner:focus
.be-textarea_inner:hover
input[type=text]:focus
#page-index .channel .channel-item
.article-content
.s-content
.fans-action-btn.follow
.follow-dialog-wrap .follow-dialog-window .title
.follow-dialog-wrap .follow-dialog-window .content .group-list .add-group .add-btn
.follow-dialog-wrap .follow-dialog-window .bottom
  border-color var(--c-border)

.be-tab-cursor
.sub-tabs a.active
.list-create:hover
  border-color var(--c-accent)

.h .h-gradient
  bottom -1px
  height 100px
  background-image none
  background-color var(--c-bg-header)
  backdrop-filter blur(5px)

.h .h-v-btn
.h .h-f-btn
  background-color var(--c-hover)
  color var(--c-white)

.be-tags-container .tag.new-tag
.be-tags-container .tag.coop-tag
.be-tags-container .tag.inter-tag
  background-color var(--c-accent) !important
  color var(--c-white) !important

.h .h-fans-icon .fans-hover-tip
.h .h-fans-icon .fans-hover-tip:after
  border-color var(--c-border)
  background-color var(--c-background)

.h #h-sign:hover
.h #h-sign:focus
.list-create
#pin-wrapper .pin-layer-vlist .small-item .added-icon
.section .count
.be-input_inner
.be-textarea_inner
#page-setting #setting-new-tag
#page-setting .setting-index-module:hover
  border-color var(--c-border)
  background-color var(--c-hover)
  color var(--c-title)

.n .n-inner
  border 1px solid var(--c-border)
  border-top 0
  box-shadow none
  background-color var(--c-background)

.g-search
  width 300px

.g-search input
  width 300px
  border-color var(--c-border)
  background-color var(--c-hover)

.g-search .search-btn:hover
  background-position -1111px -81px

#pin-wrapper #pin-layer-search-btn:hover
  background-position -1111px -87px

#page-index .col-1
#page-dynamic .col-1
  float none
  width auto !important
  border 0
  background-color var(--c-background)

.section .count:before
.section .more
  background-image none

#page-index .video.full-rows .content
  max-height none

#page-index .video .content
#page-index .coin .content
#page-index .fav .content
#page-index .album .content .album-wrapper
#page-index .channel .channel-item .channel-video
  display -ms-flexbox
  display flex
  -ms-flex-line-pack justify
  align-content flex-start
  -ms-flex-wrap wrap
  flex-wrap wrap
  -ms-flex-pack justify
  width 100% !important
  max-height none

#page-index .video .content .small-item
#page-index .coin .small-item
#page-index .fav-item
#page-index .album .content .album-wrapper .album-item
#page-index .channel .channel-item .small-item
  float none
  flex 18%
  margin 1%
  padding 0 !important
  max-width 223px

.small-item .cover
.small-item img
#page-index .fav-covers
#page-index .fav-covers img
#page-index .channel .content
  width 100% !important
  height auto

.mini-item
  width 20%

.i-pin-c
.h .h-f-btn
.mini-item .cover img
.large-item .cover img
.elec .elec-trigger
  box-shadow none

#page-index .fav-covers
  border 0

#page-index .album .content
  max-height none

#page-index .album .content .album-wrapper
  margin 0

#page-index .album .content .album-wrapper .album-item .album-top
  height 150px

.article-item .clearfix
  display flex

.article-content
  flex 1
  padding-right 50px

/* 右侧 */
#page-index .col-2
  float none
  position absolute
  top 0
  right -70px
  width auto

#page-index .col-2 .section .user-auth.no-auth .no-auth-title .goto-auth
#page-index .col-2 .section .user-auth .auth-icon
#page-index .col-2 .section.i-m .i-m-r1 .i-m-title
#page-index .col-2 .section.elec .elec-trigger
#page-index .col-2 .section.i-live .i-live-off-guest a
#page-index .col-2 .section.i-live .i-live-link
  position relative
  width 60px
  height 60px
  border 1px solid var(--c-border)
  border-radius 50%
  overflow hidden
  background-color var(--c-background)
  transition all 0.3s ease-in-out

#page-index .col-2 .section .user-auth.no-auth .no-auth-title .goto-auth:hover
#page-index .col-2 .section .user-auth .auth-icon:hover
#page-index .col-2 .section.i-m .i-m-r1 .i-m-title:hover
#page-index .col-2 .section.elec .elec-trigger:hover
#page-index .col-2 .section.i-live .i-live-off-guest a:hover
#page-index .col-2 .section.i-live .i-live-link:hover
  border-color var(--c-accnet)
  background-color var(--c-hover)

#page-index .col-2 .section
  margin 20px 0
  padding 0 !important
  border 0
  background-color transparent

#page-index .col-2 .section:last-child
  border 0

#page-index .col-2 .section .user-auth .auth-description
  font-size 0

#page-index .col-2 .section .user-auth .auth-description
  width auto

#page-index .col-2 .section.elec .elec-trigger
  padding 0
  font-size 0

#page-index .col-2 .section.i-m
.i-m-r1
  padding 0
  text-align left

#page-index .col-2 .section .user-auth.no-auth
#page-index .col-2 .section .user-auth.no-auth .no-auth-title .goto-auth
.i-live .i-live-off
.i-live .i-live-off-guest a
  margin 0

#page-index .col-2 .section .user-auth.no-auth .no-auth-title .goto-auth
  font-size 0

#page-index .col-2 .section .user-auth.no-auth .no-auth-title
  display block
  position initial

.elec .elec-trigger-icon
  display block
  margin 18px auto

#page-index .col-2 .section .user-auth .auth-icon
.i-live .i-live-flag
  background-image none

#page-index .col-2 .section .user-auth.no-auth .no-auth-title .goto-auth::before
#page-index .col-2 .section .user-auth .auth-icon::before
#page-index .col-2 .section.elec .elec-trigger::before
#page-index .col-2 .section.i-m .i-m-r1 .i-m-title::before
#page-index .col-2 .section.i-live .i-live-off-guest a::before
#page-index .col-2 .section.i-live .i-live-link::before
#page-index .col-2 .section.i-live .i-live-flag::before
  display block
  font-size 12px
  color var(--c-title)
  text-align center
  line-height 60px

#page-index .col-2 .section .user-auth.no-auth .no-auth-title .goto-auth::before
  content '去认证'

#page-index .col-2 .section .user-auth .auth-icon.personal-auth::before
  content '个人'

#page-index .col-2 .section .user-auth .auth-icon.organization-auth::before
  content '机构'

#page-index .col-2 .section.elec .elec-trigger::before
  content '充电' !important

#page-index .col-2 .section.i-m .i-m-r1 .i-m-title::before
  content '创作中心'

#page-index .col-2 .section.i-live .i-live-off-guest a::before
#page-index .col-2 .section.i-live .i-live-link::before
  content '直播间'

#page-index .col-2 .section.i-live .i-live-flag
  top 20px
  right 0
  text-align center

#page-index .col-2 .section.i-live .i-live-flag::before
  content '直播中'
  display inline-block
  background-color var(--c-background) !important
  line-height 23px

.to-top
  position fixed
  background-color transparent !important

  &::after
    content none

// 资料弹窗
#id-card
  border 1px solid var(--c-border)
  background-color var(--c-background)

  .vip-name-check
    color var(--c-accent) !important

  .idc-content .idc-sign
    color var(--c-text) !important