/* 投稿视频 */
#page-channel-index .channel-option.no-channel
#page-fav .fav-main .fav-action-bottom .fav-action-fixtop
  background-color var(--c-background)

.contribution-sidenav .contribution-item.cur
.contribution-sidenav .contribution-item:hover
#page-video #submit-video-type-filter
#page-fav .fav-sidenav .fav-item.cur
#page-fav .fav-sidenav .fav-item:hover
#page-fav .fav-main .filter-item .filter-type .be-dropdown-item:hover
#page-follows .follow-main .follow-action-bottom .follow-action-fixtop
.album-content .my-album .tab-list
  background-color var(--c-hover)

#page-channel-index .no-channel-container em
  background-color transparent !important

.breadcrumb .item.cur
#page-fav .fav-sidenav .nav-title .text
#page-fav .fav-sidenav .favlist-title
#page-fav .fav-sidenav .watch-later
.sub-tabs span
  color var(--c-title) !important

.sub-tabs a
.pgc-space-follow-item .pgc-item-info .type-and-area span
.pgc-space-follow-item .pgc-item-info .pgc-item-state span
  color var(--c-text) !important

#page-video #submit-video-type-filter a.active
.sub-tabs a.active
#page-channel-index .no-channel-container em
.my-album .tab-list .tab.active .name
  color var(--c-accent) !important

.be-pager-item-active a
  color var(--c-white) !important

.list-item
#page-follows .follow-sidenav .nav-container.follow-container
#page-follows .list-item:last-child
#page-setting .setting-index-container
#page-setting .setting-index-module
#page-fav .fav-sidenav .nav-container
#page-fav .fav-sidenav .watch-later
#page-fav .fav-main .fav-action-top
#page-fav .fav-main .fav-action-top .back-to-info
.be-dropdown-item.be-dropdown-item-delimiter
  border-color var(--c-border)

.contribution-sidenav
.contribution-sidenav~.main-content
#page-fav .fav-sidenav
#page-fav .fav-main
#page-fav .fav-main .favList-info
#page-fav .fav-main .small-item
#page-follows .follow-sidenav
#page-follows .follow-main
#page-follows .follow-main .follow-header.follow-header-info
#page-follows .follow-main .follow-action-top
#page-subs .mini-item
#page-myalbum .album-content
  border 0

.col-full
.pgc-space-follow-item .bangumi-options .opt-list
  border-color var(--c-border)
  box-shadow none
  background-color var(--c-background)

#page-follows .follow-sidenav .follow-list-container .follow-item.cur
#page-follows .follow-sidenav .follow-list-container .follow-item:hover
#page-setting .setting-tag-list a
  border-color var(--c-border)
  background-color var(--c-hover)

#page-follows .follow-main .follow-action-top .back-to-info
  border-color var(--c-border)
  color var(--c-text)

.pgc-space-follow-item .bangumi-options .opt-list li:hover
  background-color var(--c-hover)
  color var(--c-title)

/* 收藏 */
#page-fav .fav-main .filter-item .filter-type
  padding 0
  width auto

#page-fav .fav-main .filter-item .filter-type .be-dropdown-item
  float none
  padding 0 20px
  width auto

#page-setting #setting-new-tag-btn
  border var(--c-accent)
  background-color var(--c-accent)
  background-image none
  color var(--c-white) !important

#page-subs .mini-item
  margin-right 0px !important
  width 340px !important