/* 投稿视频 */
#page-channel-index .channel-option.no-channel
  background-color var(--c-background)

.contribution-sidenav .contribution-item.cur
.contribution-sidenav .contribution-item:hover
#page-video #submit-video-type-filter
#page-fav .fav-sidenav .fav-item.cur
#page-fav .fav-sidenav .fav-item:hover
#page-fav .fav-main .filter-item .filter-type .be-dropdown-item:hover
#page-follows .follow-main .follow-action-bottom .follow-action-fixtop
  background-color var(--c-hover)

.contribution-sidenav .contribution-item.cur .num
.contribution-sidenav .contribution-item.cur .text
.breadcrumb .item.cur
.be-pager-options-elevator input
#page-channel-index .channel-item .channel-name
#page-fav .fav-sidenav .favlist-title
#page-fav .fav-sidenav .watch-later
.favInfo-box .favInfo-details .fav-name
#page-fav .fav-sidenav .fav-item.cur .be-dropdown-trigger .icon-ic_more
#page-fav .fav-sidenav .fav-item.cur .iconfont
#page-fav .fav-sidenav .fav-item.cur .num
#page-fav .fav-sidenav .fav-item.cur .text
#page-fav .fav-main .filter-item
#page-fav .fav-main .filter-item .filter-type .be-dropdown-item span
.sub-tabs span
.pgc-space-follow-item .pgc-item-info .pgc-item-title
.pgc-space-follow-item .bangumi-options .opt-list li
.bangumi-pagelistbox .custom-right .custom-right-inner.custompage
  color var(--c-title)

.v-search-result
#page-video #submit-video-type-filter a .count
.list-item .desc
.list-item .meta
.be-pager-item a
.bangumi-pagelistbox .p
.be-pager-next a
.be-pager-prev a
.be-pager-total
.be-pager-options-elevator
#page-channel-index .channel-item .channel-update-time
#page-fav .fav-main .fav-meta
.favInfo-box .favInfo-details .fav-options .meta
#page-fav .fav-main .filter-item .filter-type .be-dropdown-item i
#page-fav .search-empty-hint p
.be-dropdown-trigger .icon-ic_more
#page-follows .follow-sidenav .nav-title .text
#page-follows .follow-sidenav .num
#page-follows .follow-sidenav .follow-list-container .follow-item.cur .be-dropdown-trigger .icon-ic_more
#page-follows .follow-sidenav .follow-list-container .follow-item.cur .num
#page-follows .follow-sidenav .follow-list-container .follow-item.cur .text
.breadcrumb .batch
#page-follows .follow-main .follow-action-bottom li
#page-follows .follow-main .follow-action-bottom .select-counter
#page-follows .list-item .auth-description
#page-setting .setting-privacy-item .setting-privacy-name
.pgc-space-follow-item .pgc-item-info .pgc-item-desc
.pgc-space-follow-item .pgc-item-info .type-and-area
.pgc-space-follow-item .pgc-item-info .pgc-item-state
.pgc-space-follow-item .bangumi-options i.iconfont
.pgc-space-follow-item .bangumi-options .opt-list li.disabled
.bangumi-pagelistbox .custom-right .custom-right-inner
#page-channel-index .channel-option.no-channel p
  color var(--c-text)

.v-search-count
#page-video #submit-video-type-filter a.active
#page-follows .follow-main .follow-action-bottom .select-cancel
.sub-tabs a.active
#page-channel-index .no-channel-container em
  color var(--c-accent)

.be-pager-item-active:hover a
.be-pager-item-active a
  color var(--c-white)

.list-item
#page-follows .follow-sidenav .nav-container.follow-container
#page-follows .list-item:last-child
#page-setting .setting-index-container
#page-setting .setting-index-module
#page-fav .fav-sidenav .nav-container
#page-fav .fav-sidenav .watch-later
  border-color var(--c-border)

.contribution-sidenav
.contribution-sidenav~.main-content
#page-fav .fav-sidenav
#page-fav .fav-main
#page-fav .fav-main .favList-info
#page-fav .fav-main .small-item
#page-follows .follow-sidenav
#page-follows .follow-main
#page-follows .follow-main .follow-header.follow-header-info
#page-follows .follow-main .follow-action-top
#page-subs .mini-item
  border 0

.col-full
.pgc-space-follow-item .bangumi-options .opt-list
  border-color var(--c-border)
  box-shadow none
  background-color var(--c-background)

.be-pager-item
.bangumi-pagelistbox .p
.be-pager-next
.be-pager-prev
.be-pager-options-elevator input
#page-follows .follow-sidenav .follow-list-container .follow-item.cur
#page-follows .follow-sidenav .follow-list-container .follow-item:hover
#page-setting .setting-tag-list a
.bangumi-pagelistbox .custom-right .custom-right-inner.custompage
  border-color var(--c-border)
  background-color var(--c-hover)

.be-pager-item-active
.bangumi-pagelistbox .p:hover
.bangumi-pagelistbox .p.active
.favInfo-box .favInfo-details .fav-options .fav-play
#page-channel-index .channel-option.no-channel .create-channel
  border-color var(--c-accent)
  background-color var(--c-accent)
  color var(--c-white)

#page-follows .follow-main .follow-action-top .back-to-info
  border-color var(--c-border)
  color var(--c-text)

.pgc-space-follow-item .bangumi-options .opt-list li:hover
  background-color var(--c-hover)
  color var(--c-title)

/* 收藏 */
#page-fav .fav-main .filter-item .filter-type
  width auto

#page-fav .fav-main .filter-item .filter-type .be-dropdown-item
  float none
  padding 0 20px
  width auto

#page-setting #setting-new-tag-btn
  border var(--c-accent)
  background-color var(--c-accent)
  background-image none
  color var(--c-white)

#page-subs .mini-item
  margin-right 0px !important
  width 340px !important