@-moz-document url("https://weibo.com/"),
url-prefix("https://weibo.com/login") {
	// 登陆注册样式
	@import 'signin'
}
@-moz-document url-prefix("https://weibo.com/signup/"),
url-prefix("https://e.weibo.com/register/") {
	// 登陆注册样式
	@import 'signup'
}