// 登陆页面
.WB_main_l
.WB_frame #plc_main .WB_frame_c
#pl_unlogin_home_hots
#pl_unlogin_home_hotpersoncategory
#pl_unlogin_home_dmca
.WB_footer
.W_gotop
.Bv6_layer .W_layer_title
  display none

.UG_box
  background-color var(--c-background)

.W_unlogin_v4 .W_login_form .input_wrap
.W_unlogin_v4 .W_login_form .input_wrap .W_input
.form_login_register .input_wrap
  background-color var(--c-hover)

.Bv6_layer .W_input
.Bv6_layer .send_weibo .input
  background-color transparent

.W_unlogin_v4 .info_header .tab a.cur
  color var(--c-accent) !important

.W_unlogin_v4 .info_header .tab
.W_unlogin_v4 .login_content
.W_unlogin_v4 .W_login_form .input_wrap
.layer_login_register_v2 .tab_bar
.layer_login_register_v2 .tab_bar a
.layer_login_register_v2 .qrcode_con
.form_login_register .input_wrap
  border-color var(--c-border)

.W_unlogin_v4 .info_header .tab a.cur
.layer_login_register_v2 .tab_bar a.cur
.Bv6_layer .W_input:focus
.Bv6_layer .W_input_focus
  border-color var(--c-accent) !important

.Bv6_layer :focus
.Bv6_layer_menu_list :focus
  outline-color var(--c-accent)

.Bv6_layer .content
  border 0

.layer_login_register_v2 .tab_bar a
  border-width 1px

.W_unlogin_v4 .login_content
.W_unlogin_v4 .login_box
  box-shadow none

.UG_box
  padding 0 0 10px

.WB_frame #plc_main
.WB_main_r
.W_unlogin_v4
  width 100%

#pl_unlogin_home_login
  margin 0 auto
  padding-top 200px
  width 340px

.W_unlogin_v4 .login_box
  border-radius 4px
  background-color transparent