// 注册界面
.W_header_line
.W_logo_wave
.W_logo_wave2
.nologin_footer
.W_nologin_main .main_tab_line .vline
  display none

.W_nologin .main_radius_bg
.W_nologin .main_e_radius_bg
#pl_account_regmail
  background-color var(--c-background)

.W_reg_form .foreign_tel
.W_reg_form .flag_tel .tel_country:hover
  background-color var(--c-hover)

.W_btn_big span
.W_nologin .main_radius_ebg
  background-color transparent !important

.B_reg_tel .W_nologin .W_reg_info
.B_reg_email .W_nologin .W_reg_info
.B_user .W_reg_info
.B_register .W_nologin .W_reg_info
.mobile_ico
.mail_ico
.mobile_ico
.W_btn_e:hover
.W_btn_e:hover span
.W_btn_big:hover span
.W_reg_sidebar .reg_help ul i
  background-image none !important

.W_nologin_main .main_tab_line .cur
.W_reg_form .tit i
  color var(--c-accent) !important

.W_reg_form .flag_tel .tel_country
.W_reg_sidebar .line
.invite_slogan
  border-color var(--c-border)

.W_nologin_main .main_tab_line .cur
  border-color var(--c-accent)

.W_btn_e
.W_btn_big
.W_btn_e span
.W_btn_big span
  border 0 !important

.W_input
.W_inputStp
.W_nologin .main_radius_bg
.W_nologin_main
  box-shadow none

.W_nologin_main .main_tab_line a
  margin 0 10px

.W_nologin .main_radius_ebg
  margin-top -120px

.W_nologin
  padding-top 120px

#pl_account_regmail
  border-radius 0 0 4px 4px

.W_nologin_main .main_tab_line
  padding 20px 0
  text-align center
