/* 主体 */
.bili-wrapper .r-con
.bili-footer
.bili-header-m .search .link-ranking
.zone-module .zone-rank
.video-floor-m .zone-title .headline .link-more
.audio-comers-module .zone-title .headline .link-more
.video-floor-m .zone-title .headline .tags
.promote-m .headline .sub-name
.bangumi-home-crumb .discovery-entry
.block-area .follow-wrapper .follow-head .follow-more
.new-stat-module .zone-title .headline .new-stat-more
.block-area .block-right
.index-entry-wrapper
.block-area .timeline-toggle-block
.block-area .timeline-title .headline .timeline-more
.cinema-home-wrapper .new-stat-module .storey-box .spread-module:nth-child(n+16)
.special-recom-list .video-item-biref:nth-child(n+6)
.special-recom-module .block-body .huge-recom
.block-area .block-left .block-header a.link-more
.block-left .headline .hot-link
.area-module .area-block .block-right
.block-left.block-brand .headline a.link-more
.block-left.block-brand .headline .tab-wrap
.cinema-home-crumb .activity-entry
.cinema-home-crumb .discovery-entry
.block-left .headline a.link-more
.card-video-list .video-item-biref:nth-child(n+6)
.card-video-wrapper .card-video-content .huge-recom
.video-list-recom .cinema-recom
.video-list-video .video-item-biref:nth-child(n+6)
.bili-tab .bili-tab-item.on:before
	display none !important

.spread-module .num
.audio-list .song-list .song-li .content .text
.game-groom-m .title
.game-groom-m .num
	background-color var(--c-background)

.primary-menu .nav-menu .channel.on:after
.timeline-box .timeline-item.new p.num a
	background-color var(--c-accent)

.video-item-biref .biref-info .biref-title
.energy-m .headline .name
	color var(--c-title) !important

.bangumi-home-crumb .fcname ul.n_num li a
.spread-module .num span
.sub-nav-m ul li a
	color var(--c-text) !important

.bangumi-home-crumb .fcname ul.n_num li.on a
	color var(--c-accent)

.sub-nav-m ul li.on a
	color: var(--c-accent) !important

.carousel-module .panel .title a
.groom-module .card-mark .title
.groom-module .card-mark .author
.groom-module .card-mark .play
	color: var(--c-white) !important

.primary-menu.border-b
.cinema-home-crumb ul li
	border-color var(--c-border)

.primary-menu .nav-menu>li .num-wrap span
	background-color var(--c-accent)
	color var(--c-white)

.primary-menu .nav-menu .sub-nav
.sub-nav-m .tips
	border 1px solid var(--c-border)
	background-color var(--c-background)

.primary-menu .nav-menu .sub-nav li:hover
.video-floor-m .zone-title .headline .read-push:hover
.audio-comers-module .zone-title .headline .read-push:hover
.promote-m .headline .change-push:hover
.new-stat-module .zone-title .headline .read-push:hover
.random-change:hover
	background-color var(--c-hover)

.bili-wrapper .l-con
.block-area .block-left
.area-block .block-left
	float none !important
	width auto !important

.bili-tab .bili-tab-item.on
	border-color var(--c-accent)
	color var(--c-accent) !important

.video-floor-m .zone-title .headline .read-push
.audio-comers-module .zone-title .headline .read-push
.promote-m .headline .change-push
.new-stat-module .zone-title .headline .read-push
.random-change
	border 0
	background-color transparent
	font-size 0

.go-top-m .go-top
	background-position -714px -72px

.energy-m .storey-box
.video-floor-m .storey-box
.audio-list .song-list
.promote-m .storey-box
.hot-recom-module .block-body
.new-stat-module .storey-box
.special-recom-module .block-body ul
.area-module .video-list-video
.area-module .video-list-movie
.area-module .video-list-brand
.block-area .card-video-list
	display -ms-flexbox
	display flex
	-ms-flex-line-pack justify
	align-content flex-start
	-ms-flex-wrap wrap
	flex-wrap wrap
	-ms-flex-pack justify
	justify-content center
	width 100%
	height auto !important
	max-height 630px !important

.energy-m .storey-box .spread-module
.video-floor-m .storey-box .spread-module
.audio-list .song-list .song-li
.promote-m .storey-box .spread-module
.video-item-biref
.new-stat-module .storey-box .spread-module
.video-item-biref.cinema-large
	float none
	flex 18%
	margin 1%

.spread-module
.spread-module .pic
.audio-list .song-list .song-li
.audio-list .song-list .song-li .mask
.audio-list .song-list .song-li .song-shadow
.video-item-biref
.video-item-biref a
.video-item-biref .biref-img
.video-item-biref.cinema-large
.video-item-biref.cinema-large .biref-img
	width 100%
	height auto

.spread-module .pic
	max-height 133px

.game-groom-m
	border 0
	background-color var(--c-background)

.block-left
.special-recom-module .block-body
.block-area .card-video-content
	height auto !important

.block-timeline .timeline-box
	height 350px
	overflow hidden scroll

.timeline-box ul
	height auto !important

.block-area .timeline-wrapper.fix-width .timeline-box .timeline-item
	padding-right 53px

.sub-nav-m .tips .t-arrow
	width 0
	height 0
	border-bottom 5px solid var(--c-border)
	border-left 6px solid transparent
	border-right 6px solid transparent
	background-image none

.coming-soon-wrapper .card-wrapper .card-item .time-line-wrapper .line
.coming-soon-wrapper .card-wrapper .card-item .time-line-wrapper .line .point-wrapper
.coming-soon-wrapper .card-wrapper .card-item .time-line-wrapper .line .point-wrapper .point
	background-color var(--c-border)

.new-stat-module .storey-box
	max-height 400px !important

.card-video-wrapper .card-video-content .huge-recom+.card-video-list
.video-list-recom .video-list-video
	margin-left 0