/* 广场 专题 */
.active-title .b-active-i
.topic-title .b-topic-i
  display none !important

.box-body
#webShare .bili-share-pc
.bili-share-pc .weixin-hover .qr-before
  background-color: var(--c-background) !important

.active-title .b-active-t
.pagelist .flip-left .ellipsis
  color var(--c-title) !important

.act-list ul li .event_status
.act-list ul li .act-info
  color var(--c-text) !important

.nav-tab .on
  color var(--c-accent) !important

.active-title
.nav-tab
.bili-share-pc
  border-color var(--c-border) !important

.act-list ul li
  border-color var(--c-border) !important
  background-color var(--c-background) !important

.back-top
  background-position -713px -72px !important

.active-main
.topic-main
  margin-bottom 60px !important

.back-top
  position: fixed !important

.active-main .back-top
  right: 150px

button
  background-color transparent !important
  color var(--c-title) !important

  &::after
    content none !important