/* 广场 专题 帮助 */
.banner
.international-footer
.active-title .b-active-i
.topic-title .b-topic-i
  display none !important

.box-body
#webShare .bili-share-pc
.bili-share-pc .weixin-hover .qr-before
.help-list
.help-box
.bili-share-pc .share-weixin-qr
body[style]
  background-color var(--c-background) !important

.help-content img
.collapse-item--active
.collapse-item:hover
  background-color var(--c-hover) !important

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar
  background-color var(--c-scroll) !important

.activity-playlist .activity-playlist-item
.help-body p
.mCSB_scrollTools .mCSB_draggerRail
  background-color transparent !important

.active-title .b-active-t
.pagelist .flip-left .ellipsis
  color var(--c-title) !important

.act-list ul li .event_status
.act-list ul li .act-info
  color var(--c-text) !important

.nav-tab .on
.collapse-item--active .collapse-title
  color var(--c-accent) !important

.active-title
.nav-tab
.bili-share-pc
.bili-share-pc .vertical-line
  border-color var(--c-border) !important

.help-list
.help-box
  border 0 !important

.act-list ul li
  border-color var(--c-border) !important
  background-color var(--c-background) !important

.back-top
  background-position -713px -72px !important

.active-main
.topic-main
  margin-bottom 60px !important

.back-top
  position fixed !important

.active-main .back-top
  right 150px

.collapse-item
  border-radius 10px
  transition background-color 0.3s ease-in-out

  a
    text-align center
    transition color 0.3s ease-in-out

button
  background-color transparent !important
  color var(--c-title) !important

  &::after
    content none !important