/* 广场 专题 帮助 */
.activity-main .banner
.international-footer
.active-title .b-active-i
.topic-title .b-topic-i
.activity.topic-preview-wrapper .page_prev
.activity.topic-preview-wrapper .page_next
.side_main .shadow
.fixed-service-bg
  display none !important

.box-body
#webShare .bili-share-pc
.bili-share-pc .weixin-hover .qr-before
.bili-share-pc .share-weixin-qr
#uplist .up-card
  background-color var(--c-background) !important

.help-content img
.collapse-item--active
.collapse-item:hover
.catalog_bg
.side_main
.side_main .select .block.active
.list_block:hover
  background-color var(--c-hover) !important

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar
  background-color var(--c-scroll) !important

.help-list
.help-box
.activity-playlist .activity-playlist-item
.help-body p
.mCSB_scrollTools .mCSB_draggerRail
.master_list
  background-color transparent !important

.helper-icon-dots
.jobs-icon-blue-dots
  background-color var(--c-accent) !important

.active-title .b-active-t
.pagelist .flip-left .ellipsis
.master_title .big_title
.jobs_list_title div
.Jname
.jobs_numb
.select .block
  color var(--c-title) !important

.act-list ul li .event_status
.act-list ul li .act-info
  color var(--c-text) !important

.nav-tab .on
.collapse-item--active .collapse-title
.side_main .select .block.active
.nav-tab li:hover
.list_block:hover .jobs_name
.list_block:hover .jobs_classification
.list_block:hover .jobs_location
.select .block:hover
  color var(--c-accent) !important

.bili-share-pc
.bili-share-pc .vertical-line
.jobs_numb
.list_block:hover
#uplist .up-card
  border-color var(--c-border) !important

.side_main .select .block.active
  border-color var(--c-accent) !important

.list_block
  border-top-color var(--c-border) !important

.help-list
.help-box
.active-title
.nav-tab
  border 0 !important

.act-list
.help-content
  padding 20px
  border-radius 4px
  background-color var(--c-background)

.act-list ul li
  border-color var(--c-border) !important
  background-color transparent !important

.back-top
  background-position -713px -72px !important

.active-main
.topic-main
  padding-bottom 60px !important

.back-top
  position fixed !important

.active-main .back-top
  right 150px

.collapse-item
  border-radius 10px
  transition background-color 0.3s ease-in-out

  a
    text-align center
    transition color 0.3s ease-in-out

button
  background-color transparent !important
  color var(--c-title) !important

  &::after
    content none !important