/* 我的课程 */
.wrap
.tickets .nav
  background-color var(--c-background) !important

.wrap .left .tabbar .router-link-active
.wrap .left .tabbar .tab_item:hover
  background-color var(--c-hover) !important

.tickets .nav .navtab
  color var(--c-title) !important

.paid .invalid .invalid_word
.exchange .rule .rule_desc
  color var(--c-text) !important

.wrap .left .tabbar .router-link-active
.tickets .nav .navtab_active
.tickets .nav .navtab:hover
  color var(--c-accent) !important

.wrap
.wrap .right
  border 0 !important

.wrap .left .tabbar .tab_item
  border-radius 10px

.wrap .left .tabbar
  margin-top 100px