/* 赛事 */
.bottom-filling:after
.card-score .split-line
.score-contain .allmatch .more-match
.schedule-list .match-line
  display none !important

.schedule-filter .filter-top
  background-color var(--c-background) !important

.game-banner .banner-title .title-content .game-search
.schedule-filter .filter-content .content-all div
.schedule-contain .time-all
.schedule-time .time-contain
.schedule-contain .contain-top .hasDatepicker
.team-box .team-item.selected-0
.team-box .team-item.selected-1
.team-box .team-item.selected-2
.team-box .team-item.selected-normal
.team-box .team-detail .team-player-img .controlbar
.matchlist-contain .more-match
  background-color var(--c-hover) !important

.schedule-list .match-status.over
  background-color var(--c-border) !important

.schedule-filter .bscroll-vertical-scrollbar .bscroll-indicator
  background-color var(--c-scroll) !important

.game-banner .banner-title .title-content .game-search input
.schedule-filter .bscroll-vertical-scrollbar
.filter-wrap .toggle-open-select
.game-menu .more
.switch-item
.team-box .team-item .team-name
.international-header .mini-type
  background-color transparent !important

.schedule-filter .filter-content .content-all div.active
.schedule-list .match-status
.schedule-contain .time-all.active
.library-contain .search-sort .sort-list li.active
.game-menu ul li.active
  background-color var(--c-accent) !important

.game-content .match-box .main-title
.schedule-filter .filter-top .top-sx
.schedule-filter .filter-content .content-all div
.switch-item
.game-content .match-box .sub-title
  color var(--c-title) !important

.card-score .desc
.filter-wrap .toggle-open-select
.game-menu .more
.matchlist-contain .more-match
  color var(--c-text) !important

.game-banner .banner-title .title-content .game-search span
.schedule-filter .filter-content .content-all div.active
.schedule-contain .time-all.active span
.library-contain .search-sort .sort-list li.active
.game-menu ul li.active
.game-banner .banner-title .title-content ul li a
  color var(--c-white) !important

.game-banner .banner-title .title-content ul li.active a
.game-banner .banner-title .title-content ul li a:hover
.switch-item.active
.switch-item:hover
  color var(--c-accent) !important

.card-score .score-wrap
.schedule-filter .filter-content .content-all div
.schedule-list .list-item
.schedule-contain .time-all
.schedule-time .time-contain
.schedule-contain .contain-top .hasDatepicker
.schedule-time .time-contain li .contain-item
.headline .getmore
.team-box .team-detail .team-player-img .controlbar
.playrank-box .single-rank .single-rank-box
.game-content .team-container .itembox
  border-color var(--c-border) !important

.schedule-contain .time-all.active
  border-color var(--c-accent) !important

.game-banner .banner-title .title-content ul li.active a
.schedule-filter .filter-contain
.schedule-filter .filter-top
.filter-wrap .toggle-open-select
.team-box .infobox
.team-box .team-item
.international-header .mini-type
.international-header .mini-type .nav-search #nav_searchform
.van-popover .mini-type .nav-search #nav_searchform
  border 0 !important

.international-header .mini-type
  box-shadow none !important

.game-content .match-box.match-bottom
.game-content
.bili-game-local .pager
  margin-bottom 0 !important

.game-banner
  margin-top -56px

.game-banner .banner-title
  bottom -1px

.team-box .team-item .team-name
  background-image none !important

.game-banner .banner-title
  background-color var(--c-bg-header)
  backdrop-filter blur(5px)

.bili-game-local .pager .pages .prev
.bili-game-local .pager .pages .next
  border 0 !important
  background-color transparent !important

  &::after
    content none !important