/* 导航 */
.sub-nav-m ul li.on a
	color var(--c-accent)

.bili-header-m .nav-menu .nav-mask
	border 0
	background-color var(--c-bg-header)
	backdrop-filter blur(5px)

.bili-header-m .nav-menu .blur-bg
	background-image none !important

.bili-header-m .head-banner
	min-height 155px
	height 14vw
	max-height 220px
	background-size cover
	background-position center 0

/* 搜索 */
.bili-header-m .search
	position absolute
	top 100px
	left 50%
	padding 0
	width 520px
	height 50px
	border-radius 25px
	overflow hidden
	transform translateX(-50%)
	background-color transparent

.bili-header-m .search .searchform
.bili-header-m .search .searchform:hover
	padding 0 60px 0 20px
	height 100%
	background-color rgba(0, 0, 0, 0.4)

.bili-header-m .search button.search-submit
	width 60px
	height 100%
	background-color rgba(0, 0, 0, 0.6)
	background-position -647px -712px

.bili-header-m .search button.search-submit:hover
	background-position -711px -711px

.bili-header-m .search .search-keyword
	padding 0
	width 100%
	height 100%
	font-size 16px
	color var(--c-white)

.bili-header-m .search .search-keyword::-webkit-input-placeholder
	color #d2d2d2

.bili-header-m .search .search-keyword::-moz-placeholder
	color #d2d2d2