@-moz-document url-prefix("https://www.bilibili.com/v/"),
url-prefix("https://www.bilibili.com/anime/"),
url-prefix("https://www.bilibili.com/guochuang/"),
url-prefix("https://www.bilibili.com/cinema/") {
	/* 分区主页样式 */
	@import 'header'
	@import 'base'
}