/* 列表页 */
.tag-list-wrp .title .icon
.video-floor-m .dynamic-title .title .icon
.tag-list-wrp .title .small
.tag-more
  display none

.mod-2 li .r .title
.tag-list-wrp .title .name
.tag-list li.tag-item .tag-a
.video-floor-m .dynamic-title .title .name
.video-list .vl-hd .tab-list li
.mod-1 .r .title
.mod-3 .r .title
  color var(--c-title)

.mod-2 li .r .v-desc
.mod-2 li .r .up-info .v-author
.mod-2 li .r .v-info .v-info-i
.mod-1 .r .v-desc
.mod-1 .r .v-info .v-info-i
.mod-3 .r .v-info .v-info-i
.mod-3 .r .up-info .v-author
  color var(--c-text)

.video-list .vl-hd .type-tab li.on
.tag-list li.tag-item .tag-a:hover
  color var(--c-accent)

.video-list .vl-hd
.video-list .vl-hd .s-line
.mod-1 .r
.mod-2 li
.mod-2 li .l-item
  border-color var(--c-border)

.tag-list li.tag-item
  border-color var(--c-border)
  background-color var(--c-hover)

.tag-list li.tag-item.on
  border-color var(--c-accent) !important
  background-color var(--c-accent) !important
  color var(--c-white) !important

.tag-list li.tag-item:hover
  border-color var(--c-accent) !important
  color var(--c-accent)

.video-floor-m .dynamic-title .read-push
  border 0
  background-color transparent
  font-size 0

.video-floor-m .dynamic-title .read-push:hover
  background-color var(--c-hover)

.video-list .vl-hd .order-tab li.on
  border-color var(--c-accent)
  color var(--c-accent)

.video-floor-m .storey-box .v-list
.vd-list.mod-3
  display -ms-flexbox
  display flex
  -ms-flex-line-pack justify
  align-content flex-start
  -ms-flex-wrap wrap
  flex-wrap wrap
  -ms-flex-pack justify
  justify-content center
  width 100%
  height auto !important

.mod-3 li
  float none
  flex 18%
  margin 1%
  padding 0

.mod-1 li
  display flex

.mod-1 .r
  flex 1

.mod-3 .l-item
  width 100%
  height auto
  border 0

.tag-list-cnt
  overflow visible

.tag-list
  overflow hidden scroll
  max-height 68px