/* 列表页 推荐 */
.tag-list-wrp .title .icon
.video-floor-m .dynamic-title .title .icon
.tag-list-wrp .title .small
.tag-more
.zr_recomd .b-head .b-head-i
.footer .footer-wrp
  display none

.zr_recomd ul li
.zr_recomd .zr_user .uin .r_info em
  background-color transparent !important

.b-head .b-head-t
  color var(--c-title) !important

.zr_recomd .zr_tvideo .q
.zr_recomd .zr_user .uin .r_info em
.widescreen .container-body div:last-child
  color var(--c-text) !important

.tag-list li.tag-item.on
  color var(--c-white) !important

.video-list .vl-hd
.video-list .vl-hd .s-line
.mod-1 .r
.mod-2 li
.mod-2 li .l-item
.zr_recomd ul li
.primary-menu .nav-menu .side-nav .square-wrap .square-field
.primary-menu .nav-menu .side-nav .square-wrap .live-field
  border-color var(--c-border)

.zr_recomd .b-head
.primary-menu
.widescreen .container-body div:last-child h2
  border 0 !important

.zr_recomd .zr_user .uin .r_info em
  line-height initial

.container-body .zr_recomd ul
  padding 10px
  border-radius 4px
  background-color var(--c-background) !important

  li
    display flex
    justify-content space-between

    .zr_tvideo
      flex 1

.video-floor-m .dynamic-title .read-push
  border 0
  background-color transparent
  font-size 0

.video-floor-m .dynamic-title .read-push:hover
  background-color var(--c-hover)

.video-list .vl-hd .order-tab li.on
  border-color var(--c-accent)
  color var(--c-accent)

.vd-list-cnt
  padding 0 10px
  border-radius 4px
  background-color var(--c-background) !important

.video-floor-m .storey-box .v-list
.vd-list.mod-3
  display -ms-flexbox
  display flex
  -ms-flex-line-pack justify
  align-content flex-start
  -ms-flex-wrap wrap
  flex-wrap wrap
  -ms-flex-pack justify
  justify-content center
  width 100%
  height auto !important

.mod-3 li
  float none
  flex 18%
  margin 1%
  padding 0

.mod-1 li
  display flex

.mod-1 .r
  flex 1

.mod-3 .l-item
  width 100%
  height auto
  border 0

.tag-list-cnt
  overflow visible

.tag-list
  overflow hidden scroll
  max-height 68px