/* 音乐plus */
.international-footer
.home-ad
  display none !important

.main-menu .search-bar
  background-color var(--c-hover) !important

.main-menu .search-bar input
  background-color transparent !important

.storey-title .l-con
  color var(--c-title) !important

.main-menu .tabs a.active
.main-menu .tabs a:hover
  color var(--c-accent) !important

.main-menu .search-bar
.article-card
  border-color var(--c-border) !important

.home-slide .trigger img.on
  border-color var(--c-accent) !important

.main-menu .tabs
.main-menu .tabs a.active
  border 0 !important

.main-menu .search-bar button
  position initial

.home-video .video-list .video-card-common
.video-card-common
  margin-left 8px !important
  margin-right 0 !important

.main-menu .search-bar button
.select-type .toggle
  border 0 !important
  background-color transparent !important

  &::after
    content none !important