/* 音乐plus */
.international-footer
.home-ad
  display none !important

.main-menu .search-bar
  background-color var(--c-hover) !important

.main-menu .search-bar input
.international-header .mini-type
  background-color transparent !important

.storey-title .l-con
  color var(--c-title) !important

.video-card-reco .info-box .info p
.video-card-reco .info-box .info p span
.video-card-common .card-pic a .count div span
  color var(--c-white) !important

.main-menu .tabs a.active
.main-menu .tabs a:hover
  color var(--c-accent) !important

.main-menu .search-bar
.article-card
.home-slide .trigger img
  border-color var(--c-border) !important

.home-slide .trigger img.on
  border-color var(--c-accent) !important

.main-menu .tabs
.main-menu .tabs a.active
.international-header .mini-type
.international-header .mini-type .nav-search #nav_searchform
.van-popover .mini-type .nav-search #nav_searchform
  border 0 !important

.international-header .mini-type
  box-shadow none !important

.main-menu .search-bar button
  position initial

.home-slide
  margin-top -56px

.home-video .video-list .video-card-common
.video-card-common
  margin-left 8px !important
  margin-right 0 !important

.main-menu .search-bar button
.select-type .toggle
.storey-title .exchange-btn .btn
  border-color var(--c-border) !important
  background-color transparent !important
  color var(--c-text) !important

  &:hover
    background-color var(--c-hover) !important

  &::after
    content none !important