// 搜索界面样式
.m-footer
.m-search .logo
.m-con-r
  display none

.wbs-pic .m-wrap
  background-color var(--c-background)

.m-search .searchbox input
.m-adv-search dd [type=text]
.m-note
.m-sub-nav
.m-filtertab
.m-region li a:hover
.wbs-pic .pic
  background-color var(--c-hover)

.s-hr
  background-color var(--c-border)

.m-main-nav
.m-page
.m-error
  background-color transparent

.m-region .top dd i
  background-color var(--c-accent)

.m-sub-nav li a.cur
  background-image none

.m-gotop a:hover
  color var(--c-white) !important

.m-main-nav a.cur
.m-sub-nav li a.cur
  color var(--c-accent) !important

.m-search .searchbox input
.m-adv-search dd [type=text]
.m-layer .header
.m-page .prev
.m-page .next
.m-region .top
  border-color var(--c-border)

.m-main-nav a.cur
.m-main-nav a:hover
.wbs-pic .pic:hover
  border-color var(--c-accent)

.m-layer
.s-brt1
.card-user-b .info p span
.m-page
.m-error
.m-filtertab
.m-filtertab .filter-list > li
.wbs-pic .pic
  border 0

.card-user-b
.card-wrap
.wbs-pic .m-wrap
  border-radius 4px

.card-feed .from
.card-feed .from a
  font-size 0

.card-feed .from a:nth-child(1)
  font-size 12px

.m-main-nav li
  margin 0 4.9%

.wbs-pic .m-wrap
  padding 14px

.m-con-l
  width 100%

.m-main
  width 900px

.m-gotop
  opacity 1

.m-filtertab .filter-list > li > span > ul
  z-index 1

.m-main-nav li a
  transition all 0.3s ease-in-out !important
