/* 个人中心 */
.top-header
.security-title
#securityOutLink
.bili-footer
.home-level-mask-icon
.security-left .security-icon
.security-right-title
.big-name-record-hover-icon
.pendant-mail-margin h3
.pendant-mail-margin .vip-description
.face-nav>.active:after
.top_bg
.official-header
  display none !important

.continuity-content
.common-dialog-content
.pay-dialog-content
.line-circle
.img-clip-wrap .container-bg
.security-right
.finish-status
  background-color var(--c-background) !important

.security-left .security-list.on
.security-ul .security-list:hover
.big-more-item-item:hover .big-more-item-txt
.points-pendant-item:hover
.pendant-list li:hover
.identmagBot
.img-clip-wrap .first-change-lb
.coupon-content
.finish-status .finish-box .box-content
.pendant-vip-box .pendant-list li:hover>div
  background-color var(--c-hover) !important

.border-line
  background-color var(--c-border) !important

.re-exp-getexp
.black-time em
.per-left-line
.per-right-line
.organ-left-line
.organ-right-line
.security_content
.coin-inner
.indentify-page
.pendant-vip-box .pendant-list li
.pendant-vip-box .pendant-list li:hover
  background-color transparent !important

.home-top-level-upgo
.coin-text-p .coin-i
.identify-component .identify-head:before
  background-color var(--c-accent) !important

.home-top-msg-name
.home-level-tips
.home-dialy-task-title
.h-reward-info
.security-nav-name
.security-nav-name span
.big-user-name
.continuity-header
.tabs-nav-item span
.points-exchange-title
.points-how-title
.points-pendant-title p
.points-info p
.points-record-title
.black-name
.coin-nav-item
.coin-index-right-title
.coin-record .coin-title
.record-nav-item
.invitation-info-title
.pendant-nav li div
.official-title
.finish-status .finish-box .box-title
  color var(--c-title) !important

.now-num
.max-num
.black-time
.coin-rest-info-inco
.pre-info
.attention
  color var(--c-text) !important

.official-home-warapper .card-name
.official-home-warapper .card-info
  color var(--c-white) !important

.home-top-msg-name-color
.big-user-pick-name
.active .tabs-normal-txt
.tabs-nav .active span
.points-header-box .points-num
.points-num
.el-pager li.active
.face-nav>.active a
.coin-num
.my-moral i
li.security-list.on span
li.security-list:hover span
.security-list .child-list li a.bg-blue span
.security-list .child-list li a:hover span
  color var(--c-accent) !important

.index-info
.h-line
.home-daily-task-warp
.home-mp
.big-name-warp
.big-privilege-warp
.big-watch-wrapper
.continuity-header
.tabs-normal-txt
.big-continuity-card-item
.big-game-gift-warp
.big-pendant-warp
.tabs-nav
.points-faq-line
.line-circle
.points-pendant-warp
.points-how-warp
.points-record-warp
.user-setting-warp .padding-dom
.tool-container
.face-nav
.black-list
.coin-nav
.table-wrapper
.record-nav
.main-content-title
.integrity-table-wrapper
.record-exp-title
.record-exp-table-wrapper
.invitation-top-warp
.invtable
.identmag
.identmagTop
.dialog-title
.modal-head
.img-clip-wrap .container-bg
.img-clip-wrap .first-change-lb
.bcoin-wrapper
.vip-package-wrapper
.game-package-item
.game-package-wrapper
.title-right-link
.finish-status .finish-box
.finish-status .finish-box .box-title
  border-color var(--c-border) !important

.active .tabs-normal-txt
.tabs-nav .active
.title-right-link:hover
.face-nav>.active
  border-color var(--c-accent) !important

.h-list-item
.h-list-icon
.big-more-tool-btn
.indentify-page
.identify-component .identify-head
.pendant-list li>div
  border 0 !important

.pendant-list li:hover>div
  box-shadow none !important

.coupon-wrapper
  background-image none

.security-nav-name
  margin 0 !important

.security_content
  margin-bottom 0

.finish-status
  width auto

.indentify-page
  min-height auto !important

.security_content
.security-right
.finish-status
  border 0
  border-radius 4px
  box-shadow none

.home-top-level-mask-warp
.big-name-record-hover
.el-picker-panel
  border-color var(--c-border) !important
  box-shadow none !important
  background-color var(--c-background) !important

.home-top-level-head
  background-color var(--c-accent) !important
  background-image none !important
  color var(--c-white) !important

.security-ul
  margin-top 100px
  border 0 !important

.h-list-item:hover
  box-shadow none !important
  background-color var(--c-hover) !important

.security-list
  border-radius 10px
  text-align center
  transition background-color 0.3s ease-in-out !important

.big-more-item-item
  background-color var(--c-background) !important
  transition background-color 0.3s ease-in-out !important

.big-member-btn
.go-movie
.tool-change-face
.invitation-btn
.coupon-content-con .coupon-btn
  position absolute !important

.tabs-nav .active
  background-image none !important

.points-header-warp
  height auto
  background-image none

.points-box
  border 0
  box-shadow none

.points-pendant-item
.pendant-list li
  border 0 !important
  transition background-color 0.3s ease-in-out !important

.el-pager li
  border 0 !important
  background-color var(--c-background) !important

.el-input__icon
  line-height 30px

.coin-nav .on
.record-nav .on
  border-color var(--c-accent) !important
  background-image none !important
  color var(--c-accent) !important