/* 观看历史 */
.bili-footer
  display: none !important

.history-list .cover-contain .progress-c
  background-color: var(--c-hover) !important

.history-list .r-info
  background-color transparent !important

.history-list .cover-contain .progress
  background-color: var(--c-accent) !important

.history-wrap .b-head .b-head-t
  color var(--c-title) !important

.nav-user-center .user-con .item .name
  color var(--c-white) !important

.history-list .l-info
.history-list .r-info .r-txt
  border-color: var(--c-border) !important

.history-list .l-info .lastplay-time .history-red-round
  border-left-color var(--c-border) !important

.history-list .cover-contain .progress-c
.history-list .cover-contain .progress
  height 2px

.go-top-m .go-top
  background-position: -714px -72px !important

/* 侧边时间轴 */
.history-wrap .time-label
  border-color var(--c-border)
  color var(--c-text) !important
  transition all 0.3s ease-in-out !important

  &::before
    border-left-color var(--c-background)

  &::after
    border-left-color var(--c-border)
    transition all 0.3s ease-in-out !important

  &:hover
    border-color var(--c-accent) !important
    color var(--c-accent) !important

    &::after
      border-left-color var(--c-accent)

  &.active
    border-color var(--c-accent) !important
    background-color var(--c-accent) !important
    color var(--c-white) !important

    &::before
    &::after
      border-left-color var(--c-accent)

/* 导航搜索 */
.bili-header-m .nav-search-box
.international-header .nav-search-box
	position absolute
	top 100px
	left 50%
	transform translateX(-50%)

.bili-header-m .nav-search
.international-header .nav-search
	margin 0 auto
	width 520px

.bili-header-m .nav-search #nav_searchform
.international-header .nav-search #nav_searchform
	padding 0 60px 0 20px
	border 0
	border-radius 25px
	background-color rgba(0, 0, 0, 0.4) !important
	overflow hidden

.bili-header-m .nav-search .nav-search-keyword
.international-header .nav-search .nav-search-keyword
	height 50px
	font-size 16px
	color var(--c-white)

.bili-header-m .nav-search .nav-search-submit
.international-header .nav-search .nav-search-submit
	top 0
	right 20px
	font-size 24px
	color var(--c-white) !important
	line-height 50px

.bili-header-m .nav-search .nav-search-btn
.international-header .nav-search .nav-search-btn
	width 60px
	height 50px
	border-radius 0 25px 25px 0
	background-color rgba(0, 0, 0, 0.6) !important
