@-moz-document url-prefix("https://account.bilibili.com/") {
	/* 个人中心样式 */
  @import 'base'
}
@-moz-document url-prefix("https://account.bilibili.com/site/") {
  /* 我的勋章与实名认证 */
  @import 'site'
}
@-moz-document url-prefix("https://www.bilibili.com/account/history") {
  /* 观看历史 */
  @import 'history'
}