/* 我的勋章与实名认证 */
.top_bg
.security-list .first-level
.sr-t
.f-list-hover
.security-list li a i
  display none !important

.d-outer
.identification-warning
.infoinputBox select
  background-color var(--c-background)

.face-g-list .mp-block .right ul li .strip
  background-color var(--c-border)

.security-list .child-list li a:hover
  background-color var(--c-hover)

.face-g-list .mp-block .right ul li.reach .strip
  background-color var(--c-accent)

.face-g-list .face-g-block .face-g-block-title span
.security-list li a span
.d-title
.u-info .u-name
.identification-atp
  color var(--c-title) !important

.current .tab-btn-link
.current .tab-btn-link:hover
  color var(--c-white) !important

.tabs-mk2
.face-g-list .face-g-block
.face-g-list .mp-block .right ul li.base .round
.d-title
.identification-notice
.infoinputBox select
  border-color var(--c-border)

.face-g-list .mp-block .left .mp-img
.security-list .child-list
.security-list .first-level
.face-g-list#my-g-list .face-g-block .my-mp-block
.face-g-list#my-g-list .face-g-block .my-mp-block .mp-info
.wear-list li
.hold-list
.hold-list-width.details-list-t
.upbuttonBox
  border 0

.security-list li a span
  margin 0

.security-right
  padding 0

#mp-mine-header
#mp-mine-header.active
  background-image none !important

.d-outer
  box-shadow none

.mp-mine-takedown
  position absolute !important

.security-list .child-list
  margin-top 100px

.module-box .btn-right
  vertical-align middle !important

.security-list .child-list li a
  text-align center
  transition background-color 0.3s ease-in-out !important

.bg-blue
  border-radius 4px
  background-color var(--c-hover) !important
  color var(--c-title) !important

.tab-mk2.active
  background-image none !important
  color var(--c-accent) !important

.face-g-list .mp-block .left .tips
.face-g-list .mp-block .right ul li .mp-tips
  border-color var(--c-border) !important
  box-shadow none !important
  background-color var(--c-background) !important
  color var(--c-text) !important

.face-g-list#my-g-list .face-g-block .my-mp-block
  transition background-color 0.3s ease-in-out !important

.face-g-list#my-g-list .face-g-block .my-mp-block .mp-info .is-activated::before
  content '已装备'

.face-g-list#my-g-list .face-g-block .my-mp-block:hover
  box-shadow none
  background-color var(--c-hover)

table.d-border tbody tr:nth-child(odd) td
  background-color var(--c-background) !important