/* 搜索界面 */
.international-footer
  display none

.page-wrap .pager
.search-wrap .search-block .input-wrap
.error-wrap
  background-color var(--c-background)

#navigator .v-switcher-header-anchor
  background-color var(--c-accent)

#navigator .v-switcher-header-item a
  color var(--c-title) !important

#navigator .v-switcher-header-item a span
.bangumi-item .right-info .intros .desc
.user-item .desc
  color var(--c-text) !important

#navigator .v-switcher-header-item .router-link-active
.bangumi-item .right-info .score .score-num
  color var(--c-accent) !important

.filter-wrap .filter-item.active a
.video-item .so-imgTag_rb
  color var(--c-white) !important

.filter-wrap
.video-item.matrix
#navigator .v-switcher-header-item
#all-list .mixin-list ul:not(:last-child)
.video-item.list
.user-item
.photo-item
.error-wrap
.article-item
.bangumi-item
  border-color var(--c-border)

.bangumi-item .right-info .headline .bangumi-label
.video-item.list .type
  border 0

.search-wrap .search-block .input-wrap input
  border 1px solid var(--c-border)

em.keyword
  background-color transparent !important
  color var(--c-accent) !important

.live-user-item
  border 1px solid var(--c-border)
  box-shadow none