/* 搜索导航 */
.fixed-top
  background-color var(--c-bg-header)
  backdrop-filter blur(5px)

.suggest-wrap .vt-text:hover
  background-color var(--c-hover) !important

.fixed-top .search-block .input-wrap
  height auto

.fixed-top .search-block .input-wrap input
  width: 281px