/* ==UserStyle==
@name           weibo-dark
@namespace      tolking-usercss
@version        0.0.1
@description    一个简化的新浪微博页面样式，自适应黑暗模式
@author         tolking <qw13131wang@gmail.com> (https://ououe.com)
@homepageURL		https://github.com/tolking/usercss/tree/master/weibo-dark
@supportURL			https://github.com/tolking/usercss/issues
@updateURL			https://tolking.github.io/usercss/weibo-dark/index.user.css
@license				MIT
@preprocessor		stylus

==/UserStyle== */
@-moz-document domain("weibo.com") {
  /*!需去掉下面注释*/
  /*!if theme == auto {
    @media(prefers-color-scheme:dark) {*/
			@import 'palette'
		/*!}
	} else {*/
    @import 'palette'
  /*!}*/
}