body
html
  background-color var(--frame-background)

.morepop_action_bk3Fq
.woo-button-main.white
  color var(--w-main)

.Feed_retweet_JqZJb
  background-color var(--vote-skin-bg-o)

.Index_right_box_1-rX8
  background-color var(--w-color-light)

.ProfileHeader_tag_2Ku6K
  background-color var(--card-hover-color)

.Index_title_3W-Ol
  color var(--c-main)

.Bar_main_R1N5v
.LeftNav_inner_tEFee
.Card_wrap_2ibWe
.title_titleBox_3bh5X
  border-color var(--w-color-gray-6) !important