// 设置界面样式
#WB_footer_public
.WB_left_nav .lev .W_ico20
.group_read .W_fr
  display none

.WB_left_nav a.lev_curr
.WB_left_nav a.lev_curr:hover
.p_bar
.S_bg5
.W_btn_arrow span
  background-color var(--c-hover)

.S_bg4
a.W_gotop:hover
.SW_fun_bg:hover
.SW_fun_bg_0_4:hover
.SW_fun_bg_0_4:active
.account_fold
.W_layer .title
.B_person_info .profile_tag .tag_edit input
.B_weibo404 .W_main .W_error_bg
  background-color transparent

.p_bar_inner
  background-color var(--c-accent) !important

.W_miniblog
.S_profile .W_miniblog
.W_miniblog_fb
.W_main
.W_btn_a:hover
.W_btn_b:hover
.W_btn_d:hover
.W_btn_a:hover span
.W_btn_b:hover span
.W_btn_d:hover span
.W_btn_arrow
  background-image none !important

.group_read .title
  color var(--c-title) !important

.WB_left_nav a.lev_curr
  color var(--c-accent) !important

.group_read .sort
.group_read .title
.p_bar
.W_btn_arrow span
.border_line
.account_unfold .unfold_left
.account_unfold .unfold_right
  border-color var(--c-border)

.account_fold
.W_btn_a:hover span
.W_btn_d:hover span
.W_btn_b:hover span
.W_btn_b span
.W_btn_a span
.W_btn_a_disable span
.W_btn_b span
.W_btn_b_disable span
.W_btn_c span
.W_btn_c_disable span
.W_btn_d span
.W_btn_d_disable span
.W_btn_v span
.W_btn_v_disable span
  border 0

.W_btn_arrow span
  border-left 1px solid var(--c-border)

.W_input
.W_inputStp
.W_input_focus
.W_input:focus
.W_inputStp:focus
  box-shadow none

.acc_form .btn_item .W_btn_a
.acc_form .btn_item .W_btn_b
  vertical-align middle

.W_btn_b:hover
  vertical-align baseline

.WB_left_nav .level_1_Box .lev a
  margin-bottom 6px

.WB_left_nav
  padding-top 60px

.WB_left_nav .W_main_l
  width auto

.W_main
  width 1160px

.W_main_l
  width 240px

.W_main_a
  margin 0 0 0 16px
  width 900px

.W_follow_bg
  padding 20px
  border-radius 4px
  background-color var(--c-background)