/* 内容主体 */
.gg-window
.live-tabs
.pgc-rank
.rank-list
.manga-rank
.van-popper-channel .popper__arrow
	display none !important

.van-popover .sub-item a:hover
.gg-carousel .more
	background-color var(--c-hover)

.gg-carousel .gg-icon
	background-color transparent !important

.video-card-common .ex-up
.video-card-common .up
.article-card .r-con .up
.live-card .up .txt .tag
.time-line-card .txt .update .published
.manga-panel .manga-list-box .manga-card .manga-tag
.international-footer .link-box .link-item.link-c .bili-footer-font
.international-footer .link-box .link-item.link-c p
	color var(--c-text) !important

.video-card-reco .info-box .info .title
.video-card-common .count span
.live-card .count
.home-slide .item .title
.video-card-reco .info-box .info .up
.video-card-reco .info-box .info .play
.gg-carousel .more
	color var(--c-white) !important

.first-screen
	margin-top 40px

.space-between
	justify-content center

.card-list
.extension
manga-panel
	width 100%

.zone-list-box
.manga-panel .manga-list-box
	justify-content center
	width 100% !important
	height 480px !important

#bili_anime .time-line .zone-list-box
#bili_guochuang .time-line .zone-list-box
	max-height 180px

#bili_anime .card-list .zone-list-box
#bili_guochuang .card-list .zone-list-box
	height 465px !important

#bili_live .zone-list-box
	height 465px !important

#bili_read .zone-list-box
	height 238px !important

#bili_manga .manga-panel .manga-list-box
	height 843px !important

#bili_report_spe_rec .zone-list-box
	height auto !important

@media screen and (max-width: 1654px)
	.b-footer-wrap .zone-list-box
	.b-wrap .zone-list-box
	.b-footer-wrap .extension
	.b-footer-wrap .manga-list-box
	.b-wrap .manga-list-box
		width 100% !important
		height 440px !important

	.b-footer-wrap .zone-list-box .live-card:nth-child(n+9)
	.b-footer-wrap .zone-list-box .video-card-common:nth-child(n+9)
	.b-wrap .zone-list-box .live-card:nth-child(n+9)
	.b-wrap .zone-list-box .video-card-common:nth-child(n+9)
	.b-footer-wrap .extension .video-card-common:nth-child(n+5)
	.b-wrap .extension .video-card-common:nth-child(n+5)
		display block

	.video-card-common .card-pic
		height 124px !important

	.b-footer-wrap .manga-list-box .manga-card > img
	.b-wrap .manga-list-box .manga-card > img
	.b-wrap .extension
		width 100% !important
		height auto !important

	.b-footer-wrap .zone-list-box .article-card
	.b-wrap .zone-list-box .article-card
		width 250px

	#bili_manga .manga-panel .manga-list-box
		height 748px !important

	#bili_live .zone-list-box
		height 455px !important

	#bili_anime .card-list .zone-list-box
	#bili_guochuang .card-list .zone-list-box
		max-height 400px

	#bili_read .zone-list-box
		height 228px !important

@media screen and (max-width: 1438px)
	.b-footer-wrap .zone-list-box
	.b-wrap .zone-list-box
	.b-footer-wrap .extension
	.b-footer-wrap .manga-list-box
	.b-wrap .manga-list-box
		width 100% !important
		height 395px !important

	.b-footer-wrap .manga-list-box .manga-card:nth-child(n+9)
	.b-wrap .manga-list-box .manga-card:nth-child(n+9)
		display block

	.b-wrap .extension
		width 100% !important
		height auto !important

	.video-card-common .card-pic
		height 105px !important

	#bili_live .zone-list-box
		height 380px !important

	#bili_anime .card-list .zone-list-box
	#bili_guochuang .card-list .zone-list-box
		max-height 350px

	#bili_manga .manga-panel .manga-list-box
		height 648px !important

	#bili_read .zone-list-box .article-card:nth-child(n+7)
		display none

.gg-carousel
	margin-right 10px

.video-card-common
.live-card
.manga-panel .manga-list-box .manga-card
	flex 18%
	margin 1%

.video-card-common .card-pic
.live-card .pic
	height 140px

.exchange-btn .btn
.time-line .tl-link
	margin-right 20px
	width auto
	border 0
	background-color transparent !important
	font-size 0

	&::after
		content none

.exchange-btn .btn:hover
.time-line .tl-link
.time-line .tl-link:hover
	background-color transparent

.exchange-btn .btn-change .bilifont
.time-line .tl-link .bilifont
	font-size 30px
	color var(--c-accent)

.live-card .up .txt
	margin-left 20px
	flex 1

.time-line-card
	margin 0 10px 24px
	width 258px

.time-line-card .txt
	width 170px

.s-rec
	height auto

.manga-panel .manga-list-box .manga-card > img
	width 100%
	height auto

.time-line .zone-list-box .item
	margin 0 10px 24px

.article-card
	flex 20%
	margin 1%

/* 侧边导航 */
.elevator .list-box
	border-color var(--c-border)
	background-color var(--c-background)

.elevator .list-box .item
	background-color var(--c-background)

.elevator .ear
	color var(--c-border)

.elevator .list-box .item.sort
.elevator .list-box .item.back-top
	border-color var(--c-border)

.elevator .bg23
	backdrop-filter blur(5px)
	background-color var(--c-hover)

/* 页脚 */
.international-footer
	border-top 1px solid var(--c-border)
	background-color var(--c-background)

.international-footer .link-box .link-item
	border-color var(--c-border)