/* 内容主体 */
.gg-window
.bypb-window
.live-tabs
.pgc-rank .pgc-rank-wrap
.rank-list .rank-wrap
.manga-rank .manga-rank-wrap
.ifmt
.video-card-common .title .live i
	display none !important

.van-popover .sub-item a:hover
.gg-carousel .more
	background-color var(--c-hover)

.gg-carousel .gg-icon
.live-card .up .txt .tag
	background-color transparent !important

.video-card-common .ex-up
.video-card-common .up
.article-card .r-con .up
.live-card .up .txt .tag
.time-line-card .txt .update .published
.manga-panel .manga-list-box .manga-card .manga-tag
.international-footer .link-box .link-item.link-c .bili-footer-font
.international-footer .link-box .link-item.link-c p
	color var(--c-text) !important

.video-card-reco .info-box .info .title
.video-card-common .count span
.live-card .count
.home-slide .item .title
.video-card-reco .info-box .info .up
.video-card-reco .info-box .info .play
.gg-carousel .more
	color var(--c-white) !important

.time-line .tab-switch .tab-switch-item.on
.time-line .tab-switch .tab-switch-item:hover
.manga-panel .tab-switch .tab-switch-item.on
.manga-panel .tab-switch .tab-switch-item:hover
	color var(--c-accent) !important

.time-line .tab-switch .tab-switch-item.on
.manga-panel .tab-switch .tab-switch-item.on
	border-color var(--c-accent) !important

.first-screen
	margin-top 40px

#bili_anime .time-line .zone-list-box
#bili_guochuang .time-line .zone-list-box
	padding 10px

.space-between
	position relative
	justify-content center

.video-card-reco:hover .info-box:before
	background-color var(--c-bg-header)
	backdrop-filter blur(5px)

.card-list
.extension
.manga-panel
	width 100%

.guochuang .r-con
	width auto !important

.focus-carousel
.article-card .pic
	margin-right 10px

.extension .ext-box
	border-radius 4px
	background-color var(--c-background)

.zone-list-box
.manga-panel .manga-list-box
	justify-content center
	width 100% !important
	height 495px !important
	border-radius 4px
	background-color var(--c-background)

#bili_anime .time-line .zone-list-box
#bili_guochuang .time-line .zone-list-box
	max-height 200px

#bili_anime .card-list .zone-list-box
	height 460px !important

#bili_live .zone-list-box
	height 495px !important

#bili_read .zone-list-box
	height 245px !important

#bili_manga .manga-panel .manga-list-box
	height 812px !important

#bili_report_spe_rec .zone-list-box
	height auto !important

@media screen and (max-width: 1870px)
	#bili_report_spe_rec .zone-list-box .video-card-common:nth-child(n+6)
		display none

	.video-card-common
	.live-card
	.manga-panel .manga-list-box .manga-card
		flex 18% !important

	.b-footer-wrap .extension
	.b-wrap .extension
		width 100%

	.zone-list-box
	.manga-panel .manga-list-box
		height 480px !important

	#bili_anime .time-line .zone-list-box
	#bili_guochuang .time-line .zone-list-box
		max-height 180px

	#bili_anime .card-list .zone-list-box
		height 465px !important

	#bili_live .zone-list-box
		height 485px !important

	#bili_read .zone-list-box
		height 238px !important

	#bili_manga .manga-panel .manga-list-box
		height 843px !important

@media screen and (max-width: 1654px)
	.b-footer-wrap .zone-list-box
	.b-wrap .zone-list-box
	.b-footer-wrap .extension
	.b-footer-wrap .manga-list-box
	.b-wrap .manga-list-box
		width 100% !important
		height 440px !important

	.b-footer-wrap .zone-list-box .live-card:nth-child(n+9)
	.b-footer-wrap .zone-list-box .video-card-common:nth-child(n+9)
	.b-wrap .zone-list-box .live-card:nth-child(n+9)
	.b-wrap .zone-list-box .video-card-common:nth-child(n+9)
	.b-footer-wrap .extension .video-card-common:nth-child(n+5)
	.b-wrap .extension .video-card-common:nth-child(n+5)
		display block

	.b-footer-wrap .extension .video-card-common:nth-child(n+6)
	.b-wrap .extension .video-card-common:nth-child(n+6)
		display none

	.video-card-common .card-pic
		height 124px !important

	.b-footer-wrap .manga-list-box .manga-card > img
	.b-wrap .manga-list-box .manga-card > img
	.b-wrap .extension
		width 100% !important
		height auto !important

	.b-footer-wrap .zone-list-box .article-card
	.b-wrap .zone-list-box .article-card
		width 250px

	#bili_manga .manga-panel .manga-list-box
		height 748px !important

	#bili_live .zone-list-box
		height 477px !important

	#bili_anime .card-list .zone-list-box
		max-height 400px

	#bili_read .zone-list-box
		height 228px !important

@media screen and (max-width: 1438px)
	.b-footer-wrap .zone-list-box
	.b-wrap .zone-list-box
	.b-footer-wrap .extension
	.b-footer-wrap .manga-list-box
	.b-wrap .manga-list-box
		width 100% !important
		height 395px !important

	.b-footer-wrap .manga-list-box .manga-card:nth-child(n+9)
	.b-wrap .manga-list-box .manga-card:nth-child(n+9)
		display block

	.b-wrap .extension
		width 100% !important
		height auto !important

	.video-card-common .card-pic
		height 105px !important

	#bili_live .zone-list-box
		height 380px !important

	#bili_anime .card-list .zone-list-box
		max-height 350px

	#bili_manga .manga-panel .manga-list-box
		height 648px !important

	#bili_read .zone-list-box .article-card:nth-child(n+7)
		display none

.gg-carousel
	margin-right 10px

.video-card-common
.live-card
.manga-panel .manga-list-box .manga-card
	flex 14%
	margin 1%

.video-card-common .card-pic
.live-card .pic
	height 140px

.exchange-btn .btn
.time-line .tl-link
	margin-right 20px
	width auto
	border 0
	background-color transparent !important
	font-size 0

	&::after
		content none

.exchange-btn .btn:hover
.time-line .tl-link
.time-line .tl-link:hover
	background-color transparent

.exchange-btn .btn-change .bilifont
.time-line .tl-link .bilifont
	font-size 30px
	color var(--c-accent)

.live-card .up .txt
	margin-left 20px
	flex 1

.time-line-card
	margin 0 10px 24px
	width 258px

.time-line-card .txt
	width 170px

.s-rec
	height auto

.manga-panel .manga-list-box .manga-card > img
	width 100%
	height auto

.time-line .zone-list-box .item
	margin 10px 10px 24px

.article-card
	flex 20%
	margin 1%

.article-card .r-con .count span
	margin-right 20px
	width auto

/* 侧边导航 */
.elevator .list-box
	border-color var(--c-border)
	background-color var(--c-background)

.elevator .list-box .item
	background-color var(--c-background)

.elevator .ear
	color var(--c-border)

.elevator .list-box .item.sort
.elevator .list-box .item.back-top
	border-color var(--c-border)

.elevator .bg23
	backdrop-filter blur(5px)
	background-color var(--c-hover)

/* 排行榜图标 */
.pgc-rank
.rank-list
.b-wrap .manga-rank
	position absolute
	top 0
	right 70px
	width auto !important

	.rank-header
		.name
		.tab-switch
			display none

		.more
			display flex
			align-items center
			padding 0
			width 26px
			height 26px
			border 0
			font-size 0

			&:hover
				background-color transparent

				&::before
					height 6px

				&::after
					height 24px

				.bilifont::before
					height 12px

				.bilifont::after
					height 18px

			&::before
			&::after
			.bilifont::before
			.bilifont::after
				content ''
				display inline-block
				margin-right 5px
				width 2px
				border-radius 2px
				background-color var(--c-accent)
				transition height 0.3s ease-in-out !important

			&::before
				height 10px

			&::after
				margin-right 0
				height 4px

			.bilifont
				display flex
				align-items center

				&::before
					height 24px

				&::after
					height 14px

/* 页脚 */
.international-footer
	display block !important
	border-top 1px solid var(--c-border)
	background-color var(--c-background)

.international-footer .link-box .link-item
	border-color var(--c-border)