/* 头部 */
.mini-header
	background var(--c-bg-header)
	backdrop-filter blur(5px)

/* 搜索框 */
.international-home .bili-header-m .nav-search-box
.international-home .international-header .nav-search-box
	position absolute
	top 100px
	left 50%
	transform translateX(-50%)

.international-home .bili-header-m .nav-search
.international-home .international-header .nav-search
	margin 0 auto
	width 520px
	border-radius 25px
	overflow hidden

.international-home .bili-header-m .nav-search #nav_searchform
.international-home .international-header .nav-search #nav_searchform
	padding 0 60px 0 20px
	border 0
	background rgba(0, 0, 0, 0.4)

.international-home .bili-header-m .nav-search .nav-search-keyword
.international-home .international-header .nav-search .nav-search-keyword
	height 50px
	font-size 16px
	color var(--c-white)

.international-home .bili-header-m .nav-search .nav-search-keyword::-webkit-input-placeholder
.international-header .nav-search .nav-search-keyword::-webkit-input-placeholder
	color #d2d2d2

.international-home .bili-header-m .nav-search .nav-search-keyword::-moz-placeholder
.international-header .nav-search .nav-search-keyword::-moz-placeholder
	color #d2d2d2

.international-home .bili-header-m .nav-search .nav-search-keyword:focus
.international-header .nav-search .nav-search-keyword:focus
	color var(--c-white)

.international-home .bili-header-m .nav-search .nav-search-submit
.international-home .international-header .nav-search .nav-search-submit
	top 0
	right 20px
	font-size 24px
	color var(--c-white)
	line-height 50px

.international-home .bili-header-m .nav-search .nav-search-btn
.international-home .international-header .nav-search .nav-search-btn
	width 60px
	height 50px
	background rgba(0, 0, 0, 0.6)

.international-home .bili-header-m .nav-search .nav-search-btn:hover
.international-home .international-header .nav-search .nav-search-btn:hover
	color var(--c-accent)

.bilibili-search-suggest
.bilibili-search-history
	border-color var(--c-border)
	background var(--c-background)

.bilibili-search-suggest .suggest-item.focus
.bilibili-search-suggest .suggest-item:hover
.bilibili-search-history .history-item.focus
.bilibili-search-history .history-item:hover
	background-color var(--c-hover)

.bilibili-search-suggest .suggest-item a
.bilibili-search-history .history-item a
.bilibili-search-suggest .suggest-item a:hover
.bilibili-search-history .history-item a:hover
	color var(--c-text)

.bilibili-search-suggest .suggest-item .suggest_high_light
	color var(--c-accent)

/* 页眉图片 */
.bili-banner
	max-height 220px
	background-color var(--c-background) !important

.bili-banner .taper-line
	background none !important

.bili-banner
	height 14vw !important

/* 页眉导航 */
.channel-menu-itnl
	flex-direction row
	flex-wrap nowrap
	height auto

.channel-menu-itnl span
	flex 1

.van-popper-channel .sub-item
	max-height none

.channel-menu-itnl .item
	height auto

.channel-menu-itnl .item .name
	margin 0 auto
	font-size 16px

.channel-menu-itnl .item .name em
	display block
	margin 2px auto 0
	background-color var(--c-accent)

.channel-menu-itnl span:last-child .item .name
	margin-top 2px