/* 排行榜 */
.more-data i
  display none !important

.rank-tab-wrap
  background-color var(--c-hover) !important

.rank-list-head .rank_tips
  background-color transparent !important

.rank-item .num
  color var(--c-title) !important

.rank-item .content .info .pts
  color var(--c-text) !important

.rank-menu li.active .text
.rank-menu li:hover .text
.rank-tab-wrap .rank-tab .active
.rank-tab-wrap .rank-tab li:hover
.rank-item .content .info .pts div
.rank-item .content .info:hover .title
.other strong
.rank-main-container a:hover
  color var(--c-accent) !important

.rank-item
.other
  border-color var(--c-border) !important

.rank-menu li.active
  border-color var(--c-accent) !important

.rank-item:last-child
  border 0

.rank-item:hover
  box-shadow none

.go-top-m .go-top
  background-position -714px -72px

.rank-list-wrap .rank-list
  border-radius 4px
  background-color var(--c-background)

.main-inner .rank-container
  margin-bottom 0
  padding-bottom 40px