/* 主体 */
.tag-panel
.home-page .home-container .home-content .right-panel
.user-panel .content .user-pic
.userinfo-wrapper
  display none !important

.tab-bar
.center-panel .section-block
.publish-panel
.user-panel
.bp-popup-panel
.emoji
.pagination
.schedule-bar
  background-color var(--c-background) !important

.core-style
.new-notice-bar
.emoji:hover
.emoji-cover.selected
.emoji-cover:hover
.bp-input .content-box
  background-color var(--c-hover) !important

.bp-input .content-box input
.bp-input .indicator
  background-color transparent !important

#app
  background none !important

.bp-popup-panel .title-ctnr .popup-title
.title-content
  color var(--c-title) !important

.core-style
  color var(--c-text) !important

.sticky-bar .bar-content .title
.sticky-bar .bar-content .f-right .message a
  color var(--c-white) !important

.tab-bar .tab .tab-text.selected
.tab-bar .tab .tab-text:hover
  color var(--c-accent) !important

.upload-image .upload-btn
.bp-input .content-box::before
.button-bar::before
  border-color var(--c-border) !important

.home-page .home-container .home-content .center-panel .section-block
.nav-item.message .i-frame
.bp-popup-panel
  border 1px solid var(--c-border) !important

.pagination
  border-top 1px solid var(--c-border) !important

.core-style
.publish-panel
  border 0 !important

.sticky-bar .bar-content .send-button
  box-shadow none !important

.home-page .home-container .home-content .center-panel
  width 900px !important

.user-panel
.user-panel .content
  height auto !important

.backdrop
  height 100vh

.user-panel .content .user-head
  left 71px !important
  width 100px !important
  height 100px !important

.user-panel .content .user-name
  display block !important
  margin 0 !important
  padding-top 170px !important
  font-size 20px !important
  text-align center !important

.toolbar .box-toggle
.bp-add-button
  background-color transparent !important
  color var(--c-text) !important

  &::after
    content none !important

  &:hover
    color var(--c-accent) !important

.static-popup.bp-arrow:before
  border-top 1px solid var(--c-border)
  border-left 1px solid var(--c-border)
  width 8px !important
  height 8px !important
  background-color var(--c-background) !important
  background-image none !important
  transform rotate(45deg)

/* header */
.sticky-bar
  background-color var(--c-bg-header) !important
  backdrop-filter blur(5px)
  box-shadow none !important