/* 主体 */
.tag-panel
.right-panel
.user-panel .content .user-pic
#app .page-container .right-container
.tab-wrap .tab-item.active:after
.live-panel
.most-viewed-panel
  display none !important

#app
.tab-bar
.center-panel .section-block
.publish-panel
.user-panel
.bp-popup-panel
.emoji
.pagination
.schedule-bar
.feed-topic .publish-panel-container
.video-topic .video-list
.row
.vote-result-comment
#bp-app
  background-color var(--c-background) !important

.core-style
.new-notice-bar
.emoji:hover
.emoji-cover.selected
.emoji-cover:hover
.bp-input .content-box
.imagesbox .boost-img
.img-content
.option-li:hover
  background-color var(--c-hover) !important

.bp-input .content-box input
.bp-input .indicator
.tab-wrap .tab-item.active
  background-color transparent !important

#app
.fixed-bg
  background-image none !important

.bp-popup-panel .title-ctnr .popup-title
.title-content
.top-header .tag-title-content .tag-title
.vote-title
.vote-user-name
.desc-title
  color var(--c-title) !important

.core-style
.backdrop .title-box .close-button
.filter-tip
.clock-text
.lottery-config .config-row
.prize-item .prize-desc
.vote-user-text
.vote-left-time
.joined-text
.choice-count-text
.share-to-dynamic
.anonymous
  color var(--c-text) !important

.sticky-bar .bar-content .title
.sticky-bar .bar-content .f-right .message a
  color var(--c-white) !important

.tab-bar .tab .tab-text.selected
.tab-bar .tab .tab-text:hover
.tab-wrap .tab-item.active
.tab-wrap .tab-item:hover
.new-notice-bar:hover .message
.joined-number
.expand-btn
  color var(--c-accent) !important

.upload-image .upload-btn
.bp-input .content-box::before
.button-bar::before
.vote-number
.option-li
  border-color var(--c-border) !important

.tab-wrap .tab-item.active
.imagesbox .boost-slider-wrap .boost-slider-border
.option-li:hover
  border-color var(--c-accent) !important

.home-page .home-container .home-content .center-panel .section-block
.nav-item.message .i-frame
.bp-popup-panel
.feed-topic .publish-panel-container
  border 1px solid var(--c-border) !important

.pagination
  border-top 1px solid var(--c-border) !important

.core-style
.publish-panel
.page-list-box .pagination
  border 0 !important

.sticky-bar .bar-content .send-button
  box-shadow none !important

.home-page .home-container .home-content .center-panel .section-block
  margin-top 40px

.home-page .home-container .home-content .center-panel
  width 900px !important

#app .page-container .center-container
  width 920px !important

.user-panel
.user-panel .content
  height auto !important

.backdrop
  height 100vh

.top-header .focus-btn
  position absolute !important

.user-panel .content .user-head
  left 71px !important
  width 100px !important
  height 100px !important

.user-panel .content .user-name
  display block !important
  margin 0 !important
  padding-top 170px !important
  font-size 20px !important
  text-align center !important

.toolbar .box-toggle
.bp-add-button
.imagesbox .boost-img .prev
.imagesbox .boost-img .next
  border 0 !important
  background-color transparent !important
  color var(--c-text) !important

  &::after
    content none !important

  &:hover
    color var(--c-accent) !important

.static-popup.bp-arrow:before
  border-top 1px solid var(--c-border)
  border-left 1px solid var(--c-border)
  width 8px !important
  height 8px !important
  background-color var(--c-background) !important
  background-image none !important
  transform rotate(45deg)

/* header */
.sticky-bar
  background-color var(--c-bg-header) !important
  backdrop-filter blur(5px)
  box-shadow none !important