// 文章样式
.B_artical .W_gotop_v2
  display none

.WB_artical .main_editor .title
  color var(--c-title) !important

.btn_bed .W_btn_b .ficon_add
  color: var(--c-text) !important

.WB_artical .PCD_pictext_i .pt_ul .pt_li
  border-color: var(--c-border)

.WB_artical .otherlist
  border 0

.artical_add_box .btn_line::before
  background-image: linear-gradient(to bottom, transparent 0%, var(--c-background) 70%);

.WB_artical
  padding: 0

.WB_artical .main_toppic
.WB_artical .WB_editor_iframe
.WB_artical .WB_editor_iframe_new
.WB_artical .WB_editor_iframe_word
.WB_artical .WB_editor_iframe_v3
  width auto

.B_artical .WB_frame
.B_artical .WB_frame #plc_main
.B_artical .WB_frame_a
.WB_artical
  width 900px

.WB_editor_iframe_new
.WB_artical .PCD_counter_b
.WB_artical .PCD_pictext_i
  padding 20px
  border-radius: 4px
  background-color: var(--c-background)

.B_artical .WB_frame #plc_main
  display block
  margin 0 auto