// 内容主体
.WB_footer .WB_footer
#v6_pl_content_biztips
#v6_pl_content_setskin
#v6_pl_rightmod_companyverifiedtips
#v6_pl_rightmod_hongbao
#v6_pl_rightmod_rank
#v6_pl_rightmod_recominfo
#v6_pl_rightmod_ads35
#v6_pl_rightmod_ads36
#v6_pl_rightmod_attfeed
#v6_trustPagelet_recom_member
#v6_pl_rightmod_noticeboard
#v6_pl_rightmod_favyoudao
#v6_pl_rightmod_helpfav
#v6_pl_rightmod_feedback
#v6_pl_rightmod_likeprofile
#v6_pl_rightmod_feedback
#v6_pl_rightmod_helpcomment
#v6_pl_ad_bigday
#v6_pl_ad_forfqy
#plc_bot .WB_footer
#plc_bot .W_fold
#WB_webchat
.send_weibo .title_area
fieldset
.WB_left_nav .lev .ico_block
.W_pages_minibtn em
.WB_tab_a .tab .b
	display none !important

.feed_pop_search.S_bg2
	background-color var(--c-background)

.WB_left_nav .lev a:hover
.WB_left_nav .lev_curr
.WB_left_nav .lev_curr:hover
.WB_left_nav .levmore .more
.send_weibo .input
.W_layer .S_bg2
.layer_faces .faces_list li:hover
.layer_menu_topic .topic_list li a:hover
.layer_menu_topic .topic_list li a.curr
.send_weibo .input_set_timer .set_timer
.send_weibo .set_timer .set_data_mod
.pc_caldr .weeks
.pc_caldr .selector .month
.pc_caldr .selector .year
.send_weibo .set_timer .sel_time
.layer_music_upload .tab_bar li.cur a
.laMed_mulist_v2 .li_inner:hover
.W_btn_l:hover
.W_input
	background-color var(--c-hover)

.WB_frame
#v6_pl_rightmod_myinfo .S_bg2
.W_person_info .cover .headpic
#v6_pl_content_publishertop .send_weibo
.W_layer .S_bg1
.W_layer blockquote
.W_layer .SW_fun_bg:hover
.W_layer .SW_fun_bg_active
.layer_faces .faces_list_hot li
.send_weibo .set_timer .set_data_mod .ipt
.layer_send_music .W_pages_minibtn .S_txt1
.W_btn_l
.S_bg2
	background-color transparent

.WB_minitab .cur_block
.pc_caldr .days li a.day
	background-color var(--c-accent)

.WB_miniblog
.W_person_info .cover
	background-image none !important

.W_layer .S_ficon
.pc_caldr .days li a strong
	color var(--c-title) !important

.W_layer .W_btn_b_disable .S_ficon
.pc_caldr .selector .month
.pc_caldr .selector .year
.send_weibo .set_timer .sel_time
	color var(--c-text) !important

.laMed_mulist_v2 .li_inner:hover span
.layer_send_music .W_pages_minibtn .S_txt1
.WB_tab_a .tab li.curr a .S_bg2
	color var(--c-accent) !important

.send_weibo .input
.send_weibo .input.clicked
.W_layer .S_line1
.W_layer .W_btn_prev
.W_layer .W_btn_next
.W_layer .W_btn_b
.W_layer .W_btn_b_disable
.W_layer .W_btn_b_disable:hover
.W_layer .W_btn_tag_cur
.W_layer .W_btn_tag_cur:hover
.layer_faces .faces_list li
.send_weibo .set_timer .set_data_mod
.pc_caldr .selector .month
.pc_caldr .selector .year
.send_weibo .set_timer .sel_time
.layer_music_upload .tab_bar
.layer_music_upload .tab_bar li
.W_input
.laMed_mulist_v2
.S_line2
.W_input
	border-color var(--c-border) !important

.layer_faces .faces_list li:hover
.W_input:focus
.W_input_focus
.feed_pop_tag .tab_cur
.feed_pop_tag .WB_tab_b .inner .tab_ul .tab_cur .ani_border
.feed_pop_tag .WB_tab_b .inner .tab_ul .tab_item .ani_border
	border-color var(--c-accent) !important


.W_btn_tag:hover .W_arrow_bor_l em
	border-color transparent var(--c-hover) transparent transparent !important

.W_btn_tag:hover .W_arrow_bor .S_line3
	border-color transparent var(--c-accent) transparent transparent !important

.unlogin_left_nav .lev_layer
	border 1px solid var(--c-border)

.user_atten li
.WB_left_nav .lev_Box
.send_weibo .input_set_timer .set_timer
	border 0 !important

.WB_left_nav .lev a
.W_input
.unlogin_left_nav .lev
.feed_pop_search
	border-radius 4px

.WB_tab_a
.WB_tab_a .tab li.S_bg2
.WB_tab_a .tab li.curr .b .b1 em i
.WB_tab_a .tab_box .fr_box
.W_input
	box-shadow none

.WB_left_nav .lev .W_new_count
	margin-right 0

#plc_main .WB_main_c
	margin-left 16px
	margin-right 0

.B_discover .WB_frame_c
.WB_main_c
.UI_scrollView .UI_scrollContent
	width 100%

.WB_frame
	width 1160px !important

.WB_main_l
	width 240px

.WB_frame #plc_main
	width 900px

.W_person_info .nameBox .name
	font-size 20px

.W_checkbox
.W_radio
	vertical-align baseline

.S_ficon_dis
a.S_ficon_dis:hover
a:hover .S_ficon_dis
	opacity 1
	cursor pointer

.W_gotop
	left 57%
	opacity 1

// 个人信息
#v6_pl_rightmod_myinfo
	position fixed
	z-index 11
	top 100px
	width 240px
	transform translateX(-100%)

.W_person_info .cover
	height auto

.W_person_info .cover .headpic
	position initial
	margin auto
	width 100px
	height 100px

.W_person_info .cover .headpic .W_face_radius
	width 100%
	height 100%

.WB_innerwrap .user_atten
	display flex
	justify-content space-between
	margin-top 40px

.W_person_info .nameBox
	height 20px
	line-height 20px

// 侧边导航
.WB_left_nav
	margin 0 auto
	padding-top 300px
	width 100px

.WB_left_nav .lev a
	text-align center

.lev_line.lev_line_v2
	margin-top 10px

.WB_left_nav .lev a
	padding 0 !important

.WB_left_nav .lev a.lev_curr
.WB_left_nav .lev_curr a
	background-color var(--c-hover)

	.levtxt
		color var(--c-accent) !important

.unlogin_left_nav .lev_Box
	position fixed !important
	top 100px !important
	width 100px !important

// 输入框
#v6_pl_content_publishertop .send_weibo
	padding 10px
	border 1px solid var(--c-border)
	border-radius 4px