// 管理中心
body
.card
.chart-group .chart .c-hd
.card.authority
.calendar .opts ul
.dropdown-list .dropdown-hd
.c-footer-root
.c-navigation-root
  background-color transparent !important

.calendar .opts ul li.on
.micro-analysis .search-wrapper input
.v-home-root .data-card .filter-wrapper .form-item .form-data .number
.c-table-root th
  background-color var(--c-hover)

.card.nav .main-nav li span.on:after
.calendar .opts ul li.on:after
  background-color var(--c-accent)

html
  background-image none !important

.card.nav li span.on
.card.nav li span:hover
.calendar .opts ul li.on
.c-navigator-root .nav.active
  color var(--c-accent) !important

.lastday ul li
.chart .c-bd.overview-group .sub-overview-chart:nth-child(2n):before
.chart .c-bd.overview-group .sub-overview-chart:nth-child(2n):after
.calendar .opts ul
.calendar .opts ul li
.chart-group .chart .c-bd .legend-chart .chart-legend
.pay-charts-tip .hd
.video-list .load-more
.video-list .load-more span:first-child
.micro-analysis .search-wrapper input
.c-navigation-root .userinfo-wrapper
.v-home-root .data-card .filter-wrapper .form-item .form-data .date-picker
.v-home-root .data-card .filter-wrapper .form-item .form-data .number
.v-home-root .data-card .page-wrapper
  border-color var(--c-border)

.c-navigator-root .nav.active
  border-color var(--c-accent)

.chart-group .chart .c-bd .ft span:hover:after
  border-bottom-color var(--c-accent)
  border-right-color var(--c-accent)

.chart-group .chart .c-bd
.chart-group .chart .c-bd .ft
.lastday ul.row-2 li:last-child
.card ul.sub-nav
.c-footer-root
  border 0

.c-footer-root
  box-shadow none

tspan
  fill var(--c-text) !important

.card.authority .btn
.pay-charts-tip .hd .btn
.micro-analysis .search-wrapper span
  position absolute

#root
  max-width none

.chart-group .chart
.v-home-root .data-card
  border-radius 4px
  box-shadow none
  background-color var(--c-background)
