// 个人微博
#Pl_Core_RecommendFeed__18
  display none

.WB_frame_a
.WB_frame_a_fix
  width 100%

.WB_timeline .current em
.WB_timeline .S_dot
.W_gotop
.PCD_tab .tb_tab .tab_link .ani_border
.WB_tab_a .tab_box_c .tab_li .ani_border
  background-color var(--c-accent)

.W_btn_d
.PCD_header .username
.PCD_header .pf_username .tlink
.PCD_header .pf_intro
.WB_timeline .current em
  color var(--c-white) !important

.PCD_tab .tb_tab .current .tab_link .t_link
.WB_tab_a .tab_box_c .tab_li:hover .ani_border
.WB_tab_a .tab_box_c .curr a
  color var(--c-accent) !important

.WB_tab_a .tab_box_c .tab .curr a
  border 0

.PCD_tab
.WB_tab_a .tab_box_c
  box-shadow none

.WB_frame_a
  margin 0

#Pl_Official_ProfileFeedNav__19 > div
  width 900px !important

.WB_frame #plc_main
  .WB_frame_b
    margin-right 0
    width 240px

  .WB_frame_c
    margin-left 16px
    width 900px

// 时间线
.WB_timeline
  left 58%

  .S
    border-left-color var(--c-accent)