/* 主体 */
.link-footer
  display none !important

.app-ctnr
.drawer-card
.canvas-card
.loading-tv
.empty-hint
.detail
  background-color var(--c-background) !important

.category
  background-color var(--c-hover) !important

ul.navigation li:after
  background-color var(--c-accent) !important

ul.navigation li span
  color var(--c-title) !important

ul.navigation li.activated span
.category li a.activated
  color var(--c-accent) !important

.category
  box-shadow none !important

.canvas-card dd .icon-contain .support
  border-color var(--c-border) !important
  background-color var(--c-background) !important

  &::after
    border-top 5px solid var(--c-background) !important

.link-navbar.white
  border-bottom 1px solid var(--c-border)

.cntr .check-all-ctn
.content li:nth-child(n+41):after
  background-image linear-gradient(180deg, transparent, var(--c-background)) !important

.search-bar-ctnr .search-bar .search-btn
.banner .btn-wrapper .btn
button.more
  background-color transparent !important

  &::after
    content none !important

.banner .btn-wrapper .btn
  border-color var(--c-hover) !important
  background-color var(--c-bg-header) !important
  backdrop-filter blur(5px)

.sidebar-canvas
  position fixed !important

.cntr .check-all
  box-shadow none !important
  background-image none !important

  &:hover
    opacity 1 !important