/* 导航 */
.link-navbar .nav-item
.shortcuts-ctnr .shortcuts-ctnr-ul .shortcut-item:last-child
  display none !important

.link-navbar
.publish-panel
.user-panel-ctnr .user-panel
.load-error-panel
.link-progress-tv
.news-notice-panel
  background-color var(--c-background) !important

.search-bar-ctnr .search-bar
.publish-panel .publish-list .publish-item:hover
.user-panel-ctnr .user-panel .content-ctnr .exit-btn:hover
.news-notice-panel .news-notice .news-list .news-item:hover
  background-color var(--c-hover) !important

.news-notice-panel .news-notice .news-list .news-item .type
  background-color var(--c-accent) !important

.link-navbar .nav-item:hover .nav-link .label
.search-bar-ctnr .search-bar input
.news-notice-panel .news-notice .news-list .news-item
  background-color transparent !important

.shortcuts-ctnr .shortcuts-ctnr-ul .shortcut-item .label-wrapper .label .text
.news-notice-panel .news-notice .more .icon-font
  color var(--c-title) !important

.shortcuts-ctnr
  margin 0 !important

.search-bar-ctnr .search-bar .search-btn
  vertical-align initial

.link-navbar .nav-item:first-child
  display block !important

  &::before
    top 13px !important
    left 13px !important
    width 30px !important
    height 30px !important

.link-navbar.black
  background-color var(--c-bg-header) !important
  backdrop-filter blur(5px)

.link-navbar .nav-item .nav-link .label
  margin 0 !important
  font-size 0 !important

.user-panel-ctnr .user-panel .content-ctnr .exit-btn
.news-notice-panel .news-notice .more
  border-top 1px solid var(--c-border)
  background-color transparent !important

.publish-btn
  height auto !important
  box-shadow none !important
  background-color transparent !important
  background-image none !important
  font-size 14px !important
  color var(--c-title) !important

  &:hover:after
    height 100% !important
    background-color var(--c-hover) !important