/* 详情页 */
#canvas-detail-comment-ctnr
.album-popup
.drawer-pop
  background-color var(--c-background) !important

.live-status.offline
.works-ctnr .header-ctnr .works-count
  background-color var(--c-hover) !important

.author-info .supporting-info .divider
  background-color var(--c-border) !important

button.more span
button.more .icon-font
.dashboard li .text
  color var(--c-text) !important

.dashboard li.like
button.more
  border-color var(--c-border) !important

.album-popup .album-pop-bottom ul li.normal
  vertical-align middle !important

.drawer-pop:after
  border-top: 14px solid var(--c-background) !important

.draw-list[data-v-6caf7b4c]
  border 0 !important
  background-color var(--c-background) !important

.article-content-ctnr
.comment-ctnr
  border 0 !important
  background-color var(--c-background) !important

.author-info
.dashboard
.works-ctnr
  border-color var(--c-border) !important
  background-color var(--c-background) !important

.ssr-content .main-ctnr
  display flex !important
  flex-direction column !important

.main-ctnr .main-section
  order 2 !important
  margin auto !important

.aside-section
  order 1 !important
  position inherit !important
  margin auto !important
  width 864px !important

  .aside-ctnr.attach-aside
    position inherit !important
    display flex !important
    flex-flow column wrap !important
    justify-content flex-end !important
    align-items center !important
    max-height 350px !important

    .works-ctnr
      margin-top 72px !important
      width: auto !important

      .slot-ctnr
        display: flex

        a .item-canvas
          margin-right: 17px;