/* 发布样式 */
.category-wrapper .upload-content
.set-copyright .copyright-icon .icon-none-copyright
  background-color var(--c-background) !important

.upload-image
.checkbox .radio-btn
.marquee
.agree-rule .checkbox
  background-color var(--c-hover) !important

.checkbox.checked .radio-btn
  background-color var(--c-border) !important

.add-tag .default:hover
  background-color transparent !important

.category-wrapper .dot
.checkbox.checked .radio-btn::before
.add-tag .default .btn-show
.tag .delete
.popup-bind-tip .title
.agree-rule .checkbox.checked
  background-color var(--c-accent) !important

.category-wrapper .tweet-title
  color var(--c-title) !important

.tag .delete
.popup-bind-tip .close
  color var(--c-white) !important

.add-tag .default:hover .placeholder
  color var(--c-accent) !important

.upload-image
.upload-image .upload-btn
.checkbox .radio-btn
.agree-rule .checkbox
.marquee
  border-color var(--c-border) !important

.checkbox.checked .radio-btn
.add-tag .default
  border 0 !important

.add-tag .tag-list .tag
  border 1px solid var(--c-border)

.submit-btn.pointer
  border 1px solid var(--c-accent)

.submit-btn
  box-shadow none !important

.add-tag .default .btn-show
.submit-btn
  background-image none !important

.category-wrapper .upload-content .title
  font-size 16px !important

.category-wrapper hr
  border-bottom 1 !important

.set-copyright .copyright-select-box::before
  border-color var(--c-border) transparent transparent var(--c-border) !important
  background-color var(--c-background) !important