.bili-footer
.video-info-module .number .u i
.video-toolbar-module .share-box:hover:after
.video-toolbar-module .app-box:hover::after
  display none !important

.bili-dialog .con .btn-close::after
.bili-dialog .con .btn-close::before
  background-color var(--c-text) !important

.bili-dialog .con .btn-close
.up-info-module
.video-box-module
.video-toolbar-module
.player-auxiliary-area .player-auxiliary-collapse-playlist .bui-collapse-body
.video-toolbar-module .share-box:hover
.video-toolbar-module .app-box:hover
  background-color transparent !important

.bili-dialog .con .btn-close:hover::after
.bili-dialog .con .btn-close:hover::before
  background-color var(--c-accent) !important

.watch-later-list header .t
.watch-later-list .list-box .av-item .key
.also-like .also-like__title
.video-toolbar-module .share-box .s-text .t
  color var(--c-title) !important

.video-info-module .tm-info time
.video-desc .reprint
.video-toolbar-module .share-box .s-text .icon
  color var(--c-text) !important

.watch-later-list .list-box .av-item .av-about
.bili-dialog .con header
.video-info-module .number .line
.video-tag
.video-desc
.video-toolbar-module .tb-line
.video-toolbar-module .share-box .share-popup .or-code
  border-color var(--c-border) !important

.video-box-module
.video-toolbar-module
.video-toolbar-module .share-box:hover
.video-toolbar-module .app-box:hover
  border 0

.video-toolbar-module .share-box:hover
.video-toolbar-module .app-box:hover
  box-shadow none

.video-info-module .tm-info
  margin 10px 0

.watch-later-list .list-box .av-item .av-about .info .state .btn-del:hover
  background-position -408px -1047px

.video-toolbar-module .share-box .share-btn ul li
  background-position-y -76px !important

.watch-later-list header .t em
  background-color transparent !important
  color var(--c-text) !important

.up-info-module .btn
  border-radius 4px
  overflow hidden

.up-info-module .btn.followed .b-gz
  width 100%
  border 0
  background-color transparent
