@-moz-document domain("csdn.net") {
	#passportbox,
	.login-mark,
	div.hide-article-box,
	#blogColumnPayAdvert,
	#asideHotArticle,
	#asideCategory,
	#asideNewComments,
	#asideArchive.aside-box,
	.more-toolbox-new,
	.reward-box-new,
	.first-recommend-box,
	.second-recommend-box,
	.comment-box,
	.recommend-tit-mod,
	.recommend-box,
	.template-box,
	.passport-login-container,
	.blog-footer-bottom {
		display: none !important;
	}
	#article_content {
		height: auto !important;
	}
}
