@-moz-document url-prefix("https://www.bilibili.com/")
  .bili-header
    .bili-header__bar
      .left-entry
        li:first-child
          span
            font-size: 0
          .mini-header__title
            display: none
          .v-popover span
            font-size: 100%
        li:nth-child(n + 7)
          display: none
      .right-entry
        .v-popover-wrap:nth-child(2)
        .right-entry-item--upload
          display: none
    .bili-header__channel
      .channel-icons
        display: none
