@-moz-document regexp("^.*www.bilibili.com/?((index\\.html)|(\\?.*))?")
  .single-card.floor-card
    border-color transparent !important

  .floor-single-card .title
    color var(--text1)

  .single-card.floor-card .badge
    background-color var(--bg2_float) !important

  .bili-feed4 .bili-header .slide-down
    box-shadow none !important
