@-moz-document regexp("^.*www.bilibili.com/?((index\\.html)|(\\?.*))?")
  @media (max-width 1099.9px)
    .bili-grid
      .video-card-list.is-main
      .bangumi-card-list
      .movie-card-list
      .cheese-card-list
      .manga-card-list
      .article-card-list
      .live-card-list
        grid-column span 4
      .video-card-list.is-main .video-card-body
      .bangumi-card-list .bangumi-card-shim
      .bangumi-card-data .bangumi-card-body.is-loading
      .movie-card-list .movie-card-body
      .cheese-card-list .cheese-card-body
      .live-card-list .live-card-body
        grid-column span 4
        grid-template-columns repeat(4, 1fr)
        >*
          display block !important

  @media (min-width 1100px) and (max-width 1700.9px)
    .bili-grid
      .video-card-list.is-main
      .bangumi-card-list
      .movie-card-list
      .cheese-card-list
      .manga-card-list
      .article-card-list
      .live-card-list
        grid-column span 5
      .video-card-list.is-main .video-card-body
      .bangumi-card-list .bangumi-card-shim
      .bangumi-card-data .bangumi-card-body.is-loading
      .movie-card-list .movie-card-body
      .cheese-card-list .cheese-card-body
      .live-card-list .live-card-body
        grid-column span 5
        grid-template-columns repeat(5, 1fr)
        >*:nth-of-type(n + 11)
          display block !important

  @media (min-width 1701px)
    .bili-grid
      .video-card-list.is-main
      .bangumi-card-list
      .movie-card-list
      .cheese-card-list
      .manga-card-list
      .article-card-list
      .live-card-list
        grid-column span 6
      .video-card-list.is-main .video-card-body
      .bangumi-card-list .bangumi-card-shim
      .bangumi-card-data .bangumi-card-body.is-loading
      .movie-card-list .movie-card-body
      .cheese-card-list .cheese-card-body
      .live-card-list .live-card-body
        grid-column span 6
        grid-template-columns repeat(6, 1fr)
        >*
          display block !important

  .bili-grid
    .area-header
      .right
        .roll-btn
          margin-right 46px
          padding 0
          border 0
          background-color transparent
          font-size 0
          &:hover svg
            transform rotate(180deg) !important
          svg
            margin-right 0
            width 26px
            height 26px
        .see-more
        .timeline-btn
          display none
    &.no-margin .bangumi-activity-area .area-header .right .roll-btn
    .live-card-list .area-header .right .roll-btn
    .variety-area .area-header .right .roll-btn
    .information-area .area-header .right .roll-btn
    .manga-card-list .area-header .right .roll-btn
      margin-right 0
    aside
      position absolute
      top 0
      right 0
      width 26px
      height 34px
      overflow hidden
      &.live-rank-conent
      &.aside-manga-rank-list
        display none
      .aside-wrap
        .aside-head .area-header .right
        .aside-body
          display none
        .aside-head .area-header .left .rank-title
          display flex
          align-items center
          margin 0
          padding 0
          width 26px
          height 26px
          border 0
          font-size 0
          &:hover
            background-color transparent
            &::before
              height 6px
            &::after
              height 24px
            span::before
              height 12px
            span::after
              height 18px
          &::before
          &::after
          span::before
          span::after
            content ''
            display inline-block
            margin-right 4px
            width 3px
            border-radius 2px
            background-color var(--text1)
            transition height 0.5s ease
          &::before
            height 10px
          &::after
            margin-right 0
            height 4px
          span
            display flex
            align-items center
            margin-right 0
            &::before
              height 24px
            &::after
              height 14px
