/* ==UserStyle==
@name           bilibili-core
@namespace      tolking-usercss
@version        1.0.0
@description    简化新版 bilibili 页面样式，仅包括主站相关界面
@author         tolking <qw13131wang@gmail.com>
@homepageURL		https://github.com/tolking/usercss/tree/master/bilibili-core
@supportURL			https://github.com/tolking/usercss/issues
@updateURL			https://tolking.github.io/usercss/bilibili-core/index.user.css
@license				MIT
@preprocessor		uso

==/UserStyle== */
@import 'header'
@import 'home'
