@-moz-document url-prefix("https://www.bilibili.com/video/")
  .ad-report
  .slide-ad-exp
  #activity_vote
    position absolute !important
    overflow hidden !important
    white-space nowrap !important
    margin 0 !important
    padding 0 !important
    height 1px !important
    width 1px !important
    clip rect(0 0 0 0) !important
    clip-path inset(100%) !important

  .bilibili-player
    box-shadow 0 0 8px var(--line_regular)
